[2020-08-19 09:51] martibenn commented on #256
https://github.com/angular/components/issues/20080
No help from Angular-Material 😐

[2020-08-19 11:54] macjohnny commented on #256
the problem is that in
https://github.com/angular/components/blob/1f6b90c0a515397526d7c6b35f047827bfaa8652/src/material/input/input.ts#L369-L374

the `this._formField` is the parent select component, since there is no form field surrounding the `matInput`.

A solution would be to remove the `matInput` directive and ensure that the correct styles are applied.
If anyone is willing to do this, it wou

[2020-09-01 10:51] framasev opened #258 "[FEATURE] RTL support"
**Is your feature request related to a problem? Please describe.**
Component doesn't support the RTL direction:  incorrect clear button display.
Demo: https://github-fwbgsk.stackblitz.io

[2020-09-01 13:17] macjohnny commented on #258
@framasev would you like to implement this feature?

[2020-09-01 13:37] framasev commented on #258
@macjohnny yes, I'll try to implement it.

[2020-09-02 22:50] begandroide commented on #249
Hello @macjohnny , Im using this lib and i find a bug like this, but a tiny different.

In the Stackblitz of this repo, precisely in mat-select multiple with toggle selection; here is the steps to reproduce it:
1. Open multiselector with toggle,
2. Click checkbox toggle all (select all)
3. Click Checkbox toggle again (unselect all)
4.  Make some search in mat-select, and click one of them
5. The p

[2020-09-03 01:37] begandroide commented on #249
A gif of the issue:

![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/22018004/92061465-611ca080-ed64-11ea-8de2-6820bf175245.gif)

[2020-09-03 07:40] macjohnny opened #260 "multiple selection not restored correctly after search"
In the Stackblitz of this repo, precisely in mat-select multiple with toggle selection; here is the steps to reproduce it:
1. Open multiselector with toggle,
2. Click checkbox toggle all (select all)
3. Click Checkbox toggle again (unselect all)
4.  Make some search in mat-select, and click one of them
5. The previous selection is selected, this is a error because previous we unselect all by toggl

[2020-09-03 08:19] macjohnny commented on #249
@begandroide thanks for reporting the issue. i created a separate issue #260

[2020-09-03 12:54] begandroide commented on #249
Thank you @macjohnny ! Subscribed to #260.

[2020-09-08 11:30] #258 closed

[2020-09-08 11:36] #256 closed

[2020-09-08 12:09] #253 closed

[2020-09-08 14:15] #260 closed

[2020-09-10 06:51] Ayoubane opened #263 "[BUG] No item highlighted if first option does not change"
This issue occurs "Sometimes" as shown in the picture below, where the pre-selector doesn't show on the elements of the list.
This doesn't allow us to choose an element by clicking the "Enter" button.

![image](https://user-images.githubusercontent.com/12896551/92691452-a2f4aa80-f353-11ea-9b09-86213be897eb.png)

[2020-09-10 07:19] macjohnny commented on #263
@Ayoubane can you please add some more details? please use the template: https://raw.githubusercontent.com/bithost-gmbh/ngx-mat-select-search/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-09-10 07:25] macjohnny commented on #263
## Version affected
3.1.0
## steps to reproduce
* open https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
* open the select in the "Single Selection" example
* type "sw"
* Observe that the first entry is not highlighted

This does not occur with version 3.0.3 (https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example/tree/3.0.3)

[2020-09-19 09:04] bulldog98 opened #265 "[BUG] multi selection with search does not refocus the search field after selection"
**Describe the bug**
If you try out the multiselect example it does not refocus the search field after making the selection, this is bad for keyboard oriented use.

**To Reproduce**
1. Go to https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fapp.component.html
2. Go to the example with multiselect
3. Type something in the search
4. Select one item with an ent

[2020-09-19 11:48] macjohnny commented on #265
@bulldog98 thanks for reporting this issue.
would you like to contribute a fix for this?

[2020-09-24 20:46] bulldog98 commented on #265
I'll have a look into it in the weekend.

[2020-09-25 18:43] bulldog98 opened #266 "[BUG] Misspelling of a property name"
**Describe the bug**
the input toogleAllCheckboxTooltipPosition is misspelled it should be toggleAllCheckboxTooltipPosition, since this a breaking change it needs to be handled with care

[2020-09-25 18:57] bulldog98 commented on #265
I had a look into it and the behaviour I want for single select works with `enableClearOnEscapePressed` set to `true`, but this does not work with `multi` set to `true`.

[2020-10-08 13:23] irowbin opened #268 "No placeholder when appearance mode to `fill`"
**Describe the bug**

when applying `appearance="fill"` on form field, the placeholder of select is disappear.

**To Reproduce**

[code]

**Expected behavior**

the placeholder should be there for `fill` appearance.

**Screenshots**

**Desktop (please complete the following information):**

OS: win 10
Browser: Chrome
version: 84

**Smartphone (please complete the following information):**

**Addit

[2020-10-08 17:01] macjohnny commented on #268
this does not seem to be related to `ngx-mat-select-search`, as it occurs without using the component, too:

https://stackblitz.com/edit/components-issue-8nftzp?file=src%2Fapp%2Fexample-component.html

please report the issue at https://github.com/angular/components/issues

[2020-10-08 17:02] #268 closed

[2020-10-17 14:22] #265 closed

[2020-10-17 14:27] #263 closed

[2020-10-17 14:34] macjohnny commented on #266
thanks for reporting this.
when a new major version is planned, this property will be renamed

[2020-10-17 14:47] macjohnny commented on #263
the fix was release with version 3.1.1

[2020-10-17 14:47] macjohnny commented on #265
the fix was release with version 3.1.1
thanks @bulldog98

[2020-10-23 12:35] gurjar-prasad opened #270 "[BUG] - Previously selected options getting deselect if modify the search"
Describe the bug:
Previously selected options getting deselect if modify the search

To Reproduce:

Go to https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
Scroll down to 'Multiple selection with Select All Checkbox'
Enter 'Bank C' in search
Click the select 'Bank C'
Select text 'Bank C' from search by double click on whole text or backspace and Change to 'Bank F'
Click the

[2020-10-23 13:00] pranavneeraj commented on #270
This Can be resolved by putting the below lines in src/app/mat-select-search/mat-select-search.component.ts(Line no. 661).

-       if (this.matSelect.multiple && !value.previousValue) {
+      if (this.matSelect.multiple) {

Explanation:

The issue was occurring due to when the user does the filtering and then selects any value and then does some more filtering for another selection the if condit

[2020-10-23 13:28] macjohnny commented on #270
Thanks for reporting and proposing a solution. Would you like to file a PR?

[2020-10-23 13:31] pranavneeraj commented on #270
Yes, But for filing PR will need permission for the repo. Thanks

[2020-10-23 13:44] pravin23pawar commented on #270
We are also facing the same problem and the above proposed solution seems to work with our problem too.
Please response. Thanks for your help.

[2020-10-23 14:05] macjohnny commented on #270
@pranavneeraj you can simply fork this repo, create a branch with the fix in the forked repo, and file a PR against the original repo

[2020-10-23 14:12] pranavneeraj commented on #270
@macjohnny Please check https://github.com/bithost-gmbh/ngx-mat-select-search/pull/271.

[2020-10-23 14:53] macjohnny commented on #270
@pranavneeraj somehow I am unable to reproduce  the issue:

[ngx-mat-select-search-issue-270.webm.zip](https://github.com/bithost-gmbh/ngx-mat-select-search/files/5430189/ngx-mat-select-search-issue-270.webm.zip)

can you please post a screen video of the reproduction steps?

[2020-10-23 15:03] pranavneeraj commented on #270
@macjohnny Please refer below recording for reference.
[bug_repr.zip](https://github.com/bithost-gmbh/ngx-mat-select-search/files/5430250/bug_repr.zip)

[2020-10-23 15:17] macjohnny commented on #270
thanks for the screen video, I can now reproduce the issue.

[2020-10-23 15:54] #270 closed

[2020-10-23 16:03] macjohnny commented on #270
the fix was release with version 3.1.2
thanks for reporting and trying to fix it!

[2020-10-23 16:55] pranavneeraj commented on #270
Thanks for your quick response.

[2020-11-02 15:41] jamiemac87 opened #274 "[Question]: Pressing ENTER toggles select all checkbox"
More of a question than anything else.

Is it possible to toggle the select all checkbox when the user presses the 'ENTER' key whilst the search input is in focus?

[2020-11-02 15:56] macjohnny commented on #274
the `ÈNTER` key toggles the selection of a single option in multi-selection mode.
The only behavior currently implemented in `ngx-mat-select-search` related to the `ENTER` key is the re-focusing of the search input field after pressing `ENTER`
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/3b37859e611b99f46976e48d2c58a377fb95754d/src/app/mat-select-search/mat-select-search.component.ts

[2020-11-02 16:47] jamiemac87 commented on #274
Yes this was a big help. Thank you for the prompt response.

For those who come to this later. If you want to set or patch the form control value I found that I had to call `event.stopPropagation();` in order to prevent the  form control value being updated twice

[2020-11-02 16:53] #274 closed

[2020-11-06 14:34] KernelPanic92 opened #275 ""placeholderLabel" should be "placeholder" according to the Angular Material naming conventions"
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/3b37859e611b99f46976e48d2c58a377fb95754d/src/app/mat-select-search/mat-select-search.component.ts#L133

[2020-11-06 14:37] KernelPanic92 opened #276 "default value of placeholder should be written in english"
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/3b37859e611b99f46976e48d2c58a377fb95754d/src/app/mat-select-search/mat-select-search.component.ts#L133`

[2020-11-06 14:40] KernelPanic92 opened #277 "noEntriesFoundLabel default value should be written in english"
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/3b37859e611b99f46976e48d2c58a377fb95754d/src/app/mat-select-search/mat-select-search.component.ts#L139

[2020-11-06 15:03] KernelPanic92 opened #278 "[BUG] [Angular 5] _countGroupLabelsBeforeOption' was not found in '@angular/material'"
**Describe the bug**

When I run the "ng serve" command I get an import warning

**To Reproduce**

1. run in terminal "ng serve"
4. See warning --> WARNING in ./node_modules/ngx-mat-select-search/fesm5/ngx-mat-select-search.js
633: 29-58 "export '_countGroupLabelsBeforeOption' was not found in '@ angular / material'

**Additional context**

"@angular/core": "^5.0.0"
"@angular/material": "^5.0.0"
"

[2020-11-06 15:33] KernelPanic92 commented on #278
`_countGroupLabelsBeforeOption` was introduced in version 5.2.2

[2020-11-09 19:59] macjohnny commented on #278
@KernelPanic92 thanks for reporting this. in your case, is it possible to update to material 5.2.2?

[2020-11-09 20:01] macjohnny commented on #275
good idea. do you want to create an alias?

[2020-11-09 20:02] macjohnny commented on #277
thanks for reporting.
english should have been chosen as the primary language. but in order to avoid breaking changes, I think we should close this issue

[2020-11-09 20:02] #277 closed

[2020-11-09 20:02] macjohnny commented on #276
see https://github.com/bithost-gmbh/ngx-mat-select-search/issues/277#issuecomment-724246319

[2020-11-09 20:02] #276 closed

[2020-11-13 14:47] broekema41 opened #279 "[BUG] MultiSelectedValues are lost if previousValue has not been empty"
**Describe the bug**
MultiSelectedValues are lost if previousValue has not been empty.

**To Reproduce**
 The Germany Banks are no longer in the selection.

**Expected behavior**
Bank J (Italy) should be added to all the Germany banks

**Screenshots**
![peek](https://user-images.githubusercontent.com/4007585/99084597-749b8180-25c7-11eb-9ecb-ac7826da1525.gif)

**Desktop (please complete the followi

[2020-11-13 15:04] macjohnny commented on #279
@broekema41 thanks for reporting. would you like to fix this?

[2020-11-15 11:09] broekema41 commented on #279
hello @macjohnny,

Pull request is open for your review. If you have any question, remarks do not hesitate to ask.

kind regards,
Roland

[2020-11-16 08:43] KernelPanic92 commented on #278
@macjohnny yes we are upgrading to angular 11 but it will take a while .. as soon as it is done we will use your component 😁

[2020-11-16 08:43] #278 closed

[2020-11-16 08:54] macjohnny commented on #278
@KernelPanic92 maybe you could use a versin lower than `1.8.0`

[2020-11-16 10:20] macjohnny commented on #279
@broekema41 your fix was released with version 3.1.3

[2020-11-16 17:18] KernelPanic92 commented on #275
yea

[2020-11-17 12:09] Daishy commented on #279
@macjohnny @broekema41
Hi :)
i'm just updating an app to angular 11 and bumbed the ngx-mat-select-search version from 3.0.3 to 3.1.3. With the new version I get null-references-failures, because `this.matSelect.ngControl` is null. This seems to be caused by the changes in `mat-select-search.component.ts`s `initMultipleHandling`. The previous access was just `this.matSelect.xxx` and the commit chan

[2020-11-17 12:30] #279 closed

[2020-11-17 12:31] macjohnny opened #281 "Cannot read property 'value' of null: this.matSelect.ngControl is null"
@macjohnny @broekema41
Hi :)
i'm just updating an app to angular 11 and bumbed the ngx-mat-select-search version from 3.0.3 to 3.1.3. With the new version I get null-references-failures, because `this.matSelect.ngControl` is null. This seems to be caused by the changes in `mat-select-search.component.ts`s `initMultipleHandling`. The previous access was just `this.matSelect.xxx` and the commit chan

[2020-11-17 12:34] macjohnny commented on #281
@Daishy thanks for reporting this issue.
the error occurs if there is neither an `ngModel` nor `formControl` directive connected to the `mat-select`.
as a quick workaround, you could just add `ngModel` without binding to any variable,
[code]
I think I will release a new version that does not depend on `ngControl` being present.

[2020-11-17 12:49] Daishy commented on #281
Thanks, i will try that. Currently there is neither in my setup, i just listened to the valueChange, so that checks out.

And a quick thanks for the nice component, it's a default-install in nearly all angular-projects i'm managing :)

[2020-11-17 12:58] #281 closed

[2020-11-17 13:01] macjohnny commented on #281
@Daishy a fix was released in version 3.1.4

[2020-11-21 14:46] manuchadha1979 commented on #3
Hi

I tried to use as follows `<ngx-mat-select-search [clearSearchInput]="false" formControlName="tagsFilterCtrl"></ngx-mat-select-search>` but when I click outside the search box, the typed value is cleared.

I want a functionality in which a search item doesn't exist in the list then whatever the user typed is still available as `value` of the control and then I want to use that value to search

[2020-11-21 15:16] macjohnny commented on #3
@manuchadha1979 please open a new issue with an example.

[2020-11-21 16:42] manuchadha1979 opened #284 "Use filter value as search value if it doesn't match with any of the option filteres"
**Is your feature request related to a problem? Please describe.**
I have a large list of items. I want the list to contain only a subset of them. The user should be able to use filter control to search among these fields. However, if the value is not present, I would would like to use the value in filter control to do a search on server side. At the moment, if the value in filter doesn't match wi

[2020-11-21 16:43] manuchadha1979 commented on #3
Done. Thanks - https://github.com/bithost-gmbh/ngx-mat-select-search/issues/284

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Esteban Gehring<mailto:notifications@github.com>
Sent: 21 November 2020 15:16
To: bithost-gmbh/ngx-mat-select-search<mailto:ngx-mat-select-search@noreply.github.com>
Cc: manuchadha1979<mailto:manu.chadha@hotmail.com>; Mention<mailto:m

[2020-11-21 17:58] manuchadha1979 commented on #284
The issue is marked closed but it isn't what I have in mind. `clearSearchInput` would keep the value entered in the filter but when the `ngx-mat-select` loses focus, it doesn't show the filter value in the closed select. It shows placeholder. This would cause confusion to the user whether the value they entered in filter has been used or not.

[2020-11-23 07:53] macjohnny commented on #284
@manuchadha1979
Please note that `mat-select` will show a placeholder if no available option is selected.

you could create an additional `mat-option` element with your desired value and mark it as selected, so the `mat-select` will show this value when it is closed.

[2020-11-25 07:25] directcuteo opened #285 "[BUG] Input is cleared if no results are found"
**Describe the bug**
I am using the `ngx-mat-select-search` to add multiple tags to a form. Everything works perfect except one thing: the select-trigger is cleared when there are no options after filtering.

**To Reproduce**
1. Open dropdown
2. Add a tag
3. Search a tag that doesn't match the already added tag
4. Look at the select trigger - it is now cleared (placeholder text is shown). In order

[2020-11-25 07:46] macjohnny commented on #285
hi
the origin of this issue is found in the `mat-select` component, since the currently selected value needs to be among the currently available options. if you use `ngx-mat-select-search`, the options not matching the search input will be temporarily removed, resulting in the `mat-select` showing the placeholder instead of the trigger.

https://github.com/angular/components/blob/34a43f62233790d08

[2020-11-25 07:46] #285 closed

[2020-11-25 08:04] macjohnny commented on #285
you could also just ensure the currently selected option is never filtered out from the result, and visually hide it if needed.

[2020-11-25 08:58] directcuteo commented on #285
Thank you for the suggestions. I've manage to achieve what I wanted with your tips 👍

[2020-11-25 19:23] #284 closed

[2020-12-05 14:58] GipHub123 opened #286 "Accessibility: add searchbox role"
**Describe the bug**

Accessibility related role-attribute is missing.

Chrome's Lighthouse plugin gives following warning.
"Elements with an ARIA [role] that require children to contain a specific [role] are missing some or all of those required children."

[code]

**Expected behavior**
Role -attribute is set

**Screenshots**

**Additional context**
 "ngx-mat-select-search": "^3.1.4",

Angular CL

[2020-12-05 15:50] macjohnny commented on #286
Thanks for reporting.
Would you like to fix this?

[2020-12-07 10:25] VanonckelenDieter opened #287 "Using a WAI-ARIA role to expose the role of a user interface component"
Hello,

I am using your component in my project and its performing well, thanks for that.

The only thing I noticed is that your component is not met with the success criteria of the accessibility guidelines AA because the elements are missing a 'role' attribute.

Maybe to make your component more attractive for government usage and make it more accessible for people with disabilities you can upda

[2020-12-07 11:19] macjohnny commented on #287
Closing as a duplicate of https://github.com/bithost-gmbh/ngx-mat-select-search/issues/286
@VanonckelenDieter would you like to fix it?

[2020-12-07 11:19] #287 closed

[2020-12-08 16:55] andreElrico opened #288 "[FEATURE] Directive to make "faster and easier" use of this component."
I wrote a directive that makes it more convinient to use this component.

My Question: Everything seems to work. However: I did not include this piece of code yet: Where could this bite me ? I dont really know what thats doing to be honest:

[code]
+ Stackblitz to directive
https://stackblitz.com/edit/github-gtncrt?file=src%2Fapp%2Fexamples%2Fmat-select-auto.directive.ts

[2020-12-09 14:04] vlio20 opened #289 "[FEATURE] disable clear search icon"
Would be great if the visibility of the search clear button would be configurable .
Something like, showClearSearch

[2020-12-09 14:07] vlio20 commented on #289
A workaround is to have something like that:
[code]

[2020-12-09 14:08] macjohnny commented on #289
sounds good, do you want to file a PR with an option for this? please also update the readme

[2020-12-09 14:11] macjohnny commented on #288
@andreElrico thanks for sharing the code. it would be great to include it in this repo, don't you think so?
would you want to file a PR with an example?

concerning your question: the code is necessary to set the initial selection. without it, the initial selection of the mat-select element will be empty

[2020-12-09 14:38] vlio20 commented on #289
Sure.

[2020-12-09 15:11] vlio20 commented on #289
checkout https://github.com/bithost-gmbh/ngx-mat-select-search/pull/290

[2020-12-14 09:10] andreElrico commented on #288
I think thats something interessting, but I didnt yet include the `setInitialValue` part. However it seems to work anyways :/

[2020-12-15 12:31] macjohnny commented on #289
@vlio20 thanks for your contribution, it was released in version 3.2.0

[2020-12-15 12:31] #289 closed

[2020-12-15 12:33] spanigrahi04 commented on #130
I'm using the ngx-mat-select-search and if I scroll the dropdown list from keyboard the highlighted option disappears after 10 down scrolls from top.

[2020-12-15 12:37] macjohnny commented on #130
@spanigrahi04 could you please open a new issue with an example?

[2020-12-16 01:21] eRamirezM opened #292 "[BUG] Options not adjusting to the component"
**Describe the bug**
When component is at the bottom on a scroll page the position of the options it is wrong

**To Reproduce**
Scroll the window and place the component near the bottom, like in this case **Single selection with custom clear icon**

<img width="396" alt="Screen Shot 2020-12-15 at 19 17 05" src="https://user-images.githubusercontent.com/42077009/102292157-3c5eca00-3f0a-11eb-8085-64

[2020-12-16 09:04] macjohnny commented on #292
@eRamirezM would you like to find a fix for this?
the panel is positioned after opening the select, see
https://github.com/angular/components/blob/3c37e4b1c1cb74a3d0a90d173240fc730d21d9d4/src/material/select/select.ts#L1214-L1222

however this is a private api
https://github.com/angular/components/blob/3c37e4b1c1cb74a3d0a90d173240fc730d21d9d4/src/material/select/select.ts#L1432-L1433
so I guess it

[2020-12-16 09:06] macjohnny commented on #286
related: https://github.com/angular/components/issues/21354

[2020-12-16 09:53] macjohnny commented on #286
I think we should add the `role="searchbox"` to the `ngx-mat-select-search` search input.
see https://github.com/angular/components/issues/21354#issuecomment-746008265

[2020-12-16 17:54] macjohnny commented on #286
this is not something we can fix in ngx-mat-select-search, since the it will only be rendered in the dom if the select panel is open. therefore, according to https://github.com/angular/components/issues/21354, the testing tools should be updated to support ARIA 1.2, which resolves the issue.

[2020-12-16 17:54] #286 closed

[2020-12-17 10:03] exptjs opened #293 "Add second line as informative"
Please add the ability to display the second line as informative (not for selection).
[code]
![add_second_line](https://user-images.githubusercontent.com/72014361/102473209-a3968e80-4070-11eb-9be7-e6f10d0952fe.png)

[2020-12-17 10:07] macjohnny commented on #293
if I correctly understand your request, this would be a feature to be implemented in the angular material library.
https://github.com/angular/components

[2020-12-17 10:07] #293 closed

[2020-12-17 18:15] bulldog98 commented on #293
You might be able to do this with mat-select-trigger and lots of css to style the selection

[2020-12-25 11:19] AhmadChishti opened #294 "[BUG]<ngx-mat-select-search> is working in multi select but console is showing error"
![image](https://user-images.githubusercontent.com/76586527/103133555-f4d7fb00-46cc-11eb-9d44-c8f6412c1aa6.png)

[2020-12-28 09:41] macjohnny commented on #294
the error occurs as intended:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/CHANGELOG.md#300

simply place the `<ngx-mat-select-search>` element inside a `<mat-option>`

[2020-12-28 09:41] #294 closed

[2020-12-28 13:15] AhmadChishti commented on #294
placing inside a <mat-option> single select works as well, but multi select does not work correctly.
The problem which I noted is that **noEntriesFoundLabel** not working.
If the problem has been fixed, than tell me how should I use it. I am using 3.2.0 version of ngx-mat-select.

[2020-12-28 13:31] AhmadChishti commented on #294
placing inside a **mat-option** single select works as well, but multi select does not work correctly.
 The problem which I noted is that **noEntriesFoundLabel** not working.
 If the problem has been fixed, than tell me how should I use it. I am using 3.2.0 version of ngx-mat-select.

[2020-12-28 13:44] macjohnny commented on #294
please have a look at the example:
https://github.com/bithost-gmbh/ngx-mat-select-search#try-it

here is an example with customized no entries found label and multi-select:

https://stackblitz.com/edit/github-ewzn66?file=src/app/examples/02-multiple-selection-example/multiple-selection-example.component.html

<img width="1214" alt="Bildschirmfoto 2020-12-28 um 14 43 02" src="https://user-images.gi

[2020-12-28 17:03] macjohnny commented on #292
closing due to lack of public api for panel positioning. also, it would be difficult to get a proper UX that avoids jumping around too much.

[2020-12-28 17:03] #292 closed

[2021-01-04 10:29] keyone2693 opened #295 "Custom Content in option ?"
my option is like this

` <mat-option *ngFor="let place of (_filteredPlace | async)?.value"
                    [value]="place.address"  class="h-auto">
                    <span>{{place.title}}</span>
                    <div class="alert alert-custom alert-notice alert-white fade show py-0 pr-0" role="alert">
                      <div class="alert-text">{{place.address}}</div>

[2021-01-04 10:41] #295 closed

[2021-01-05 15:55] smnbbrv commented on #288
@andreElrico thanks for the solution.

Here is mine with a component instead of directive:

[code]

and it's easy to use just like

[code]

However I don't anyhow feel this solution can be generalized. The way to search and other parameters such as i18n params are quite subjective.

Probably this issue should be resolved as an example-like / documentation solution.

[2021-01-11 14:26] Naveen29 opened #296 "Improve Example: Multiple selection with Select All Checkbox - show indeterminate state"
Hi,

Multiple selection with Select All Checkbox - after search and click select all its working fine,

when i remove the search text **Select All Checkbox** should show either with partial select or unselected because still i have not selected few items in my list.

![image](https://user-images.githubusercontent.com/29401430/104194179-f6345200-5446-11eb-9cd5-8571c9c8033f.png)

Source path : https

[2021-01-11 15:02] macjohnny commented on #296
you can use the following input to control the indeterminate state:

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/e35b16f2ff341f9a0a40bcb799121ba6df4403b4/src/app/mat-select-search/mat-select-search.component.ts#L181-L182

a contribution to improve the example would be appreciated

[2021-01-12 13:20] achilehero commented on #296
Hi Esteban!

You suggestion with using the input works fine. However, if I unselect all the options, (thus having no selected option), the state of the checkbox would still be indeterminate, although the correct display would be `unchecked`.

![image](https://user-images.githubusercontent.com/14956052/104319447-8d51e600-54e9-11eb-97cc-63528f644fec.png)

[2021-01-12 13:33] Naveen29 commented on #296
Hi,

Check this [link](https://stackblitz.com/edit/angular-uuw7qh-ninwen?file=app%2Fcheckbox-configurable-example.ts)  this function what we need exactly.

[2021-01-12 15:14] macjohnny commented on #296
@achilehero you need to set both of these inputs according the the current selection and the currently available options:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/e35b16f2ff341f9a0a40bcb799121ba6df4403b4/src/app/mat-select-search/mat-select-search.component.ts#L178-L182

[2021-01-12 20:29] achilehero commented on #296
@macjohnny , I am afraid I wasn't able to make it update correctly. If I set `toggleAllCheckboxIndeterminate = true` it doesn't matter if I set `toggleAllCheckboxChecked` to either true or false, it wouldn't clear the checkbox when no option is selected. Or maybe I didn't uderstand correctly what you said?

[2021-01-12 20:32] macjohnny commented on #296
You need to update the value of toggleAllCheckboxIndeterminate According to the selection. The input is directly set on the checkbox, allowing to fully control the state of appearance

[2021-01-12 20:35] achilehero commented on #296
So you mean I need to update that variable in my code, where I handle what's happening with selection, right?

[2021-01-12 20:38] macjohnny commented on #296
Yes

[2021-01-13 08:21] achilehero commented on #296
Here's an example where I tried to do what you suggested: https://github-vfjm6h.stackblitz.io . Even if the variable is updated, the view isn't. The only way I was able to make it work is by having a template reference to the mat-checkbox inside the ngx-select-search and setting the `checked` property on the MatCheckbox. So, please, if you have somewhere an example working with what you suggested,

[2021-01-14 00:45] Naveen29 commented on #296
Thanks for your effort, im not able to connect to above example url (https://github-vfjm6h.stackblitz.io/), can you plz check

[2021-01-14 09:57] achilehero commented on #296
Yes, sorry for the wrong link. Here's the correct one: https://stackblitz.com/edit/github-vfjm6h?file=src/app/examples/06-multiple-selection-select-all-example/multiple-selection-select-all-example.component.ts

[2021-01-14 16:34] macjohnny commented on #296
you need to update the state of the toggle all checkbox according to the current selection in your application, e.g.
[code]
see this example:
https://stackblitz.com/edit/github-vfjm6h-cypg3b?file=src%2Fapp%2Fexamples%2F06-multiple-selection-select-all-example%2Fmultiple-selection-select-all-example.component.html

[2021-01-14 17:01] #296 closed

[2021-01-14 19:38] achilehero commented on #296
I got the point on how to use it. Thanks for that! :) Still, I think there is a problem with the way MatCheckbox reacts to change and updates it's view when used with indetermined state. :( If you type something to restrict the matches, select all from the toggle checkbox and then unselect each selected option, you'll get the checkbox selected :(
![image](https://user-images.githubusercontent.com/

[2021-01-14 19:44] macjohnny commented on #296
@achilehero please open a new issue with detailed reproduction steps

[2021-01-15 12:13] achilehero opened #298 "[BUG]"
**Describe the bug**
Inconsistent behaviour of the toggleAll checkbox when handling selected options

**To Reproduce**
1. Use the `Multiple selection with Select All Checkbox` example.
2. Open the dropdown and clear the selection
3. Type `swi` in the search to filter some of the results. That way we have two possible options displayed
4. Click the togleAll checkbox to select all the options. toggl

[2021-01-15 13:18] macjohnny commented on #298
this problem occurs because
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/38a93b3c5911367bf7d002849cfac69be948b638/src/app/examples/06-multiple-selection-select-all-example/multiple-selection-select-all-example.component.html#L9
evaluates to `false` in all steps 1. to 5.

- after step 3: the checkbox is in the state
  - checked: false
  - indeterminate: false
- after step 4.: by click

[2021-01-15 22:02] achilehero commented on #298
True. And another way to resolve it would be (like I had the case in my app) to compare it with the filtered selection (i.e. have `(filteredBanksMulti|async).length` instead of `allBanksSize`. Do you you want me to push a PR with that so you could check it?

[2021-01-16 07:24] macjohnny commented on #298
@achilehero a PR would be appreciated

[2021-01-18 19:02] martin11cortes opened #299 "Setting value for multiselect not working"
I'm currently using multiselect with a long list of options and implemented as follows:

* Request all options from server to be displayed `this.cities`
* Setting the multiselect options
* Requesting the selected options from server `data.cities`
* Setting the selected values in the multiselect **not working somehow**

I'm unable to set the value with the data from the server, but I tried just (fo

[2021-01-19 08:30] macjohnny commented on #299
in order to select objects as the value of the `mat-option`, you should use a `compareWith` function to compare objects by e.g. an id and not by reference.
see
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/38a93b3c5911367bf7d002849cfac69be948b638/src/app/examples/02-multiple-selection-example/multiple-selection-example.component.ts#L67-L73

https://material.angular.io/components/selec

[2021-01-19 13:26] martin11cortes commented on #299
Thanks for your reply @macjohnny

But what I don't understand is why the line
`this.form.controls['cities'].setValue(this.citites)`
or even
`this.form.controls['cities'].setValue([this.citites[0], this.citites[100], this.citites[25], this.citites[45]])` for example
works without using the `compareWith` and the `setInitialValue` function, but the line
`this.form.controls['cities'].setValue(data.cit

[2021-01-19 13:37] macjohnny commented on #299
as far as I can guess, the difference between
[code]
and
[code]
is that although the content of `data.citites` and `this.citites` is the same, every time you load `data` from your backend, it will create a new object in the frontend, such that `data.citites !== this.citites` since the object references are not the same.

in your code, simply ensure the `compareWith` property is assigned after each

[2021-01-19 13:37] #299 closed

[2021-01-19 16:48] martin11cortes commented on #299
That was what I was looking for, that solved my problem. Thank you so much

[2021-01-20 10:37] achilehero commented on #298
https://github.com/bithost-gmbh/ngx-mat-select-search/pull/300

[2021-01-21 11:53] VanonckelenDieter opened #301 "[help wanted] Expression changed after it has been checked."
Hello,

I am using your component in a project and I got a recent bug report of an ExpressionChangedAfterItHasBeenCheckedError.

Normally or 99% of the time this is due to a programming bug of myself, but this time I can't find the cause of this error and I was hoping if I could get some extra information here to get this fixed.

This is a snapshot of the error thrown. I also want to point out tha

[2021-01-21 12:04] macjohnny commented on #301
Could you please create an example on stackblitz.com?
Could you please also paste your code?

[2021-01-21 12:38] VanonckelenDieter commented on #301
@macjohnny thanks for the quick reaction.

I am not sure if I can share the code since I do not own it, I can't take that risk, I hope you understand that.

My usage is pretty similar to the implementation guide.

[code]
[code]

When I enter a value that does not exist it crashes with the error. (ONLY LOCAL, that is the part I don't get)

[2021-01-21 12:57] macjohnny commented on #301
you could copy the relevant parts only, transcribing it so it demonstrates the functionality, but is not an unwanted disclosure of information, removing any unrelated code, thus not infringing the copyright of the owner

[2021-01-21 13:07] VanonckelenDieter commented on #301
@macjohnny I found the issue, its at my side. ngIf="searchable" is the problem due to being an @Input.

Thanks for the effort.

[2021-01-31 14:18] Supriya-bansal opened #302 "[BUG] : The currently selected option hidden under the search input field"
The currently selected option hidden under the search input field when opening the options panel.

When we have a default value selected for the dropdown, focusing search input hides the selected option behind the input and hence not visible to the user. On the contrary it would be nice for the user if the selected option is visible on opening the panel.

[2021-02-01 08:51] macjohnny commented on #302
@Supriya-bansal could you please provide a demo with your code e.g. on stackblitz.com?

does your issue also occur in the example https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example ?
if so, what are the steps to reproduce it?

[2021-02-09 11:38] lav77kush commented on #181
@macjohnny thanks for your valuable suggestions. it worked after downgrading ngx-mat-select from 3.2.0  to 1.8.0

[2021-02-17 12:51] macjohnny commented on #302
can't reproduce, closing the issue
@Supriya-bansal if you still encounter this issue, please provide reproduction steps and an example, so I can re-open this issue.

[2021-02-17 12:51] #302 closed

[2021-02-23 00:02] long2know opened #303 "Accessibility Bug"
Currently, when the mat-select w/ ngx-mat-select-search is expanded, the number of items is misreported using NVDA.

In the speech viewer, we see something like this upon expansion:

[code]
In my test, there are actually (48) items and the initial item selected should be (1 of 48).

Additionally, when the items in the list are filtered, there is no announcement of the number of items that are curr

[2021-02-23 09:10] macjohnny commented on #303
@long2know would you like to improve the accessibility?

the relevant code is located here:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/38a93b3c5911367bf7d002849cfac69be948b638/src/app/mat-select-search/mat-select-search.component.ts#L469-L500

- the offset should be easy to fix
- the total number of items to be announced should be passed as an input

[2021-03-05 14:58] tricasoft opened #304 "[BUG] When used with cdk-virtual-scroll-viewport it doesn't display the value"
**Describe the bug**
When used with cdk-virtual-scroll-viewport with a big list of items, it doesn't display the value in the input after selecting a searched item.

Check the bellow code:
<mat-select formControlName="solCompany" placeholder="Sol Company" #singleSelect1 (selectionChange)="getList()">
          <mat-option>
            <ngx-mat-select-search [formControl]="filterSolString" [placeho

[2021-03-05 19:14] macjohnny commented on #304
Thanks for reporting.
Do you think this could apply to your situation?
https://github.com/bithost-gmbh/ngx-mat-select-search/issues/285#issuecomment-733528609

it would be great if you could setup a quick demo on stackblitz for further investigation

[2021-03-13 10:45] ng-Ilir opened #306 "the mat-select containing ngx-mat-select-search must have a ngModel or formControl directive when multiple=true[BUG]"
I am having this issue when the app is up and running.  This is the code I wrote:
[code]

[2021-03-17 19:35] macjohnny commented on #306
the error occurs due to this code:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/38a93b3c5911367bf7d002849cfac69be948b638/src/app/mat-select-search/mat-select-search.component.ts#L559-L563

in order for it to work in your code, you need to change
[code]
to
[code]

[2021-03-18 08:37] saithis commented on #306
Why is this not a bug? Previous versions worked with [value] binding.

[2021-03-18 18:18] macjohnny commented on #306
Currently, this is a technical limitation when using multiple=true, so currently we need to require ngModel or formControl in order for it to work properly. If anyone can find a better solution, I would be happy to include it, but so far multiple=true handling has been very tricky and had many bugs.

[2021-03-25 11:41] dnsoumik opened #307 "[BUG] Can you give option to rename this label "Suche""
Just give an option to rename this label `"Suche"
![Screenshot from 2021-03-25 17-08-33](https://user-images.githubusercontent.com/30685539/112467515-26746700-8d8d-11eb-9ee2-9b74925c1a32.png)

[2021-03-25 16:17] macjohnny commented on #307
The input „placeholderLabel“ allows to specify a custom label, see https://github.com/bithost-gmbh/ngx-mat-select-search#inputs

[2021-03-25 16:17] #307 closed

[2021-03-26 07:31] dnsoumik commented on #307
Thanks for the help :)

[2021-03-28 10:00] dnsoumik opened #308 "[BUG] ng build --prod failed due to "kind" of undefined"
ERROR in ./node_modules/ngx-mat-select-search/fesm5/ngx-mat-select-search.js
Module build failed: TypeError: Cannot read property 'kind' of undefined
    at isAngularDecoratorMetadataExpression (X:\github\xlayer\mtime\portal\service_provider\node_modules\@angular-devkit\build-optimizer\src\transforms\scrub-file.js:242:35)

"dependencies": {
        "@angular-devkit/core": "^0.6.8",
        "@angul

[2021-03-29 19:44] macjohnny commented on #308
You should update angular devkit build tool, see https://github.com/bithost-gmbh/ngx-mat-select-search/issues/211#issuecomment-586960321
Please let me know if it is a different issue

[2021-03-29 19:44] #308 closed

[2021-03-29 21:12] tricasoft commented on #304
Thanks for replying, sorry for writing so late...

I made a stackblitz:
https://github-9fxc91.stackblitz.io

If you search for Bank Q and select it, you'll see that the field remains empty afterwards...

It would be nice if you can help me spot the issue, because I have some big lists I want to display and I can't use the cdkVirtualFor because of this... and it's very slow with *ngFor...

Many tha

[2021-04-01 07:55] boscharnau opened #310 "[BUG] Input isn't added"
I am having the issue that the input doesn't appear. I don't understand what I am missing. I have just copied the code of the example:

client.input.component.ts
[code]

client.input.component.html
[code]

package.json

[code]

![image](https://user-images.githubusercontent.com/71315068/113825020-c3b59f00-9780-11eb-81a2-74156c1f6cff.png)

[2021-04-06 05:24] macjohnny commented on #310
Which browser are you using?
Can you inspect the html code in the browser and check whether the placeholder attribute of the input field is there?

[2021-04-07 06:37] boscharnau commented on #310
I am using Google Chrome. The input field isn't there. Neither the ngx-mat-select-search tag.

Some compatiblies issues maybe? I don't understand why the input field isn't there.

![image](https://user-images.githubusercontent.com/71315068/113821252-26586c00-977c-11eb-8a71-94b50c95de7a.png)

[2021-04-07 08:06] avalynn-tan commented on #310
Reinstall all dependencies using `yarn install` worked for me.

[2021-04-07 08:12] boscharnau commented on #310
It is solved.

[2021-04-07 08:12] #310 closed

[2021-04-08 08:49] boscharnau opened #311 "[QUESTION] How to set a default value using server look up"
Hi,

I want to set the initial value on the input. I have tried multiple things, but no matter what I do, I can't set the initial value to the input.

Let me explain my application. I have an Object Project, which has assigned a Customer. So, if I am editing an existing Project the input has to show it's customer name.

I am not able to ````setValue()```` to the input if we got ````customerIdProje

[2021-04-08 11:30] macjohnny commented on #311
Does this help you?
https://github.com/bithost-gmbh/ngx-mat-select-search/issues/299#issuecomment-762843609

[2021-04-08 16:50] jgragim commented on #301
I don't think this issue is solved.

The error _ExpressionChangedAfterItHasBeenCheckedError_ appears when using `*ngIf` in `<ngx-mat-select-search>` and filtering the options so no option is found.

From your demo page, you can just try this:

[code]

The same error occurs if you place the `*ngIf` in the `mat-option` instead:

[code]

I think this should work and this issue should be open again.
A

[2021-04-08 18:23] macjohnny commented on #301
@jgragim do you want to find a fix?

[2021-04-09 07:12] jgragim commented on #301
I'm afraid I don't know how to fix this. When I face the error _ExpressionChangedAfterItHasBeenCheckedError_, it is always because of changes in the `*ngIf` value, and I always fix it using `setTimeout()`. But in this case the `*ngIf` value is static, there is no change. I don't understand why this is happening 😞 .

[2021-04-12 09:29] boscharnau commented on #311
No! It didn't help me.

[2021-04-12 18:29] muditaggarwal2001 commented on #165
I had the same issue but I was able to get around this problem by including 'https://fonts.googleapis.com/icon?family=Material+Icons' in the app. It seems the example above also has it in index.html file of the app. If the library has dependency on it, then I believe documentation should have specified it.

[2021-04-12 19:45] macjohnny commented on #165
@muditaggarwal2001 thanks for the info. Do you want to improve the docs?

[2021-04-13 18:01] muditaggarwal2001 commented on #165
Sure, no problem. But, shouldn't that style be made part of library instead avoiding the extra step for the app owners to add a global style?

[2021-04-13 18:53] macjohnny commented on #165
The icon fonts/styles should be configured globally when setting up angular material.
See
- https://material.angular.io/components/icon/overview

[2021-04-13 21:44] mglennwithers commented on #301
In my case I was including my select options in a property of an input, so I had to implement ngDoCheck in order to pick up the changes. The error went away when I added a manual call to change detection at the end of my ngDoCheck.
My ngDoCheck code was:

[code]

I hope that helps.

[2021-04-15 15:31] muditaggarwal2001 commented on #165
@macjohnny you are right.
Sure, I can update the readme file for it.

[2021-04-20 23:32] Knoxvillekm commented on #311
Add an invisible option for the selected value.
[code]

[2021-04-27 11:46] vvkotov commented on #85
Hi @macjohnny ,
what about making `mat-option` container sticky?
It seems this way there is no blinking option behind **ngx-mat-select-search**([check single selection example](https://stackblitz.com/edit/github-1knpuj?file=src/app/examples/01-single-selection-example/single-selection-example.component.scss))

[2021-04-27 12:10] macjohnny commented on #85
Thanks for the suggestion. However, on a mobile device with iOS/Chrome, the search input is not visible initially:
![B2072376-E929-4B89-B8EF-3C089313AF6B](https://user-images.githubusercontent.com/5589029/116238897-461ef680-a762-11eb-914a-20011f98b4c6.jpeg)

[2021-04-30 14:32] gustavovitor commented on #301
@macjohnny @jgragim
The *ngIf need to be or in the select or in the mat-option with select inside like this:

`<mat-option *ngIf="searchable">
      <ngx-mat-select-search [formControl]="filter" placeholderLabel="Pesquise" noEntriesFoundLabel="Nenhum registro encontrado..."></ngx-mat-select-search>
    </mat-option>`

I think the search component is filtering the mat-option with the ngx-mat-select

[2021-04-30 14:36] gustavovitor commented on #301
The error is here:
![image](https://user-images.githubusercontent.com/37344068/116710461-2aa52d00-a9a8-11eb-9d14-4c9ed9bdd04b.png)

On: src/app/mat-select-search/mat-select-search.component.ts

[2021-04-30 14:45] gustavovitor commented on #301
Well, simply change this line of code to this:
![image](https://user-images.githubusercontent.com/37344068/116711675-76a4a180-a9a9-11eb-859c-49745cc085b6.png)

The option list is here, so I can use it.

Why the check is > 1? Because the search element is one option inside the mat-select.

[2021-05-10 08:52] MiroslavGrozdanovski commented on #104
Hi @macjohnny,

I'm currently adding this library into our app, and because there are a lot of select components that need this, I'm trying to implement an additional directive. For now I'm only concerned with the simplest case, single selection with client-side data.

A directive that will offload some of the repetitive filtering work is not that difficult to be implemented, probably with some tw

[2021-05-10 18:31] macjohnny commented on #301
@gustavovitor I can't reproduce the issue. here is the code I used:
https://stackblitz.com/edit/github-2lbwu4?file=src%2Fapp%2Fexamples%2F01-single-selection-example%2Fsingle-selection-example.component.html

can you provide a link to an example that exhibits the behavior described?

[2021-05-10 18:52] macjohnny commented on #301
for some reason I don't see this error in the console...

[2021-05-11 15:46] bi1a1asghar opened #319 "[Help Needed] Need fully functional Example"
Hi, Could you please provide working example which includes below feature

Search
Select All
Multiselect
Infinite scroll

In your given stackblitz example, these are separate examples and I am unable to combine them so that fully functional dropdown can work.

[2021-05-11 16:21] macjohnny commented on #306
@angelaki thanks for your comment. Please open a new issue, preferrably with a demo

[2021-05-11 16:24] macjohnny commented on #319
Please provide a demo of your current code. You can use https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example as a starting point

[2021-05-11 16:29] bi1a1asghar commented on #319
[<div class='form-series'>

  <form *ngIf="showFilters" [formGroup]="form" class="form-wrap">
    <div>
      <mat-form-field *ngFor="let item of this.DimensionsList; let i = index" class="full-width">
        <mat-label>{{item.headerName}}</mat-label>
        <mat-select #matselects multiple formControlName="{{i}}" msInfiniteScroll (infiniteScroll)="getNextBatch(i)"

          <ngx-mat-select-sea

[2021-05-11 17:08] angelaki opened #320 "[Feature Request] Elements lost when selecting elements using infinity-scroll"
Checking the components code I found out that you probably use the `initMultipleHandling()` method to reset selected elements that were lost due to an active filter on de- / selecting new values.

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/04253a3821f3abd0e481cc22a9aa80670459c37e/src/app/mat-select-search/mat-select-search.component.ts#L560

I've seen you're only doing this check i

[2021-05-13 14:28] Khazii opened #321 "[BUG] Package breaks when updating Material to v12"
**Describe the bug**
Just finished updating my application to Angular v12 & Material v12 - it seems ngx-mat-select-search relied on some exports that no longer exist / are renamed in Material v12. Error below

**To Reproduce**
1. Update to Angular/Material v12
2. Embrace error message when serving application

**Additional context**

CLI Error:
```node_modules/ngx-mat-select-search/__ivy_ngcc__/fe

[2021-05-13 17:19] macjohnny commented on #321
This is already addressed in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/318 and will be released on 2021-05-17

[2021-05-13 19:17] gustavovitor commented on #301
Sorry, I haven't had time to see the bug yet, @macjohnny. I will try to see this weekend.

But you probably don't see the error because of the browser, I'm using Brave Web Browser.

[2021-05-13 19:35] Khazii commented on #321
Cheers for fast reply, sorry - missed that post.

[2021-05-14 15:24] angelaki commented on #320
Hey @macjohnny, since I've seen you're going to update your lib due to MatSelect 12.0, how about respecting this bugfix with it? ;)

[2021-05-14 16:38] macjohnny commented on #320
Thanks for the reminder, will look into this

[2021-05-14 17:23] angelaki commented on #320
If you'll fix it, I have to thank you! It is actually pretty important to **me** 😅

[2021-05-17 06:56] Amolip opened #322 "[BUG]"
The currently selected option might be hidden under the search input field when opening the options panel and the panel is at the screen border.

[2021-05-17 11:29] macjohnny commented on #322
this is a known problem, see https://github.com/bithost-gmbh/ngx-mat-select-search#known-problems
unfortunately, fixing this is not straightforward, so any suggestion is appreciated

[2021-05-17 11:55] macjohnny commented on #301
@gustavovitor had to revert https://github.com/bithost-gmbh/ngx-mat-select-search/pull/313 due to https://github.com/bithost-gmbh/ngx-mat-select-search/pull/313#issuecomment-837165964

[2021-05-17 11:59] macjohnny commented on #321
released in 3.2.1

[2021-05-17 11:59] #321 closed

[2021-05-17 12:11] macjohnny commented on #320
@angelaki I am hesitant to enable the selected option restoration when filtering is not active, but I think we could add an input to make this configurable, would you like to implement this? could be released soon.

[2021-05-17 13:51] angelaki commented on #320
Sure, here we go: https://github.com/bithost-gmbh/ngx-mat-select-search/pull/324

[2021-05-18 11:19] MiroslavGrozdanovski commented on #104
@macjohnny, do you have an idea how can we use these directives to implement filtering through option groups in a generic way?

I tried something, but it was not successful. Basically the idea is to inject the Option Groups and entirely hide all groups which don't have any options that match the current search term. I was not able to inject child structural directives into a parent structural dire

[2021-05-19 06:27] Amolip commented on #322
###  old Code

<div>
  <label class="ctr_label"> Country</label>
  <mat-form-field class="matFormField_custom" appearance="standard">

    <mat-select [compareWith]="compareFn" [formControl]="country" panelClass="matSelect_custom" placeholder="Select"
      (selectionChange)="getSelectedCtrVal()" disableOptionCentering multiple
      [ngClass]="!changeCountryArrow ? 'brand-type' : 'select-arrow-up

[2021-05-19 11:55] #320 closed

[2021-05-19 12:05] macjohnny commented on #322
can you provide a demo based on https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?

[2021-05-19 12:06] macjohnny commented on #319
please provide an online demo, like https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example

[2021-06-01 12:50] GillesPl commented on #322
It seems to me, adjusting the compare function did not fix anything. The fix proposed by Amolip patches the problem in his use-case but doesn't tackle the underlying issue.

Looking at the behaviour it seems that when you update the option list (with a new updated list via network call) it has no notion of the new data, and thus the compare function fails because the Option list is outdated and do

[2021-06-03 13:40] souhilomeiri opened #327 "'ngx-mat-select-search@3.3.0' is not in the npm registry"
I have this new issue, knowing that I have been using this package for over a year already. but to day i have this issue
$ npm i ngx-mat-select-search
npm ERR! code E404
npm ERR! 404 Not Found - GET http://xxxx/nexus/content/groups/xxxxx/ngx-mat-select-search
npm ERR! 404
npm ERR! 404  'ngx-mat-select-search@3.3.0' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (o

[2021-06-03 16:00] macjohnny commented on #327
Version 3.3.0 is published in the npmjs.com registry:
https://www.npmjs.com/package/ngx-mat-select-search/v/3.3.0

please check with your administrator why your local registry can‘t resolve it.

[2021-06-27 13:47] SanjanaRajasekar commented on #40
Can you please help me to solve how to set the default values to ngx-mat-select-search 'multiselect' dropdown ?

[2021-06-28 05:56] macjohnny commented on #40
@SanjanaRajasekar please open a new issue with a demo

[2021-07-14 04:17] SanjanaRajasekar opened #328 "[BUG]"
I am using multiple select  dropdown using ngx-mat-select-search dropdown,I have loaded the values in dropdown coming from server side. Search , Select all and unselect all functionality is working fine. The problem is I wanted to set default value to it where values coming from **@Input() selected_ids:any[] = [];**
The screenshot below is set of dropdowns am using,
![Development _ Ti](https://use

[2021-07-14 09:49] Ajtak opened #329 "[FEATURE] Clear selected value"
I miss the cross for clear selected value in not-opened dropdown. `clearSearchInput = true` is only for clear input field, not for selected value.

[2021-07-14 10:13] macjohnny commented on #329
Can you e.g. add a sketch how it should look like?

[2021-07-14 15:23] GreyM22 commented on #200
I tried the solution to this issue and it didn't work.  The solution given by `vladimir-poma` has syntax error and it seems like he didnt even test it. It didnt work and it keeps scrolling on top. Please can some one tell if there is a way to stop the scrolling of the mat select when you add new data?

[2021-07-15 04:22] Ajtak commented on #329
![Animation](https://user-images.githubusercontent.com/4963819/125728488-a7cbe415-78de-4dbd-ac3d-524cab24ec5a.gif)

[2021-07-15 12:00] macjohnny commented on #329
I think this is out of scope for this project, as it would be a feature unrelated to searching the dropdown fields. However, feel free to implement it and publish it as a separate project.

[2021-07-15 12:00] #329 closed

[2021-07-22 02:59] almeidais commented on #284
@macjohnny did you get a solution for this problem? I'm facing the same using a paginated multiple mat-select that does server side filtering.

[2021-07-22 08:24] macjohnny commented on #284
@almeidais does https://github.com/bithost-gmbh/ngx-mat-select-search/issues/284#issuecomment-731990665 work for you?

[2021-07-22 15:23] #328 closed

[2021-07-22 15:30] SanjanaRajasekar opened #330 "How to set default value to particular dropdown in ngx-mat-select-search in multiple select?"
I have n number of multiselect dropdown using ngx-mat-select search. I wanted to set default value to particular dropdown.Instead of setting particular value i am getting all value selected[see first image][1]. The expected output is [see second image][2]. The default value to all dropdowns have passed in selected_ids variable. If i console selected_ids, i get only the particular dropdown value ot

[2021-07-23 02:04] almeidais commented on #284
@macjohnny I ended up doing that, but I was hoping there would be a more native way of achieving it without having to present potentially dozens of selected items at first.

[2021-07-23 06:24] macjohnny commented on #330
Can you extend the snippet of your template? How do you render the multiple selects?

[2021-07-23 06:52] SanjanaRajasekar commented on #330
import { Component, OnInit, Input, ViewChild, OnDestroy, EventEmitter, Output, Optional, Self, SimpleChanges, ChangeDetectorRef, forwardRef, AfterViewInit } from '@angular/core';
import { FormBuilder, FormGroup, Validators, ControlValueAccessor, NgControl, NG_VALUE_ACCESSOR } from '@angular/forms';
import { takeUntil, take, distinctUntilChanged } from 'rxjs/operators';
import { MatSelect } from '@

[2021-07-23 09:54] macjohnny commented on #330
Please use markdown codeblocks to format your code: https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks

[2021-07-25 22:37] santhipriyaNeppali opened #331 "[FEATURE]"
**Describe the bug**
In the Multiselect field, the Select All checkbox is not selectable using the keyboard either by SPACE / TAB. And once the user navigates through options in multi-select there is no way to reach the search field back using the keyboard alone.

**To Reproduce**
1) Open Multiselect type dropdown with Select all checkbox, try to select using the only keyboard.
You can use https:/

[2021-08-03 15:54] myname-gokul opened #332 "[BUG]"
**Describe the bug**

**To Reproduce**

*Important* Please provide a reproduction example. You can use https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example as a starting point

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

**Smartphone (please complete the following information):**

**Additional context**
Add any other context

[2021-08-03 15:57] myname-gokul opened #333 "[BUG] I tried to input a text with underscore(_) for searching, but the searcher didn't fired. Same for all the text typed after typing underscore. But deleting any character invokes it. Eg input : 'test_1' will not invoke searcher. it will invoke searcher till 'test'"
**Describe the bug**

**To Reproduce**

*Important* Please provide a reproduction example. You can use https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example as a starting point

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

**Smartphone (please complete the following information):**

**Additional context**
Add any other context

[2021-08-06 06:52] #332 closed

[2021-08-06 06:55] macjohnny commented on #333
typing underscore works as expected:
https://stackblitz.com/edit/github-hscyuw?file=src%2Fapp%2Fexamples%2Fdemo-data.ts

<img width="1185" alt="Bildschirmfoto 2021-08-06 um 08 54 01" src="https://user-images.githubusercontent.com/5589029/128469099-7650c6e3-d5b4-44e1-a8b7-26bdb9fde823.png">

If you still believe this is an issue in ngx-mat-select-search, please open a new issue, fill in the issue t

[2021-08-06 06:55] #333 closed

[2021-08-06 07:09] macjohnny commented on #331
@santhipriyaNeppali thanks for raising this issue. would you like to propose a solution?

[2021-08-06 07:19] macjohnny commented on #319
closing due to inactivity

[2021-08-06 07:19] #319 closed

[2021-08-06 07:27] macjohnny commented on #311
@boscharnau is this resolved?

[2021-08-12 11:28] ajuanjojjj commented on #310
It's happening to me too, and `npm install` does not seem to fix the issue.

[2021-08-20 09:09] HabelC opened #336 "BUG with select all checkbox"
**Describe the bug**
Checkbox "Select all / unselect all" is checked even if not all list elements are checked

**To Reproduce**
https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
1. click in "Tooltip on the Select All Checkbox"
2. type "J"
2. click checkbox "Select all / unselect all" -> "Bank J (Italy)" and checkbox "Select all / unselect all" is checked
3. close list by cl

[2021-08-20 09:11] macjohnny commented on #336
duplicate of https://github.com/bithost-gmbh/ngx-mat-select-search/issues/219

[2021-08-20 09:20] HabelC commented on #219
I set the toggleAllCheckboxChecked and also check its state, but nevertheless it does not work. Please follow my bug description.

[2021-08-20 09:24] macjohnny commented on #336
do you want to fix the examples?

[2021-08-31 06:07] HabelC commented on #336
I only mentioned the examples, because it's the same behavior as in my application.

As you can see below, I added [toggleAllCheckboxChecked]="allSelectedChecked.locations" to my ngx-mat-select-search.
For test purposes I added (focus)="onFocusFilter()" to my mat-select with a console.log('----- onFocusFilter() this.allSelectedChecked', this.allSelectedChecked['locations']);
Even if this.allSelect

[2021-09-21 19:59] JustinAtanasiu commented on #200
@GreyM22  I just had this problem and I think I found a solution.

Looks like the jump is triggered by `adjustScrollTopToFitActiveOptionIntoView`: [https://github.com/bithost-gmbh/ngx-mat-select-search/blob/4138c7523db4b580bb641840d08331808e14a781/src/app/mat-select-search/mat-select-search.component.ts#L571-L591](url)

This can be solved by calling: `this.matSelect._keyManager.setActiveItem(index

[2021-10-07 00:04] MoishyS commented on #311
we can solve the issue partially, by only showing options that are not in the filtered results [stackblitz](https://stackblitz.com/edit/github-vjdh8n-dinzm3?file=src%2Fapp%2Fexamples%2F05-server-side-search-example%2Fserver-side-search-example.component.ts)
[code]
it's still an issue when you deselect all, it will also deselect the options that aren't included in the filtered results.

[2021-10-07 03:25] MoishyS commented on #311
ok, was able to solve it, by only showing the options if search ctrl is empty [stackblitz](https://stackblitz.com/edit/github-a4bxcs?file=src%2Fapp%2Fexamples%2F05-server-side-search-example%2Fserver-side-search-example.component.ts)
[code]
also need to remove `filter((search) => !!search)` as we won't hide the options when the select is visible, and will then have the issues with ctrl+a.

my ques

[2021-10-07 06:25] macjohnny opened #339 "Bug: multiselect loading from server deselects all"
Another issue when using multi-select, when you deselect the last one from filtered results, it will deselect all, included previous selected values [stackblitz](https://stackblitz.com/edit/github-vjdh8n-zw4tid?file=src%2Fapp%2Fexamples%2F05-server-side-search-example%2Fserver-side-search-example.component.tsl)
![yeqIVVnXAd-output](https://user-images.githubusercontent.com/46120703/136295633-d5800

[2021-10-07 06:28] macjohnny commented on #339
ok, was able to solve it, by only showing the options if search ctrl is empty [stackblitz](https://stackblitz.com/edit/github-a4bxcs?file=src%2Fapp%2Fexamples%2F05-server-side-search-example%2Fserver-side-search-example.component.ts)
[code]
also need to remove `filter((search) => !!search)` as we won't hide the options when the select is visible, and will then have the issues with ctrl+a.

my ques

[2021-11-05 10:08] ndjordjevic commented on #301
This worked for me:
`      setTimeout(() => {
        this.searchable= true;
      }, 0)`

[2021-11-05 12:58] ErVishalM opened #340 "Angular 13 compatibility"
Hi,

I was trying to update to angular 13 but I am getting this error when I am running below command -
`npx @angular/cli@13 update @angular/material@13`
Error-
`npx @angular/cli@13 update @angular/material@13
Using package manager: 'npm'
Collecting installed dependencies...
Found 52 dependencies.
Fetching dependency metadata from registry...
                  Package "ngx-mat-select-search" has a

[2021-11-05 14:43] macjohnny commented on #340
Currently, you need to use —force

i will soon update the package to officially add angular 13 compatibility

[2021-11-06 17:23] macjohnny commented on #340
ngx-mat-select-search@3.3.2 is compatible with Angular 13

[2021-11-06 17:23] #340 closed

[2021-11-10 18:15] syrok0010 opened #343 "[BUG] The application fails in runtime when use this component"
Describe the bug
The page with the component doesn't open

To Reproduce
Follow the docs:
1. Add NgxSelectSearch to module
2. Add ngx-mat-select-search in component
3. Get Error

[code]

Expected behavior
Add search to mat-select

Desktop (please complete the following information):
 - OS: Win11
 - Browser Firefox
 - Version 94.0.1

Additional context
Material and CDK version 12; Core, CLI, Common,

[2021-11-10 18:23] macjohnny commented on #343
Can you update Material and CDK to version 13?
Which version of ngx-mat-select-search are you using?

can you paste your package.json?

[2021-11-10 18:24] syrok0010 commented on #343
[code]
Can't update as it breaks other dependency

[2021-11-10 20:32] macjohnny commented on #343
how do you know this is related to ngx-mat-select-search?

Can you try to temporarily remove @angular-material-components/file-input and upgrade angular material / cdk to version 13?

[2021-11-10 21:05] syrok0010 commented on #343
Everything works without any issues without ngx-mat-select-search.

I'll try to upgrade to 13

[2021-11-10 21:08] syrok0010 commented on #343
It works with 13.

[2021-11-10 21:08] #343 closed

[2021-11-12 04:17] sujeetsinha opened #344 "[FEATURE] Support for Angular v13"
Upgrading the application from Angular v12 to v13 which uses ngx-mat-select-search is breaking the build dependency. Can you please add support for v13?

[2021-11-12 05:22] sujeetsinha commented on #344
![image](https://user-images.githubusercontent.com/54589960/141414217-7792013a-e598-4623-bfd7-05d47cde24a8.png)

Adding error message for more clarity

[2021-11-12 06:32] macjohnny commented on #344
Please upgrade ngx-mat-select-search to version 3.3.2, which is officially compatible with angular 13:
https://github.com/bithost-gmbh/ngx-mat-select-search/issues/340#issuecomment-962482909

[2021-11-12 06:32] #344 closed

[2021-11-12 06:44] sujeetsinha commented on #344
Thanks for the quick response. The version compatibility has not reflected on https://www.npmjs.com/package/ngx-mat-select-search/v/3.3.2 and hence the confusion.

[2021-11-12 08:36] macjohnny commented on #344
thanks, the readme was updated in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/342 and released in version 3.3.3

[2021-11-12 14:12] pieterdegraeuwe opened #345 "[FEATURE] make it possible to 'create new options' when the user did not find items (extra option like the 'no Entries found' option)"
**Is your feature request related to a problem? Please describe.**

At this point, when the user is typing/searching, at a moment it might occur that no options are available.
The message can be configured with the [noEntriesFoundLabel]. Works as expected.
However sometimes it should be possible to create the 'not found item'. the [noEntriesFoundLabel] could then be 'No items found, press Enter to

[2021-11-12 14:25] macjohnny commented on #345
How about checking whether the length of the options is zero? And then just show a separate option activated via ngIf?

[2021-11-13 07:55] macjohnny commented on #345
Sorry, somehow I missed the part about pressing the enter key.

if you want to contribute such an event emitter, please file a PR

[2021-11-24 22:17] ebenh opened #346 "Component Height Issue and ExpressionChangedAfterItHasBeenCheckedError"
Hello,

I built [ngx-mat-tel-input](https://github.com/ebenh/ngx-mat-tel-input). It's an Angular Material component built on top of ngx-mat-select-search.

My component has two bugs which I think are directly related to ngx-mat-tel-input. I was hoping someone here could help figuring them out.

- [Issue one](https://github.com/ebenh/ngx-mat-tel-input/issues/8)
- [Issue two](https://github.com/eben

[2021-11-25 13:55] nseni opened #347 "[BUG] Plugin is not fully compatible with Angular 13"
**Describe the bug**
When I build my app I get this message:
[code]

**Additional context**
[code]

[2021-11-25 14:29] macjohnny commented on #347
Thanks for reporting, will update the package soon

[2021-11-26 12:16] vikram-sapate opened #348 "[BUG] ngx-mat-select-search is removing already selected options on searching"
Another issue,
Assume some options are already selected & you search something, then it is clearing the selected options but I'm displaying selected items in the list (just below the select field) that remain unaffected. For chips & list I'm using the same data.

  This is a [Live example](https://ngx-mat-select-search-dy5gaa.stackblitz.io)

   This is a [Stackblitz link](https://stackblitz.com/ed

[2021-11-26 12:50] vikram-sapate commented on #348
hey, @macjohnny & team , why not you hide option instead of filtering on search ?

[2021-11-30 17:17] GowthamGururaj opened #349 "Accessibility Issue: Ngx-mat-select-search dropdown, navigating options in the dropdown using down arrow without search value, NVDA reading blank"
Actual Behavior: While navigating options in the dropdown using down arrow without any search value, NVDA announcing "blank" and option in both speech viewer window and voice.

For Example: if you take country list dropdown and navigate the options without search value then  NVDA announcing

    blank
    Albania 1 of 15

Expected Behavior: While navigating options in the dropdown using down arrow

[2021-11-30 19:05] macjohnny commented on #349
Thanks for reporting. Would you like to fix this?

should be somewhere here:

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/631ca8255e24d34ff960f593abb5d050caf5ada1/src/app/mat-select-search/mat-select-search.component.ts#L479

[2021-12-04 16:49] macjohnny commented on #345
@pieterdegraeuwe any update?

[2021-12-04 20:17] ziaKhan1995 commented on #1
I faced the same issue. The reason is that **NgxMatSelectSearchModule** was imported but not included in **imports** array.

[2021-12-05 08:18] macjohnny commented on #1
@ziaKhan1995 can you open aseparate issue?

[2021-12-06 18:22] macjohnny commented on #348
Hi
The reason why the option elements are filtered instead of just hiding them is that mat-select depends on the list of available options for calculations like focused item, scrolling etc

[2021-12-15 10:50] untouch opened #350 "[BUG] No Input field in connection with ngx-translate"
There is no Inputfield in connection with using ngx-translate.

Using:
Angular v10.0.3
ngx-mat-select-search v3.3.3
ngx-translate v13.0.0

[2021-12-15 11:07] macjohnny commented on #350
Can you please give some more details, code examples and a reproduction?

[2021-12-17 15:52] lorespaul commented on #200
After setting property "disableScrollToActiveOnOptionsChanged" to true problem is solved

`
            <ngx-mat-select-search
                [formControl]="searchCtrl"
                [disableScrollToActiveOnOptionsChanged]="true"
                placeholderLabel="Search"
                noEntriesFoundLabel="No entry">
            </ngx-mat-select-search>
`

[2022-01-14 14:20] Odonno commented on #347
This library is now indeed Angular 13 compatible but unfortunately it still isn't using Ivy distribution.

[2022-01-14 16:21] #347 closed

[2022-01-14 16:25] macjohnny commented on #347
fixed in version 4.0.0

[2022-01-22 10:57] ankit-saiyan commented on #65
@macjohnny
Your implementation is affecting the select element of each row of a form array.

[2022-01-23 07:48] macjohnny commented on #65
@ankit-saiyan can you please open a new issue and describe the problem in detail, with a code example?

[2022-01-25 13:30] jamiemac87 opened #356 "alwaysRestoreSelectedOptionsMulti option not respected"
I have an issue in my app that I think would be resolved if the option `alwaysRestoreSelectedOptionsMulti="false"` was being respected. However it looks as though we also add the following condition `(this._formControl.value && this._formControl.value.length)` when determining if selected options should be restored. See [here](https://github.com/bithost-gmbh/ngx-mat-select-search/blob/a75373e0ef20

[2022-01-25 18:16] macjohnny commented on #356
the description of `alwaysRestoreSelectedOptionsMulti` states
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/a75373e0ef2081d8683319282242728ef46460c4/src/app/mat-select-search/mat-select-search.component.ts#L196-L200

this refers to the `this._formControl.value && this._formControl.value.length` part in https://github.com/bithost-gmbh/ngx-mat-select-search/blob/a75373e0ef2081d868331928

[2022-01-26 19:16] reueljw commented on #322
Adding disableOptionCentering to mat-select fixed it for me.

[2022-02-04 15:44] jamiemac87 commented on #356
Thank you for the detailed reply.

So I have some behaviour where the user filters the options and upon hitting enter key we would like the filtered options to be selected and any previous selections to be unselected. Is this possible with the latest version of the library? This behaviour worked in version `3.1.2` before the `alwaysRestoreSelectedOptionsMulti` option was added/fixed. If not I will

[2022-02-04 16:08] macjohnny commented on #356
@jamiemac87 by not setting `[alwaysRestoreSelectedOptionsMulti]`, i.e. using the default `alwaysRestoreSelectedOptionsMulti  = false`, you get the same behavior as in `3.2.2`, i.e. the version before `alwaysRestoreSelectedOptionsMulti` was added, see https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/CHANGELOG.md#330

However, after `3.1.2`, there was an additional bugfix regarding

[2022-02-04 16:10] macjohnny commented on #350
closing due to the lack of information.
Feel free to provide more information, so I could reopen the bug

[2022-02-04 16:10] #350 closed

[2022-03-03 03:30] MickeWest opened #361 "Question: ngx-mat-select-search placed inside mat-option"
**Describe the bug**
First, thanks for the great work on this as it is very useful!

I get this Error with latest version of ngx-mat-select, which has worked for all the other versions.

**ngx-mat-select-search must be placed inside a mat-option element**

Below is an example how we use ngx-mat-select and it works great:

[code]
When I now check the source code of ngx-mat-select-search there is a

[2022-03-03 07:08] macjohnny commented on #361
Glad you like this project!

here is what your code should look like:

  <mat-select
	#userDatabaseSelectionControl
	[formControl]="userDatabaseSelectionFormControl"
	[multiple]="false"
	#multiSelect
	placeholder="Database Target"
	(selectionChange)="onUserDatabaseSelectionChanged($event)"
	[(value)]="CurrentUserDatabaseSelection">
	<mat-option>
	<ngx-mat-select-search placeholderLabel="Search" no

[2022-03-03 07:12] macjohnny commented on #361
And for your information: the requirement to place ngx-mat-select-search inside mat-option was needed to avoid some bugs and simplify the layouting.

[2022-03-03 14:35] macjohnny commented on #356
@jamiemac87 any update here?

[2022-03-09 17:56] MickeWest commented on #361
Thanks for your quick response!
I finally got time to test out your updated suggestion and it seems to work perfectly.

/Michael

[2022-03-09 17:56] #361 closed

[2022-03-27 09:36] bnadem opened #362 "[FEATURE] selet mat-group with their children"
your plugin work fine, but misses select  mat-group and their children (mat-option)
please help im my project

[2022-03-28 06:40] macjohnny commented on #362
Can you give some more details what you want to achieve? In addition, A sketch of how it looks like would also be good.
Is this something that is reated to mat-select or ngx-mat-seect-search?

[2022-03-28 08:17] bnadem commented on #362
here ist code
  <mat-select [formControl]="bankGroupsCtrl" placeholder="Bank" [multiple]="true" #singleSelect>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="bankGroupsFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-optgroup   *ngFor="let group of filtered

[2022-03-28 08:44] macjohnny commented on #362
this does not seem to be implemented in mat-select, so it is out of scope for ngx-mat-select-search since it is not related to the search input functionality, but feel free to file a feature request at https://github.com/angular/components/issues

[2022-03-28 08:44] #362 closed

[2022-03-28 13:24] jamiemac87 commented on #356
@macjohnny sorry about the late reply. Work has been busy so not had much time to dedicate to my fix. I have a draft [MR](https://github.com/bithost-gmbh/ngx-mat-select-search/pull/363) up if you wanted to have a quick look. It accomplishes what I set out in https://github.com/bithost-gmbh/ngx-mat-select-search/issues/356#issuecomment-1030107305 but does not introduce a new option so may not be th

[2022-04-04 16:58] kiwidude68 commented on #349
@GowthamGururaj Did you get anywhere with this? I'm seeing the same issue (and MANY other accessibility problems) with this component unfortunately. Some of which are listed as open issues here (e.g. can't tab to the Select All button), and others that haven't been reported (like the approach of disabling the mat-option the Search is in means that the components that are hosted on it all get annou

[2022-04-04 17:07] macjohnny commented on #349
@kiwidude68 I am happy to accept your improvements to this component.
Please open separate issues for each bug or feature.

[2022-04-04 17:15] kiwidude68 commented on #349
@macjohnny - if I had the answers myself I wouldn't have needed to post :). It is a very long list of problems for accessibility unfortunately. And I honestly don't know if they even can be fixed with this approach of a fake mat-option inside a mat-select. Focus is on the search text allowing the user to type, but then the control is trying to auto-select (and announce) items in the list below it.

[2022-04-11 12:37] geyuqiu opened #366 "[FEATURE] rename close to clear"
https://user-images.githubusercontent.com/4540661/162740754-37c2f698-0a9d-4056-8012-c2560256fa9f.mov

[2022-04-11 13:36] macjohnny commented on #366
see https://github.com/bithost-gmbh/ngx-mat-select-search/issues/165 and https://github.com/bithost-gmbh/ngx-mat-select-search/pull/364 and https://github.com/bithost-gmbh/ngx-mat-select-search#customize-clear-icon

can we close your issue?

[2022-04-11 20:30] schveiguy opened #367 "Allow setting the default search prompt and default no entries found message."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I am an English speaker, and so the default label of "Suche" isn't useful. I understand that there is an input to change this to my preferred prompt (and the `noEntriesFoundLabel` as well). However, this is tedious to do every place I want to create a search box. It would be helpful if the t

[2022-04-12 05:17] macjohnny commented on #367
This feature will be available soon: https://github.com/bithost-gmbh/ngx-mat-select-search/pull/364

[2022-04-12 07:08] macjohnny commented on #367
Released in https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/4.1.0

see https://github.com/bithost-gmbh/ngx-mat-select-search#global-options

[2022-04-12 07:13] #330 closed

[2022-04-12 07:13] #306 closed

[2022-04-12 09:10] geyuqiu commented on #366
can you maybe add an icon only example to the example repo please ?

[2022-04-12 09:27] #366 closed

[2022-04-12 12:43] macjohnny commented on #367
thx to @angelaki

[2022-04-13 09:43] wokier opened #371 "Demo broken"
Hi
Online Demo at stackblitz is broken since yesterday's commit.

[2022-04-13 13:11] macjohnny commented on #371
thanks for reporting!

it is strange, locally
[code]
works fine, and the demo app can be started

any ideas?

[2022-04-13 13:16] macjohnny commented on #371
Filed this bug at stackblitz: https://github.com/stackblitz/core/issues/1831

[2022-04-14 15:42] wokier commented on #371
The strange thing is that there is code examples in both repositories

https://github.com/bithost-gmbh/ngx-mat-select-search
and
https://github.com/bithost-gmbh/ngx-mat-select-search-example

and they gives different results using stackblitz
https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search?file=src%2Fapp%2Fapp.component.html
(Error in src/styles.scss (2:9)
NoSuchMethodError: method

[2022-04-26 10:35] gkgeorgiev commented on #321
I have upgraded to 3.3.3 and I still can reproduce the problem.

[2022-04-29 12:27] pnguyen535 commented on #304
I know it's too late, but hopefully it will help someone down the road. I fixed my issue by not filter on the '' value.

 this.filterSolString.valueChanges
      .pipe(takeUntil(this._onDestroy))
      .subscribe(value => {
        if (value !== '') {

        }
      });

added an open event on <mat-select>:

<mat-select placeholder="" (openedChange)="openedDrawingIdChange($event)">

openedChange

[2022-05-02 12:37] Lertis commented on #321
It happens again. With v.4.1.1 and Angular Material v.12 :(

[2022-05-09 06:54] tricasoft commented on #304
Could you make a stackblitz so I can see the whole code? I didn't get exactly what you mean and I really need the fix.

Many thanks!

[2022-05-11 07:42] wokier commented on #371
Please have a look

[2022-05-16 07:51] macjohnny commented on #371
Sorry, was on holiday, will try to do it this week

[2022-05-17 17:08] gkgeorgiev commented on #321
I could also confirm - v4.1.1 and Angular Material v 13.3.3 :/

[2022-05-17 19:49] macjohnny opened #374 "It happens again. With v.4.1.1 and Angular Material v.12 :("
It happens again. With v.4.1.1 and Angular Material v.12 :(

_Originally posted by @Lertis in https://github.com/bithost-gmbh/ngx-mat-select-search/issues/321#issuecomment-1114798942_

[2022-05-17 19:50] macjohnny commented on #374
@gkgeorgiev do you want to investigate/fix this?

[2022-05-18 09:19] gkgeorgiev commented on #374
@macjohnny  actually I did investigate it and the problem was that an older version (2.1.1) was bundled as a part of my own angular library, and even if my host application was referring to a fixed NGX-... version, Angular was still trying to compile the old javascript as well.
In other words - my library was bundling within itself, it was looking something like this project_root/node_modules/my_l

[2022-05-18 09:27] macjohnny commented on #374
Oh, I see, so we can close the issue then?

[2022-05-18 09:51] gkgeorgiev commented on #374
I would say so, at least in my case it should be working. I'm still coding, but at least it compiles now.
I'm not sure about your case though - if you have sorted it out then yes, we could close the ticket.

P.S. I see that you are also based in Zurich - World is small :)

[2022-05-18 11:41] #374 closed

[2022-05-18 13:05] Procisz opened #375 "[BUG] using <mat-hint> element always throws ExpressionChangedAfterItHasBeenCheckedError error"
**Describe the bug**
mat-hint element throws "ExpressionChangedAfterItHasBeenCheckedError" error.

The complete error:
Error: NG0100: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value for 'attr.aria-describedby': 'null'. Current value: 'mat-hint-4'..

**To Reproduce**
Just simply insert a  `<mat-hint></mat-hint>` inside the mat-form-field elem

[2022-05-19 05:26] macjohnny commented on #375
Hi
Are you sure this is related to ngx-mat-select-search?
Can you show the code you used?

[2022-05-19 09:31] Procisz commented on #375
Okay,
I just upgraded it to the latest version and it seem like the promlem gone.
I'll keep you updated.
Ty for your answer.

[2022-05-30 13:07] qstiegler opened #376 "[BUG] Restoring selected values occurs error"
In mode multi if you have selected one and then search for another value where the selected option from before is not part of the result, it deselects the previous selected one and only the current one is selected. This happens because a JS error occurs:

[code]

The error occurs in the following line of code: https://github.com/bithost-gmbh/ngx-mat-select-search/blob/782e635ce57add4696bbccc89b3b1

[2022-05-31 06:56] macjohnny commented on #371
seems to be working again

[2022-05-31 06:56] #371 closed

[2022-05-31 06:57] macjohnny commented on #375
closing this for now. if this occurs again, please let me know

[2022-05-31 06:57] #375 closed

[2022-05-31 09:42] macjohnny commented on #371
what do you mean by that? opening https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search does not work. I don't think this has ever worked, because it somehow does not read the package.json file (you can test older versions e.g. with https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search/tree/4.0.0).

The reason for having a separate [app/repo](https://github.com/bithost-gmbh/n

[2022-05-31 10:07] wokier commented on #371
I am ok with having a separate project for the exemple, but my 2 cents advice is to have them only there, and a dev guide note that mention them. This way contributors would update the exemples only one time, at the correct place. (having 2 pull request at the same time)

[2022-06-01 12:58] macjohnny commented on #376
released in `4.1.2`

[2022-06-10 20:50] ruekart opened #381 "[FEATURE] Enable the use of a custom template for notFoundEntries"
**Is your feature request related to a problem? Please describe.**
When there are no options found for the user input then there's just the possibility to show a not found label, but sometimes you could want to add more than text, it could be an image or a button.

**Describe the solution you'd like**
I would like to use ng-content to show a custom element when there are no options as with the cus

[2022-06-13 07:43] macjohnny commented on #381
This sounds good. We could use a directive similar to https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search-clear.directive.ts to mark the content.

Do you want to implement this?

[2022-06-13 15:01] ruekart commented on #381
Sure, I'm working on it.

[2022-06-13 17:36] ruekart commented on #381
I sent this PR #382

[2022-06-14 18:59] tricasoft commented on #304
Has anyone any idea how to fix this StackBlitz?
https://stackblitz.com/edit/github-9fxc91
If you search for "q" and select "Bank Q", then it disappears, not showing as selected...

[2022-06-14 20:06] #381 closed

[2022-06-14 20:16] macjohnny commented on #381
thanks for your contribution. it is released in version 4.2.0

[2022-06-16 17:03] MaticDiba opened #384 "Select initial value where only Id is used in the form"
Hi,
is it possible to set initial value for search control, where `entity.name` should be displayed, and `entity.id` should be used as a form value.

This is an example of my control used in reactive forms:
[code]
So reactive form group is passed to this component, and the field I want to populate is `entityId`. If I use approach from this example: [https://stackblitz.com/github/bithost-gmbh/ngx-m

[2022-06-16 20:45] macjohnny commented on #384
You should be able to set it with

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/092aaf963d2b9cb3cb36f79cab1f6d3c6f35aa63/src/app/examples/01-single-selection-example/single-selection-example.component.ts#L64

the comparewith function can simply be

  (a, b) => a === b

this initialization is necessary since the options are asynchronously set

does this help?

If not, please paste the

[2022-06-17 07:07] MaticDiba commented on #384
Yes, this worked. Thanks. Also another problem was, I was trying to set this in onInit method.

[2022-06-17 08:07] #384 closed

[2022-06-22 08:25] gokhanyildiz opened #385 "[FEATURE] Disable browser autocomplete"
Hi,
How to disable search input browser autocomplete history? Can we define autocomplete in ngx-mat-select-search? Can you add this option in the next version?

Thanks.

[2022-06-22 11:45] macjohnny commented on #385
The search input already has the

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/092aaf963d2b9cb3cb36f79cab1f6d3c6f35aa63/src/app/mat-select-search/mat-select-search.component.html#L22

attribute. What other attribute are you thinking of?

[2022-06-22 12:42] gokhanyildiz commented on #385
Hello, I think I found the problem. I having a similar problem but solved this. https://stackoverflow.com/questions/12374442/chrome-ignores-autocomplete-off

I added type="search" attribute to ngx-mat-select-search and problem solved. Thank you for your support.

[2022-06-22 12:43] #385 closed

[2022-07-06 16:00] Tayyba23 opened #386 "Module not found NgxMatSelectSearchModule on jest running."
my project is using jest for testing. I have successfully used this module inside my application and is running as well but for jest
it is failing with the following logs, despite adding an import statement to the required component's spec.ts file.

    Cannot find module 'ngx-mat-select-search' from 'src/app/myComp.component.spec.ts'

      17 |     NGX_MAT_DATE_FORMATS,
      18 | } from '@angul

[2022-07-07 06:31] macjohnny commented on #386
Hi
If you remove

  import { NgxMatSelectSearchModule } from 'ngx-mat-select-search';

Does the

  import { ToastrModule } from 'ngx-toastr';

Work?

which version of ngx-mat-select-search are you using?

[2022-07-14 14:04] angelaki commented on #376
Hey, this fix just broke my behavior! By modifying a copy of values but not the original one the `(selectionChange)` event of the control does not contain all the elements but just the newly selected.

@qstiegler Can you show me your usecase where version 4.1.1 threw an exception for you so I can maybe fix this?

[2022-07-14 16:18] macjohnny opened #387 "In multiselect, (selectionChange) event of the control does not contain all the elements but just the newly selected"
Hey, this fix just broke my behavior! By modifying a copy of values but not the original one the `(selectionChange)` event of the control does not contain all the elements but just the newly selected.

@qstiegler Can you show me your usecase where version 4.1.1 threw an exception for you so I can maybe fix this?

_Originally posted by @angelaki in https://github.com/bithost-gmbh/ngx-mat-select-sea

[2022-07-14 16:34] macjohnny commented on #387
@angelaki sorry for the issue

so the FormControl has the correct set of selexted values but (selectionChange) does not emit the correct set?

[2022-07-14 16:48] macjohnny commented on #387
Hmm i wonder why, because in https://github.com/bithost-gmbh/ngx-mat-select-search/blob/092aaf963d2b9cb3cb36f79cab1f6d3c6f35aa63/src/app/mat-select-search/mat-select-search.component.ts#L632 we set the correct values, but maybe because those options are not present while filtering, they get deselected  (which is exactly the purpose of this workaround method, which to compensate for that)
Any sugge

[2022-07-14 16:51] angelaki commented on #387
Let me check these days. Maybe you can somehow stop the even from propagation and only call the last one.

Grüße

Tristan Sprößer
________________________________
From: Esteban Gehring ***@***.***>
Sent: Thursday, July 14, 2022 6:49:05 PM
To: bithost-gmbh/ngx-mat-select-search ***@***.***>
Cc: Tristan Sprößer ***@***.***>; Mention ***@***.***>
Subject: Re: [bithost-gmbh/ngx-mat-select-search] Hey,

[2022-07-14 22:33] angelaki commented on #387
Ok, wow. Let's say: it's getting complicated. I made a fork to show the current misbehavior: https://github.com/angelaki/ngx-mat-select-search?organization=angelaki&organization=angelaki. The earlier version wasn't perfect at all, because the handler just manipulates the event value. It was more luck that it was the first handler called - but it somehow always is? I already tried toggling he searc

[2022-07-15 05:58] qstiegler commented on #387
Hey guys, I'm sorry to hear about the negative side effect of the fix.

The initial error occurred when you have one or more selected, then you search for another value where the previous selected values are not part of the options anymore. When you select now the value, the previous selected values get unselected. I hope this helps.

[2022-07-15 06:23] macjohnny commented on #387
Ok so for the time being, I suggest we revert https://github.com/bithost-gmbh/ngx-mat-select-search/pull/377 and then analyze the situation of the readonly array

[2022-07-15 06:33] angelaki commented on #387
Yeah, think so,too. @qstiegler can you create a minimal reproduction of your behavior? Your description sounds like this should always happen. This just isn't the case, as you can see in the live examples: https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fapp.component.html

[2022-07-15 16:02] qstiegler commented on #387
@angelaki Puh...it took me a while today to create a working minimal reproduction but now I figured it out.

The problem is the combination with the `NGXS` store. When you push values to the store, they get immutable. This means that the next time when you select another value and you're adding the previousSelectedValues, it tries to manipulate the same value which is marked as immutable.

Here is

[2022-07-19 06:13] #387 closed

[2022-07-19 06:26] qstiegler commented on #387
Is there a reason why you closed it? I really hope you'll come up with an immutable solution.

[2022-07-19 06:31] angelaki commented on #387
I'll create a unit test these days, check your sample and see what we / I can do. But tbh I think it'll be quite hard.

Grüße

Tristan Sprößer
________________________________
From: Quirin Stiegler ***@***.***>
Sent: Tuesday, July 19, 2022 8:26:33 AM
To: bithost-gmbh/ngx-mat-select-search ***@***.***>
Cc: Tristan Sprößer ***@***.***>; Mention ***@***.***>
Subject: Re: [bithost-gmbh/ngx-mat-select-

[2022-07-19 07:56] macjohnny commented on #387
@qstiegler I reopened https://github.com/bithost-gmbh/ngx-mat-select-search/issues/376

[2022-08-31 11:27] macjohnny commented on #386
@Tayyba23 any update here?

[2022-08-31 22:01] basor-dali opened #390 "No default jsDelivr CDN file set"
[This package](https://www.jsdelivr.com/package/npm/ngx-mat-select-search) doesn't have a [default file](https://www.jsdelivr.com/features#publishing-packages) set. You can set it via `jsdelivr`, `browser`, or `main` field in `package.json`

[2022-09-02 21:10] jameskaye commented on #304
@macjohnny Is there a recommended way to support virtual/infinite scroll with ngx-mat-select-search? I see the stackblitz example in this repo is commented out, and based on this thread it seems that cdk-virtual-scroll isn't supported either.

[2022-09-05 07:05] macjohnny commented on #304
@jameskaye the infinitescroll example was commented out to be able to upgrade the angular version, but it should work. You can also help by creating an up-to-date example in this repo.

if someone would like to propose a working example with virtual scroll id be happy to review it.

[2022-09-05 07:06] macjohnny commented on #390
@basor-dali thanks for the suggestion
Can you elaborate why this is useful for this package?

[2022-09-13 20:41] andreacasarella commented on #386
Hi, I have same issue using:

`    "ngx-mat-select-search": "^4.2.1",
`

[code]

any suggestion?

[2022-09-14 05:16] macjohnny commented on #386
Do you have a minimal reproduction example?

[2022-09-14 07:49] andreacasarella commented on #386
Unfortunately not, but I'm importing the module as usual and like other libraries. But when I run test it will fail during initialization on the component.

deps
[code]

The component use:
[code]

Then in the test suite:
[code]

Result see comment above.

Thanks for your help!

[2022-09-16 21:43] pravallikag12 opened #391 "sets to first option after selection"
Bug:
 when I filter the drop-down then select an item, the item is selected, then in a moment the drop-down select the first value

https://user-images.githubusercontent.com/14279600/190794396-afaab44d-22f2-40f7-ab75-d3f49b545582.mp4

Code

HTML:
[code]

TS:
[code]

I tried commenting the below line - that did not work too

    // set initial selection
    this.shipToCtrl.setValue(this.shipTo);

[2022-09-16 22:03] pravallikag12 commented on #40
@macjohnny
Can you please look into the below similar issue:
https://github.com/bithost-gmbh/ngx-mat-select-search/issues/391

[2022-09-20 17:59] Tayyba23 commented on #386
Hi,

For me, changing the version of ngx-mat-select-search worked. Version : "3.3.3"worked for me with following jest versions,
        "@types/jest": "^27.0.2" ,
        "jest": "^27.2.1",
        "jest-html-reporters": "^2.1.6",
        "jest-preset-angular": "^10.0.0"

[2022-09-20 18:21] macjohnny commented on #386
Hmm might be related to the update of ng-packagr that we did for version 4.0.0: https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/CHANGELOG.md#400

[2022-09-24 09:49] escheiermann commented on #349
@GowthamGururaj @macjohnny I had the same issue with the select search while using the NVDA screenreader. I could track down the problem and provided a pull request with a solution #392

The problem was caused by the `selectSearchInput` keeping focus while browsing through the options with the arrow keys. Screenreaders would announce the current value of the input before each option. When the inpu

[2022-10-08 10:29] #349 closed

[2022-10-08 12:22] #266 closed

[2022-10-08 12:24] macjohnny opened #395 "[FEATURE] Angular 15 compatibility"

[2022-10-08 12:26] macjohnny commented on #349
this was released in 5.0.0, thanks @escheiermann!

[2022-10-09 10:27] AhsanAyaz commented on #391
@pravallikag12 this doesn't seem to happen within this repository's examples. Do you think it could be due to this?
[code]

[2022-10-09 10:49] AhsanAyaz commented on #336
@macjohnny  can you mark this issue for `hacktoberfest`?  Thanks

[2022-10-09 10:50] AhsanAyaz commented on #395
@macjohnny could you share what compatibility considerations you have?

[2022-10-09 19:44] macjohnny commented on #395
@AhsanAyaz I think we will release one version that is compatible with ng 15 and the legacy material select, and a subsequent release that supports the new select only

[2022-10-10 07:34] macjohnny commented on #336
@AhsanAyaz I added the topic "hacktoberfest" to this repo, this should be enough, right?

[2022-10-10 07:37] macjohnny commented on #395
@AhsanAyaz are you interested in preparing those releases?

[2022-10-10 11:18] #336 closed

[2022-10-10 20:17] Hermholtz opened #398 "angular/components#7835 is not going to happen, please update README.md"
In README.md there's this:

This is not going to happen. angular/components#7835 has been scrapped on Jun 13, 2019, and angular/components#5697 has removed the "under consideration" label in June this year and no activity happened since then.

So ngx-mat-select-search has become the de facto standard component implementing dropdown with search for Angular.

Therefore you should remove the sentence

[2022-10-11 00:01] AhsanAyaz commented on #336
@macjohnny , yeah I believe so!
And thanks 🙂

[2022-10-11 00:04] AhsanAyaz commented on #395
@macjohnny . Sure. I do believe that's gonna be in November though :) end of November that is.

[2022-10-14 06:48] RitamChakraborty opened #399 "[BUG] Selected value doesn't get displayed when used along with CdkVirtualScrollViewport"
When displaying the options using `cdk-virtual-scroll-viewport`, the selected value doesn't get displayed on the dropdown if it's searched. It works fine if we we select the value manually by scrolling to the option. But if we select the value and the index of the result is beyond 20 it's not showing up in the dropdown. It's working with search if the index is less than 20.

Although the value is

[2022-10-14 08:03] macjohnny commented on #399
@RitamChakraborty thanks for reporting!
would you like to investigate this issue and find a fix?

[2022-10-18 16:15] RitamChakraborty commented on #399
Sure I'll definitely give it a try.

[2022-11-02 16:23] radanax opened #401 "[BUG] Intial input focus and keyboard triggering on ios"
We are facing the following bug in a webapp we are using on iOS. When the user clicks on the mat-select to open the ngx-mat-search-select , it is displayed, but the keyboard does not appear. To open the keyboard a second click on the search field is needed.

The parameter "disableInitialFocus" is in default state. The mentioned behaviour currently exists only on IOS devices.

Tested on our app as

[2022-11-02 16:56] macjohnny commented on #401
@radanax thanks for reporting this. Can you investigate and provide a fix?

[2022-11-18 02:36] tu-hai opened #406 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**

Update or Support Angular Material version 15
**Describe the solution you'd like**

Update or Support Angular Material version 15
**Describe alternatives you've considered**

Update or Support Angular Material version 15
**Additional context**

Update or Support Angular Material version 15

[2022-11-18 06:54] macjohnny commented on #406
Duplicate of https://github.com/bithost-gmbh/ngx-mat-select-search/issues/395

[2022-11-18 06:54] #406 closed

[2022-11-18 15:40] JeremieLapert commented on #395
Hi, Angular 15 is out, have you planned the compatibility of the plugin ?

[2022-11-18 21:51] macjohnny commented on #395
@JeremieLapert yes, I hope I can get to it next week, or maybe someone else can give a hand preparing the releases

[2022-11-23 08:52] swierzbicki opened #408 "[FEATURE] Upgrade peer dependency for Angular Material 15"
**Is your feature request related to a problem? Please describe.**
Not able to use `"ngx-mat-select-search": "^5.0.0"` because of:
[code]

**Describe the solution you'd like**
Upgrade peer dependecies for Angular Material:
[code]

**Describe alternatives you've considered**

**Additional context**
![obraz](https://user-images.githubusercontent.com/7196324/203505003-89f3e80b-4557-4678-ab15-1509c8f3

[2022-11-24 07:25] #408 closed

[2022-11-24 09:57] macjohnny commented on #395
[Version 6.0.0](https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/6.0.0) has been released  and updates compatibility to `@angular/material@15` with `MatLegacySelectModule` (`@angular/material/legacy-select`)

[2022-11-24 10:09] macjohnny opened #411 "[FEATURE] compatibility with material mdc"
[Version 6.0.0](https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/6.0.0) is the only version that is compatible with angular material 15 and the MatLegacySelectModule („@angular/material/legacy-select“)

in the upcoming version 7.0.0, we want to be compatible with the mdc-based version of mat-select, ie „@angular/material/select“ of angular material 15. this will be a breaking cha

[2022-11-24 10:09] macjohnny commented on #395
compatibility with the new material mdc mat-select is tracked in a separate bug: https://github.com/bithost-gmbh/ngx-mat-select-search/issues/411

[2022-11-24 10:09] #395 closed

[2022-11-24 13:55] macjohnny commented on #411
@AhsanAyaz would you want to take a stab at this one?
see this WIP PR: https://github.com/bithost-gmbh/ngx-mat-select-search/pull/412

[2022-11-25 15:38] macjohnny commented on #398
Thanks for your feedback.
While I think that it would be nice to have https://github.com/angular/components/issues/5697 implemented in angular material itself, the statement you quoted still holds true, this library is intended to be a solution while its not implemented in angular material. So for now, I would keep this quote. Nevertheless, we make sure that ngx-mat-select-search offers a high-qua

[2022-11-25 15:38] #398 closed

[2022-11-28 01:02] mtinnes commented on #411
Is there any way to get v6.0 working with non-legacy (MDC) material? I've tried importing the MatLegacySelectModule but I get the following error:

`Error: NG0300: Multiple components match node with tagname mat-form-field: MatFormField and MatLegacyFormField. Find more at https://angular.io/errors/NG0300`

[2022-11-28 06:45] macjohnny commented on #411
@mtinnes version 6.0.0 is not compatible with the mdc mat select. There will be a new release that will be compatible, but there is some work left to do, see https://github.com/bithost-gmbh/ngx-mat-select-search/pull/412

[2022-11-29 15:34] NakshijeE commented on #306
@ng-Ilir a e ke gjet zgjidhjen?