[2018-03-03 23:19] Spanja opened #1 "Search doesn't appear if select is at top of the page"
Hi,
There is an UI issue when the select panel is at the top of the screen (in your stackblitz example, remove the header).
The problem is that the search feature doesn't appear because the select panel is not positioned depending on the search height.

See this stackblitz :
https://stackblitz.com/edit/github-5phju9?file=src/app/app.component.html

[2018-03-05 06:57] macjohnny commented on #1
Hi @Spanja
Thanks for your issue.
The problem you describe is kind of a known issue, or at least I didn't find an easy way to solve this.

Currently, in https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.scss#L51 we shift the options overlay by `-50px`, i.e. the height of the search input field, since `MatSelect` will place the o

[2018-03-05 12:37] sylvaingi opened #2 "Horizontal scrollbar flashes on opening and closing animation"
During the opening and closing animations of the mat-select's options panel, when using ngx-mat-select-search an horizontal scrollbar appears then disappears in the panel.

The issue can be seen with the provided example at https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example

[2018-03-05 12:47] macjohnny commented on #2
@sylvaingi thanks for reporting. would you like to try to improve this?

[2018-03-06 18:05] sylvaingi commented on #2
I'll try to have a deeper look in the upcoming weeks. I've quickly tried to isolate the root issue, without success.

[2018-03-07 12:02] macjohnny commented on #2
@sylvaingi I noticed that also the width of the search field extends beyond the option overlay while opening / closing. I guess it is the search field width that causes the scroll bar to appear.

[2018-03-09 00:46] rfuhrer opened #3 "Selection clears if selected item is not visible in the list by default"
I have a select search where I've got thousands of entries to choose from.  To make the select render not die trying to show all of that, I changed my filter function to just return the top 10 results.  This seems to break the select search.  When you pick something outside of the default top 10 results it clears your selection shortly after closing the search list.

Here's an exaggerated example

[2018-03-09 06:38] macjohnny commented on #3
hi @rfuhrer
the problem in this case is that `ngx-mat-select-search` will clear the search input field once the `MatSelect` options panel is closed, see https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L175
Since clearing the search input field resets the filtered list, which now does not contain your selected item anymore,

[2018-03-14 13:03] alexandrupaul7 opened #4 "noEntriesFoundLabel - it should show when no entries are found not after i type another character"
In the main example if i search for a bank and type 'gg' it should show that no entries are found. It doesn't. The message it is shown only after i type another character.

[2018-03-14 13:55] alexandrupaul7 opened #5 "Search input - disable suggestions"
ngx-mat-select-search - suggestions (Chrome autocomplete) should be disabled because they are shown over the select panel.

[2018-03-14 16:05] macjohnny commented on #5
@alexandrupaul7 sounds good, would you like to file a PR to implement this? should be easy

[2018-03-16 07:54] macjohnny commented on #1
this issue can also occur when placing the select box somewhere on the page and scrolling it to the top edge of the viewport.

[2018-03-19 07:48] joqkey opened #6 "Multi select filtering removes previously selected values"
If initially I have all values selected for multi select and then I filter and after that deselect a value, then previously selected values are removed again.

An example is shown here: https://stackblitz.com/edit/github-g1zbuf?embed=1&file=src/app/app.component.html
How to reproduce: Open multi select, type 'France', deselect one option (for example Bank C (France)) - the result is that all other

[2018-03-19 08:31] macjohnny commented on #6
the problem is that for multiple-selects, `this.previousSelectedValues` is filled with selected values that are restored when the filtering is reset. `this.previousSelectedValues` is filled whenever `this.matSelect.valueChange` occurs, see https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L324

The solution would be to initia

[2018-03-19 16:55] xagon opened #9 "appreciation"
Man, this looks very nice. I have started to use this select-search component in my project and it is working just fine so far. Few issues already identified - should be easy to fix / address. I've wrapped the control in another component which I can reuse. Starred the repo, and whenever there is a new version of this code / new implementation (probably from Angular/Material team) I will just swit

[2018-03-19 18:04] pedrotvr opened #10 "No results message don't show and disappear on the right time."
Hey,

In the first place well done, great job with this.

I'm using and testing your component and you have a problem with the no results message, so if you write a word you don't have in the list the result only appears if you change focus from the box, and if you escape one char to have results the message only disappear when you put focus out.

You can see that in the images bellow.

Thanks

![

[2018-03-19 18:07] macjohnny commented on #10
hi @pedrotvr
thanks for reporting
I guess this is closely related to https://github.com/bithost-gmbh/ngx-mat-select-search/issues/4

[2018-03-19 18:14] macjohnny opened #11 "CI"
run CI (build and tests)

[2018-03-19 18:22] #11 closed

[2018-03-19 18:58] macjohnny commented on #9
@xagon thanks for your feedback. I am glad you appreciate the component.
If you find any issue or want to improve the code, feel free to to so.

[2018-03-19 18:58] #9 closed

[2018-03-19 20:41] #6 closed

[2018-03-19 20:51] #4 closed

[2018-03-19 20:51] #10 closed

[2018-03-19 20:57] macjohnny commented on #10
@pedrotvr can you verify this issue is also resolved with `1.0.1` ?

[2018-03-19 20:57] macjohnny commented on #4
this issue is resolved with `1.0.1`

[2018-03-19 20:57] #5 closed

[2018-03-20 11:03] pedrotvr commented on #10
@macjohnny Yes, it's fixed. 🗡

Take care can't do npm update for your plugin... have to make re-install to get last version.

[2018-03-20 11:20] macjohnny commented on #10
@pedrotvr which command did you use to update?
if you are using npm version 5+, you find a local `package-lock.json` in your repository with fixed version, so to update you would need to set the version explicitly:
[code]

[2018-03-23 12:00] #2 closed

[2018-03-23 12:17] macjohnny commented on #2
@alexandrupaul7 thanks for solving the issue. I will publish a new version on npm tomorrow.

[2018-03-26 15:36] vjpc opened #15 "Example for ngx-mat-select-search with grouping option"
Hi Mat,

It will be really helpful if you could  please share example for ngx-mat-select-search with grouping option (Select with option groups).

Thanks,
Vijay

[2018-03-29 09:47] vjpc commented on #15
@macjohnny  I am new to angular and tried with your github code to modify it for group but finding difficult to do it. It will be nice if you can share one. Thanks.

[2018-04-03 10:03] djanesch opened #16 "Add button to noEntriesFoundLabel"
Dear @macjohnny !

First of all great work and very usefull extension.

I don't know if and how it is possible but for one of my business cases I have the request to create an new option if it is not found.
Therefor I thought it would be the best way to just show a create-button after the message but currently the content of noEntriesFoundLabel is only text

I have also create a stackblitz for bet

[2018-04-03 10:39] macjohnny commented on #16
Hi @djanesch
you can simply add the button before the options and only show it when the filtered list is empty:

[code]

[2018-04-03 10:53] djanesch commented on #16
@macjohnny nice solution, have not considered these one.

[2018-04-03 10:53] #16 closed

[2018-04-03 10:58] macjohnny commented on #16
@djanesch if you want to prevent the `noEntriesFoundLabel` to be shown, simply set it to an empty string or `null`.

[2018-04-10 14:32] mtraynham opened #17 "Tree shaking rxjs"
[This line](https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/app.component.ts#L8) uses a re-export of the `take` & `takeUntil` operators.  Ultimately, it's also including the entirety of the `rxjs/operators` path, without a way for Webpack to tree-shake unused dependencies.

It can be changed to:
[code]

This reduces my bundle by ~271KB, as seen in the images below.

Befor

[2018-04-10 14:56] macjohnny commented on #17
@mtraynham thanks for reporting this solution! I will release a new version soon.

[2018-04-10 18:38] mtraynham commented on #17
@macjohnny One thing, I just tried it locally.  Seems to be using the old `import` in the esm5 bundle.  Maybe the old build got pushed for the new version?

[2018-04-10 18:43] mtraynham commented on #17
Ohh I see why, I initially bugged the `app.component.ts` and not the [mat-select-search.component.ts](https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts), whoops!

[2018-04-10 18:55] #17 closed

[2018-04-10 18:59] macjohnny commented on #17
@mtraynham thanks for pointing this out again. here you go with `1.0.5`

[2018-04-19 10:50] mallik482 opened #20 "Select all option required"
How can I select all options from the dropdown

[2018-04-19 10:57] macjohnny commented on #20
@mallik482 what do you mean by

do you wan't to programatically select all options in multi-select mode?
how is this related to `ngx-mat-select-search`?

[2018-05-04 07:16] Avejack opened #21 "Material Design integration"
First: Thank you for this awesome addition!

Sadly this Component doesn't seem to be "material-theme"-aware. There are 3 Design issues i can see.
1. This Component does not use the Material-Typography. But this can easily be fixed by adding the "mat-typography" class to the Element.

2. The parent Div width of the Input is calculated as "100% + 15px" which is enough if you use the standard scrollb

[2018-05-04 07:24] macjohnny commented on #21
@Avejack thanks for reporting this issue.
you are absolutely right, we should improve the use of the material theme.
1.) and 3.) should be easy to fix. would you like to give it a try and implement this?

However, 2.) is not so easy, because the search input is placed outside the scrollable div, in order to always stick to the top of it, but when using 100% width, we need to take the scroll-bars i

[2018-05-04 07:27] macjohnny commented on #20
I don't think this is related to `ngx-mat-select-search`, so I am closing this for now.
@mallik482 if you still think this is an issue, please open a new issue and provide more details on what you want to achieve, what you have tried so far, code, etc.

[2018-05-04 07:27] #20 closed

[2018-05-04 07:30] macjohnny commented on #21
@Avejack one way to improve 2.) would be to determine the width of the scroll bar at runtime and resize the input accordingly.

[2018-05-04 07:57] Avejack commented on #21
I will take a look at it!

[2018-05-04 13:38] Avejack opened #23 "Angular 6 Support"
Hey!
What do you think about adding Angular 6 Support?
I am not sure but i think it would not be possible to support older versions then... Maybe a ng6 branch? The Problem is that Angular 6 is using the RxJS v6 and there imports have changed. Also "takeUntil" now needs to be piped and stuff. I can make a PR for that but i don't know how you feel about the fact that this may lead to a breaking chan

[2018-05-04 14:08] macjohnny commented on #23
I think this is a great idea, and I would appreciate it if you could help me with that.
We are already using piped rxjs operators, as e.g. in
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L18

so this shouldn't be an issue, don't you think so?
did you try using the existing version 1.0.5 with angular 6?

[2018-05-04 14:12] Avejack commented on #23
Strange... You are right! It should work. But when i try to start my app i get this output:

`ERROR in ./node_modules/ngx-mat-select-search/esm5/ngx-mat-select-search.js
Module not found: Error: Can't resolve 'rxjs/Subject' in 'C:\Users\g-uni\Documents\Projekte\digital-fb-manager\node_modules\ngx-mat-select-search\esm5'
ERROR in ./node_modules/ngx-mat-select-search/esm5/ngx-mat-select-search.js
Mo

[2018-05-04 14:18] Avejack commented on #23
i guess this is the problem (after npm i ngx-mat-select-search):

`npm WARN ngx-mat-select-search@1.0.5 requires a peer of rxjs@^5.5.2 but none is installed. You must install peer dependencies yourself.`

[2018-05-04 14:29] macjohnny commented on #23
we could specify the dependency as follows:
[code]
but in your case, there should already be a rxjs version in the `node_modules` folder. could you please check that this is the case?

[2018-05-04 14:32] Avejack commented on #23
Yeah i already have the `rxjs 6.1.0` in my `node_modules` folder. Its kind of strange. For some reason it can't be resolved in the esm5 folder...

[2018-05-04 14:37] macjohnny commented on #23
in https://stackblitz.com/github/Avejack/ngx-mat-select-search it seems to work with angular 6...
maybe it is related to packaging...

[2018-05-04 15:32] macjohnny commented on #23
@Avejack I can reproduce your errors with a new angular project with the following versions:
Angular CLI: 6.0.0
Node: 8.9.1
OS: win32 x64
Angular: 6.0.0

[code]

[2018-05-04 15:43] Avejack commented on #23
yeah... totally strange.

[2018-05-04 15:51] Avejack commented on #23
There is another problem:
in RxJS 6 `import { Subject } from 'rxjs/Subject';` is not valid.
you have to do: `import { Subject } from 'rxjs';`

[2018-05-05 10:15] #23 closed

[2018-05-05 10:28] macjohnny commented on #23
@Avejack the imports could finally be changed to be compatible with Angular 5.x.x and 6.x.x by changing
[code]
to
[code]

[2018-05-08 05:47] #3 closed

[2018-05-08 05:48] macjohnny opened #26 "Add example for server-side filtering"
Add an example as described in https://github.com/bithost-gmbh/ngx-mat-select-search/issues/3 with the option implemented in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/25

[2018-05-08 05:50] macjohnny commented on #26
@rfuhrer @altschuler @damianmigo would anyone of you like to add an example for server-side filtering? the "server-side" in the example can simply be an function / observable.

[2018-05-08 07:27] macjohnny commented on #26
FYI version `1.2.0` with the new `@Input() clearSearchInput = false;` has been released

[2018-05-18 05:10] tonyholt opened #28 "AOT support"
Hello, when I try to use 1.2.0 in conjunction with ng-packagr and AOT, I get this error:

Cannot read property 'type' of null
TypeError: Cannot read property 'type' of null

It's pointing to code within the angular compiler.  Once I comment out the use of the ngx-mat-select-search everything works fine.  It's a little tricky to reproduce.  It looks like a method calld _createNgFactoryStub in the A

[2018-05-18 05:26] macjohnny commented on #28
@tonyholt could you please explain what your setup looks like?
this sounds like an issue with an older version of `ng-packagr`, which version are you using?
AOT has been tested and worked so far...

[2018-05-18 10:43] tonyholt commented on #28
I am using the new "library" feature from Angular 6.  From looking at the package.json, It's using ng-packagr 3.0.0 rc2.  There is another node package I see called "@angular-devkit/build-ng-packagr", but it too is using ng-packagr 3.0.0 rc2.  I do notice that this @angular-devkit is a few minor versions old, I may update that for giggles.  I will get together a good explanation of my particular u

[2018-05-18 10:49] macjohnny commented on #28
@tonyholt could you try updating to `ng-packagr@3.0.0-rc.5`?
maybe this could also be resolved by building `ngx-mat-select-search` with `ng-packagr@3.0.0-rc.2`, too. would you like to try that?

[2018-05-18 11:46] tonyholt commented on #28
@macjohnny I did try ```ng-packager@3.0.0-rc.5```, but that did not work.  However, upon trying to reproduce this issue in the context of clean, isolated angular projects, I was unable to.  I still need to do some investigation.  I will comment again if I'm able to reproduce in an isolated fashion.  Thank you for your time.

[2018-05-18 13:00] tonyholt commented on #28
I've realized that my issue is with regard to ng-packagr and how to handle local packages that have depdendencies.  If I make everything a "peerDependency" then everything seems to work.  My goal was to make certain dependencies "bundledDependencies" or just regular "dependencies" but that functionality may only work when dealing with npm pack.  I'll probably ask a question on the ng-packagr repo.

[2018-05-18 13:00] #28 closed

[2018-05-18 14:11] macjohnny commented on #28
glad to hear you found a working solution ;-)

[2018-05-22 20:33] exlibris commented on #26
I too would love to see a working example of filtering a service.  I am attempting to modify the bank example to filter against an observable tied to a service.  Still no luck.  If I succeed I will certainly share the code.  If anyone else has functional examples I would be grateful if I could see your solution.

[2018-05-22 23:09] rfuhrer commented on #26
Sorry guys, I've been super busy at work and I ended up just writing a horrible hack for the base autocomplete to make it work the way I wanted it to.  It's on my list to come back and replace that with this component again later.  I'll give an example of how I got it all working then.

@exlibris Following the example on the material docs under the Autocomplete should help.  here's the code for th

[2018-05-23 21:30] exlibris commented on #26
Thank you for the further code example. I think the problem I am having adapting the bank code to my project is not so much accessing the service results and displaying them, but the fact that my observable is blank when the component is first loaded and so the widget does not open and allow for input.

For example, in this application I have an observable which calls a service that retrieves plac

[2018-05-24 17:01] exlibris commented on #26
@macjohnny Vielen Dank für Ihre nützliche Rat!  (Sorry, practicing for my summer trip to Deutschland...)

Anyhow, the dummy-option did the trick.  I am able now to use your control to filter my place names.  Still some dialing in but I may be able to get the code into the main branch in time for our public product release next week.

[2018-05-28 06:52] Sabartius opened #29 "Bug in IE11: Styling broken and select not useable in automation scenarios"
Hi,

in Internet Explorer 11 the styling of the component is broken. It breaks out of the Overlay and there is no Placeholder inside the input.
![grafik](https://user-images.githubusercontent.com/12798114/40601112-1597a8f0-6254-11e8-893c-e5eedbd31019.png)

Furthermore the component is not useable when automating the application with tools like protractor.
Protractor tries to "scrollIntoView" the s

[2018-05-28 07:38] macjohnny commented on #29
@Sabartius thanks for reporting the issue!

Unfortunately, I am not able to reproduce your IE11 width issue. This is what I get with IE11:
![ie](https://user-images.githubusercontent.com/5589029/40602295-592b78d6-6258-11e8-9b21-9049a12943bb.png)
Could you provide more details how you used the component?
However, the placeholder is missing, as you reported. Would you like to give it a try and imple

[2018-05-28 11:43] Sabartius commented on #29
I reproduced it: https://stackblitz.com/edit/github-kygcsp?file=src%2Fapp%2Fapp.component.ts

The Select-Panel has a hard max-width of 280px. If an MatOption has a longer text, the search Input seems to grow further, than this maximum.

When you open the Panel it should automatically scroll to Bank K (Italy), but because the Input overlays it, you can't see it

[2018-05-29 06:12] macjohnny commented on #29
@Sabartius thanks for the example showing the issue.
Indeed, now I can also reproduce the width-issue in IE. I think this is related to the code in https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L375-L398

Could you please help me and find a solution for it?

Could you also propose a solution to the automation issue?

[2018-05-30 13:28] macjohnny commented on #29
@Sabartius could you please open a separate issue concerning the automation part? I think we can find a way to achieve this without changing the layout.

[2018-05-30 13:44] #29 closed

[2018-06-01 06:05] macjohnny commented on #29
@Sabartius would you mind stating the automation case in a separate issue? I guess this could be solved with test-specific css styles.

[2018-06-05 10:29] irowbin commented on #26
@macjohnny There is an issue of the search input `box-shadow` if i use with `mat-datepicker`.  Once you open and close `mat-datepicker` you'll see this shadow.

**ngx-mat-select-search:** `1.2.1`
**@angular-material:** `6.1.0`

Take a look:
![capture](https://user-images.githubusercontent.com/13050078/40970568-bb098128-68da-11e8-96fc-7550255bbff8.JPG)

[2018-06-05 11:18] macjohnny commented on #26
ah, ok, I see. we could solve this by explicitly setting the `box-shadow` css property of `.mat-select-search-inner`.
@irowbin would you like to give it a try and implement this?

[2018-06-05 13:48] irowbin commented on #26
@macjohnny That'll help though but, I don't understand that why  this `mat-datepicker-content` class being added while its not controlled by `<mat-datepicker>`

[2018-06-05 13:55] macjohnny commented on #26
@irowbin the class `mat-datepicker-content` is added on purpose here: https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.html#L7
in order to inherit the material theme colors, see PR #22

[2018-06-05 15:16] irowbin commented on #26
@macjohnny So basically it is non-generic method to implement classes like that i assuming. I've managed to adjust the `box-shadow` css property. What if there is some changes happened on class `mat-datepicker-content` and have to change things on all? Isn't it a bad idea to inherit some class which is defined to other element?

[2018-06-05 15:44] macjohnny commented on #26
@irowbin

great. Would you like to contribute this change with a PR to this repository?

we would need to adapt the css of `.mat-select-search-inner` and compensate the changes.

absolutely. the proper way would be to create a component theme similar to https://github.com/angular/material2/blob/master/src/lib/datepicker/_datepicker-theme.scss#L28 and require the users to include the mixin in their

[2018-06-06 15:44] macjohnny opened #33 "Bug: input shows drop shadow when used together with MatDatepicker"
See https://github.com/bithost-gmbh/ngx-mat-select-search/issues/26#issuecomment-394660787

https://user-images.githubusercontent.com/13050078/40970568-bb098128-68da-11e8-96fc-7550255bbff8.JPG
![image](https://user-images.githubusercontent.com/5589029/41049441-33e18d62-69b1-11e8-905d-08bd31f30d78.png)

thanks to @irowbin for reporting this issue

[2018-06-06 15:44] macjohnny commented on #33
example: [https://stackblitz.com/github/gqaiqoma](https://stackblitz.com/github/gqaiqoma)

[2018-06-06 15:45] macjohnny commented on #33
the proper way would be to create a component theme similar to [https://github.com/angular/material2/blob/master/src/lib/datepicker/_datepicker-theme.scss#L28](https://github.com/angular/material2/blob/master/src/lib/datepicker/_datepicker-theme.scss#L28) and require the users to include the mixin in their global styles, see [https://material.angular.io/guide/theming-your-components](https://mater

[2018-06-06 15:50] macjohnny opened #34 "Enhancement: use proper material theming"
See https://github.com/bithost-gmbh/ngx-mat-select-search/issues/26#issuecomment-394759353

the proper way would be to create a component theme similar to [https://github.com/angular/material2/blob/master/src/lib/datepicker/_datepicker-theme.scss#L28](https://github.com/angular/material2/blob/master/src/lib/datepicker/_datepicker-theme.scss#L28) and require the users to include the mixin in their

[2018-06-06 15:54] macjohnny commented on #26
@irowbin I moved your issues to https://github.com/bithost-gmbh/ngx-mat-select-search/issues/33 and https://github.com/bithost-gmbh/ngx-mat-select-search/issues/34

[2018-06-06 17:58] #33 closed

[2018-06-07 05:47] macjohnny commented on #33
rounded border style is also applied

[2018-06-11 11:08] irowbin opened #37 "load more on scroll (Infinite scroll)"
Is it possible to add infinite scroll to load more record from server? I think this feature isn't implemented yet.

[2018-06-11 11:20] macjohnny commented on #37
@irowbin sounds like a good idea!
currently, you would have to add an scroll event listener to the option container and update the observable feeding the option list. but I guess it is quite some work to get this right.

This feature would be even better in combination with virtual scroll, see https://github.com/angular/material2/issues/823

anyway, unless you think I am wrong, I suggest you to mo

[2018-06-14 09:55] Sabartius commented on #29
@macjohnny test-specific css styles are not an option in my opinion, especially not in an end2end scenario. But i solved it in a more pragmatic way: by filtering for the option i need, so that there is no scrolling inside the select necessary.

[2018-06-14 15:00] macjohnny commented on #37
there exists the following `MatSelect` feature request: https://github.com/angular/material2/issues/11578

@irowbin if you feel like implementing this in `ngx-mat-select-search`, feel free to open another issue and a PR.

[2018-06-14 15:00] #37 closed

[2018-06-14 18:45] maxencefrenette commented on #1
For anybody alse who's having that problem, I recommend the `disableOptionCentering` option on the `<mat-select>` https://material.angular.io/components/select/api .

[2018-06-15 05:36] macjohnny commented on #1
@maxencefrenette thanks for sharing a solution!
would you want to file a PR to add a note to the Readme (e.g. as a subheading in the [How to use it?](https://github.com/bithost-gmbh/ngx-mat-select-search#how-to-use-it) section? I think then we could close this issue.

[2018-06-18 06:53] macjohnny opened #38 "Compatibility: find parent overlay element by css-selector"
Find parent overlay element by css-selector instead of using `.parentElement` ([mat-select-search.component.ts#L332](https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L332))
in order to avoid incompatibility due to markup changes, e.g. in https://github.com/angular/material2/pull/11801

[2018-06-28 06:54] #38 closed

[2018-07-03 16:28] OmarAlBchouti opened #40 "mat-select-search selecting from drop down issue"
Hello,

I just npm install the ngx-mat-select-search I occurred a bug when I filter the drop-down then select an item, the item is selected, then in a moment the drop-down select the default value
Step to reproduce:

1. Filter the list  all work fine
2. Select an option  the item will be displayed as usual
3. then in just a moment is reselecting the first item in the source list

this bug occurs o

[2018-07-04 07:03] macjohnny commented on #40
@OmarAlBchouti which versions of `angular` / `material` / `ngx-mat-select-search` do you use?
could you provide an example on stackblitz? with the example at [https://stackblitz.com/github/llqiopmm](https://stackblitz.com/github/llqiopmm) I am unable to reproduce the bug you describe. Can you verify your bug also occurs in this example?

[2018-07-04 08:44] OmarAlBchouti commented on #40
i'm using
angular: local version is v 6.0.1 and global angular cli version is v 6.0.8
material : v 6.3.2
and ngx-mat-select-search : v 1.2.4
and i'm using the exact same example found in the demo
regard

[2018-07-04 09:13] macjohnny commented on #40
@OmarAlBchouti can you reproduce the bug on [https://stackblitz.com/github/llqiopmm](https://stackblitz.com/github/llqiopmm)? if so, could you try to describe the steps again that lead to the behavior?
Could you post your code?

[2018-07-04 09:41] OmarAlBchouti commented on #40
I'm using the same example found in https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
When i select an item from the drop-down is selected
but when i filter then select an item => the item is selected then in just a  moment is select the first item in mat-option

[2018-07-04 10:20] macjohnny commented on #40
@OmarAlBchouti I am sorry but I am unable to observe the behavior you describe if I use [https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example](https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example)
which browser are you using?
can you record your screen to show the issue?

[2018-07-04 17:19] OmarAlBchouti commented on #40
hello,
you will find below the code related you should be able to reproduce
This is the app.component.ts:
`import { Component, OnInit } from '@angular/core';
import { FormControl } from '@angular/forms';

@Component({
  selector: 'app-root',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent implements OnInit {
 public defaultdrop:string ="Me";

[2018-07-04 17:38] OmarAlBchouti commented on #40
I manage to add a live demo find in the zip file as mp4 video
[DropDownFilterDemo.zip](https://github.com/bithost-gmbh/ngx-mat-select-search/files/2164013/DropDownFilterDemo.zip)

[2018-07-05 06:46] macjohnny commented on #40
I am closing this as it is not a bug of `ngx-mat-select-search`, but rather of the component that uses it.
@OmarAlBchouti feel free to open another issue if you find anything else.

[2018-07-05 06:46] #40 closed

[2018-07-05 07:32] OmarAlBchouti commented on #40
Yup, that solved my problem thank you for your help.

[2018-07-05 07:36] macjohnny commented on #40
@OmarAlBchouti glad I could help. don't forget to star `ngx-mat-select-search` on Github if you like the project ;-)
![image](https://user-images.githubusercontent.com/5589029/42308751-cddd2c1e-8036-11e8-9ddd-2dc2346e6bf2.png)

[2018-07-10 12:53] OvidijusStukas opened #41 "Enchanment: support svg icon for delete button"
Hello,

I'm currently using material 6 and using SVG icons. I would like a way to set svgIcon for delete button since now it's hardcoded to "close" google icon font.

Currently I workaround by globally changing '.mat-select-search-clear' to display none. Better without button than text of 'clear'

[2018-07-10 13:11] macjohnny commented on #41
@OvidijusStukas thanks for your feature request. I think it is a good idea to make the clear icon configurable.
how about changing https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.html#L23
to
[code]
and adding a
[code]
?

Would you like to create a PR and maybe add an example?

[2018-07-10 21:13] OvidijusStukas commented on #41
Created a pull request for feature changes. Added a custom directive which allows to completly override default icon. So end users can define mat-icon.

[2018-07-12 07:22] geraldhe opened #43 "Feature Request: Handle Control keys Pos1 & End in input field"
Hello!

the keyboard-keys "Home/Pos1" (to set the cursor to the beginning) and "End" (to set the cursor to the end) are not working in the search-box.

[2018-07-12 07:48] #41 closed

[2018-07-12 11:03] macjohnny commented on #43
@geraldhe thanks for your feedback.

The reason for Home / End being ignored by `ngx-mat-select-search` is that these keys are handled by the `mat-select`, see
https://github.com/angular/material2/blob/afb0ee37ebe0342020a9fe8c804b7b43de0ca12e/src/lib/select/select.ts#L699
the Home / End keys move the selection to the first / last item of the options.

The only key that is not propagated to `mat-se

[2018-07-12 11:21] macjohnny commented on #1
@maxencefrenette I added your workaround to the https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/README.md#known-problems--solutions
I guess so far there is no better solution due to the way panel positioning is handled in material.

[2018-07-20 09:59] kemalatila opened #45 "import problem NgxMatSelectSearchModule"
Hi,
I tried to import NgxMatSelectSearchModule into app.module.ts and I get this error.
If 'ngx-mat-select-search' is an Angular component, then verify that it is part of this module.
also I tried to import to only my module and I get same error. Could you help me?

`    "@angular/animations": "6.0.2",
    "@angular/cdk": "6.0.2",
    "@angular/common": "6.0.2",
    "@angular/compiler": "6.0.2",

[2018-07-20 10:41] macjohnny commented on #45
Could you post your code? Maybe on stackblitz? i guess you are using the ngx-mat-select-search element in a different module, not in the appModule, so you need to import the NgxMatSelectSearchModule in that module

[2018-07-20 11:32] kemalatila commented on #45
@macjohnny :smile: even gave star, very useful project.

[2018-07-23 10:09] macjohnny commented on #43
@geraldhe are you interested in implementing this feature?

[2018-07-24 07:43] kemalatila opened #46 "Dynamically change selected values"
Hi,

How can I change selected items dynamically?

For example I tried like
this.personMultiCtrl.patchValue([that.persons[5]]);

but selected values don't change.

[2018-07-24 07:45] #46 closed

[2018-07-24 07:45] kemalatila commented on #46
my fault again sorry.

[2018-07-24 08:00] geraldhe commented on #43
sorry, no free time for this at the moment. maybe later...

[2018-08-08 10:38] blackblood19 opened #47 "Need an input param for auto-focusing filter box"
Right now, as soon as we open the select element, the filter box is focused. Is there any way to not do that?

[2018-08-10 09:08] saravanaams opened #48 "Set selected value"
I'm using ngx-mat-select-search in my application.It's working fine.But while editing the form i can't the set the selected option.

In sample based in array index it has been set as selected.

Below is my JSON loading into options.
[code]

I need to set the selection option based on countryId.

Below is my sample code.

[code]

And also how can set the selected options in multiselect?

Thanks,

[2018-08-13 05:53] macjohnny commented on #47
@blackblood19 an option would be to add
[code]
and check for it in https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L292

would you like to add this and file a PR?

[2018-08-13 07:44] macjohnny commented on #48
@saravanaams instead of `(click)="getCountryId(sr.countryId)"` you should listen on changes of the form control value, i.e. `this.countryCtrl.valueChanges.subscribe((newValue) => {})`

Could you please provide a complete example by modifying this stackblitz example:  https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search

[2018-08-14 16:28] teoCasasbuenas opened #49 "Bug with special characters."
I just found that the search fields has a bug when using special characters. If you type in an special character, like 'é' it shows the 'noEntriesFoundLabel'. At first it looks like the input got blocked, and for some reason if you try to delete with the "backspace" key (keyCode === 8) at this point, it triggers the history.back() action of the browser.

[2018-08-15 05:29] macjohnny commented on #49
@teoCasasbuenas thanks for opening this issue here. I can't reproduce the bug you report. If in https://stackblitz.com/edit/github-orcyls?file=src%2Fapp%2Fapp.component.ts you type `mét` it will correctly find the entry `Bank Gamét (Italy)`. Also, it does not seem to trigger `history.back()`.

Could you please provide an example demonstrating your issue starting with this template: https://stackbl

[2018-08-15 13:50] teoCasasbuenas commented on #49
@macjohnny I was using the first implementation of the input that you shared in the material thread, and I had not changed to the branch I was developing with the ngx, and I had not noticed. Sorry for wasting your time, my bad, and again thanks for the development of this important element.

[2018-08-15 13:51] #49 closed

[2018-08-15 14:40] macjohnny commented on #49
@teoCasasbuenas glad everything works fine. I hope you installed the package via `npm install ngx-mat-select-search` to be able to get improvements developed here.
If you find any other problem or have a suggestino, feel free to open an issue or file a pull request.

[2018-08-15 14:41] macjohnny commented on #49
@teoCasasbuenas if you like the project, feel free to star it.

[2018-08-19 22:10] super-jb opened #50 "Enhancement: Change Input search placeholder value"
I noticed this is mentioned in the README file:

But I don't understand how to change its value... Is there a way to provide a different value? If so, could you share an example? If not, could this be built in?

Thanks

[2018-08-20 05:34] #50 closed

[2018-08-20 05:35] macjohnny commented on #50
@super-jb I added an example how to change labels in #51, see https://github.com/bithost-gmbh/ngx-mat-select-search#labels

This could also be interesting for @alirezajs and @michaelfamarques

[2018-08-20 05:54] super-jb commented on #50
Thank you so much @macjohnny

**JB**

[2018-08-22 15:42] arishu39 opened #52 "Pressing tab on control moves focus to body"
I tested it for multi-select. Whenever the dropdown is open, the focus is always on search input field. Whenever we press tab on that the focus moves on to 'body' rather than next element. this is causing accessibility issue. Could you please look into this.

[2018-08-22 16:27] arishu39 commented on #52
This issue is only present in material version 5.2.4. It works fine with 6.0.0. Could you please fix it for 5.2.4?

[2018-08-23 05:33] macjohnny commented on #52
@arishu39 thanks for the bug report. Since this works correctly with material 6.0.0, where the original issue was resolved (see https://github.com/angular/material2/blob/master/CHANGELOG.md#bug-fixes-15 and https://github.com/angular/material2/issues/10900), I think it is safe to say this is not a bug in `ngx-mat-select-search`, therefore I close this issue.

However, if you can't update to the ne

[2018-08-23 05:33] #52 closed

[2018-08-23 07:34] arishu39 commented on #52
Thanks a lot Esteban. I really appreciate your quick response on this.

[2018-08-23 08:37] macjohnny commented on #52
@arishu39 you are welcome. if you like the project, feel free to star in here on github.

[2018-08-27 06:18] macjohnny commented on #48
I think this issue is not a bug but wrong implementation of angular form components, since the example (https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example) works correctly.

[2018-08-27 06:18] #48 closed

[2018-08-30 15:10] rhyre opened #53 "when placed ngIf on ngx-mat-select-search error"
When using ngIf to hide search, I've got following error.
version of angular: Angular6-latest
ngx-select: latest

TRACEBACK:
[code]

[2018-08-30 15:14] macjohnny commented on #53
@rhyre could you please provide your code? it would be even more helpful if you could adapt this example: https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example and show your issue.

[2018-08-30 15:43] macjohnny commented on #53
@rhyre I found the reason and I will release a fixed version soon.

[2018-08-30 15:45] rhyre commented on #53
Thanks, this will help a lot ! 😃

[2018-08-30 16:11] #53 closed

[2018-08-30 16:27] rhyre commented on #53
works like a charm, thanks !

[2018-09-02 10:11] ofriedrich opened #55 "Reset button not working if clearSearchInput=false"
If the option "clearSearchInput" is set to "false", it is not possible to clear the filter-input-field.

It looks like it depends on this condition:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/ae61589ccecb34b3b501a358b82f8a48f08f1856/src/app/mat-select-search/mat-select-search.component.ts#L320

If the user clicks the reset-button, the variable "focus" is set to true. So it might wo

[2018-09-02 10:31] macjohnny commented on #55
@ofriedrich thanks a good suggestion. would you like to create a PR to include your changes?
maybe you could also add an input for https://github.com/bithost-gmbh/ngx-mat-select-search/issues/47?

[2018-09-10 14:33] tsiegleauq opened #57 "Avoid logic over ViewChild selector"
`mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect`

ngx-mat-select-search depends on having either the ViewChild named `#singleSelect` or `#multiSelect`.
This prohibits us to change the selection style using a variable.
Forcing the `ViewChild`'s name to be `#singleSelect` or `#multiSelect` should be avoided.

Rather use `multiple="true"` as in `@input field` or something simila

[2018-09-10 14:53] macjohnny commented on #57
@tsiegleauq you are referring to the example code https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/app.component.html#L17-L22
The actual code https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts does not have this reference.
The example code simply illustrates how you *can* use the `<ngx-mat-select-searc

[2018-09-11 05:36] macjohnny commented on #57
@jsaalfeld thanks for your reply.
The `<ngx-mat-select-search>` should not have any effects on anything except its enclosing `<mat-select>` element. I would also recommend you to use different `[formControl]` inputs in order not to share the same form control, potentially leading to effects.
Since you are reporting that it works in a minimal setup, I close this issue. Feel free to open another iss

[2018-09-11 05:36] #57 closed

[2018-09-11 05:37] macjohnny commented on #57
@jsaalfeld if you like the project, feel free to star it ;-)

[2018-09-11 07:15] tsiegleauq commented on #57
yep we were definitely using it wrong ;-)
thanks for the quick answer and this project

[2018-09-26 13:57] #47 closed

[2018-09-26 13:58] macjohnny commented on #47
@blackblood19 version `1.4.0` contains an input `@Input() disableInitialFocus` to disable initial focusing of the input field.

[2018-09-26 14:06] #55 closed

[2018-09-26 14:08] macjohnny commented on #55
this is fixed in version `1.4.0`
@ofriedrich thanks for reporting!

[2018-09-26 18:57] Wandang opened #62 "Template parse errors: Can't bind to 'formControl' since it isn't a known property of 'mat-select'."
Hello there,

There is probably a trivial import error that I fail to find in my app. I created a extremely simplified version of my app on stackblitz.
https://stackblitz.com/edit/angular-fsb1uy

Any help is greatly appreciated. Thank you for your hard work on this fork in any case!

[2018-09-26 19:03] macjohnny commented on #62
@Wandang you are missing the `ReactiveFormsModule` import, see
https://github.com/bithost-gmbh/ngx-mat-select-search-example/blob/master/src/app/app.module.ts#L18

[2018-09-26 19:03] #62 closed

[2018-10-04 10:37] hadsy opened #63 "Rendering issue when selector is at bottom of viewport"
Great component but we are just having strange rendering issue when the selector is at the bottom of the viewport. Is there any CSS we can use to override this?
I've tried using disableOptionCentering on the mat-select but this has no effect for me.
Many thanks

![image](https://user-images.githubusercontent.com/1922001/46468763-4d0f4380-c7c9-11e8-9505-e35fd774c868.png)

[2018-10-04 12:59] macjohnny commented on #63
@hadsy this seems to be related to
[code]
see https://github.com/bithost-gmbh/ngx-mat-select-search/blob/1.4.0/src/app/mat-select-search/mat-select-search.component.scss#L39

Setting it to the original value (https://github.com/angular/material2/blob/master/src/lib/select/select.scss#L9) seems to resolve the issue:
[code]
I will release  a patch version that removes this css property, using the or

[2018-10-04 13:15] #63 closed

[2018-10-04 13:34] hadsy commented on #63
Cheers @macjohnny just tried it, works like a charm. Also big thanks for the quick response and new release, impressive!

[2018-10-08 00:59] st-clair-clarke commented on #15
@macjohnny @vjpc
I too would like to have an example for the mat-select with groups. I have been also unsuccessful in generating a filttered select with the groups.

For @macjohnny, instead of using an array of inputs such as your Bank[] array, the shape of the input will now have to be like the one below:

[code]

An example is at [https://material.angular.io/components/select/overview](https://m

[2018-10-09 04:59] maechler commented on #15
@st-clair-clarke You can place the `ngx-mat-select-search` component, just as you would without option groups, as the first child of `mat-select`. The model and the filter function look a little different then in the existing examples however. I will add an example for this.

[2018-10-09 16:09] st-clair-clarke commented on #15
Thanks. Looking forward to your working example ASAP.

Cheers

[2018-10-09 18:14] majoraze opened #65 "Example with Dynamically created FormGroup, specially when the select is inside FormArray"
Provide a example using Form Array.

I tried the following with no success:
[code]

The error says:
Cannot find control with path: 'rules -> SelectSearch0'

[2018-10-09 19:19] maechler commented on #65
@majoraze Thanks for your suggestion. If you succeed to implement this it would be nice if you could provide that example!

[2018-10-10 11:13] st-clair-clarke commented on #15
Thanks for your help. Working great. I saw where I was making the mistakes.

[2018-10-11 14:39] GasiorowskiPiotr opened #67 "When typing into the filter, the first value is not always preselected"
When typing some text into the filter and when doing case insensitive comparison, first value is not always preselected.

![image](https://user-images.githubusercontent.com/646725/46811933-02b33700-cd74-11e8-8940-a7e9ee6c2838.png)

[2018-10-11 17:13] mhosman opened #68 "Design it's gonna be updated for Angular Material 7.0?"

[2018-10-12 00:52] st-clair-clarke commented on #15
Hi.
Again appreciate your help. I am going to request some tweaking to keep your package more in line with material2 select. Please let me know what you think.

Compare your domain models to that of material2 for the select component:

interface Bank {
  id: string;
  name: string;
}
... would/should ? represent the shape of a select option as shown below:

export interface ISelectOption {
  value

[2018-10-12 05:43] maechler commented on #15
@st-clair-clarke Thanks for your suggestion! I think it could make sense to adopt the `material2` interfaces.. @macjohnny What do you think?

[2018-10-12 05:59] maechler commented on #68
@mhosman It should already be working with `7.0.0`, what should be changed?

[2018-10-12 10:56] maechler commented on #67
Thanks for your bug report! I will test this. If you could prepare a pull request to fix that issue, that would be appreciated!

[2018-10-12 11:30] st-clair-clarke commented on #15
I will do that.

NB. Could you please expose the place holder for the search box. Currently it is always saying 'Suche'.

Cheers

[2018-10-12 11:36] st-clair-clarke commented on #15
Adjust to material2 interface - Done!

[2018-10-12 11:38] maechler commented on #15
@st-clair-clarke Please see https://github.com/bithost-gmbh/ngx-mat-select-search#labels to change the placeholder label.

[2018-10-12 12:53] mhosman commented on #68
Just there are some small improvements in design alignments for Material 2018. Thanks!

[2018-10-12 16:17] maechler commented on #67
I can reproduce this issue, although it does not seem to have a connection to case sensitivity.

[2018-10-17 06:22] olaf89 opened #69 "Error when quickly selection option"
Cannot read property 'nativeElement' of undefined
    at MatSelectSearchComponent.push../node_modules/ngx-mat-select-search/esm5/ngx-mat-select-search.js.MatSelectSearchComponent._focus (ngx-mat-select-search.js:146)

 MatSelectSearchComponent.prototype._focus = function () {
        if (!this.searchSelectInput) {
            return;
        }
        var panel = this.matSelect.panel.nativeElement

[2018-10-17 09:06] maechler commented on #69
Thanks for reporting that bug! I can reproduce this issue. Could you prepare a pull request to fix this issue?

[2018-10-22 07:23] giacomarco opened #70 "problem when i scroll mat-select + ngx-mat-select-search on IOS"
When I scroll the select on IOS the input search is not fix on top. [Video DEMO](https://www.youtube.com/watch?v=TyFg4P6jktg&feature=youtu.be)

[2018-10-22 15:22] RhinojosaDeveloper opened #71 "Compatibility with Angular 7"
Package "ngx-mat-select-search" has an incompatible peer dependency to "@angular/cdk" (requires "^5.0.0 || ^6.0.0", would install "7.0.1").

[2018-10-22 16:45] maechler commented on #71
Thanks for reporting, there seems to already be an issue on this for `ngx-webstorage`:
https://github.com/PillowPillow/ng2-webstorage/issues/94

[2018-10-22 19:01] vjpc commented on #15
@st-clair-clarke I had a very specific requirement for grouping and found it difficult to implement using ngx-mat-select. So instead used the mat-autocomplete.

[2018-10-23 02:13] st-clair-clarke commented on #15
@vjpc Hi vjpc. Are you saying that you use the mat-autocomplete to implement a form of grouping selection? Could you please share an example, preferable a link to a stackblitz demo?
Cheers

[2018-10-23 05:15] ShilpaVKulkarni opened #72 "Instead of static bank values, passed the dynamic data but search is not working"
Hello,

I used the ngx-mat-select-search example in my angular project. This works fine. But instead of static bank values if I pass dynamic data as option then search is not working. How to resolve this? My code is as follows:

**HTML**
[code]

**TS**
[code]

Please provide solution for solving this issue.

Thanks & Regards,
Shilpa Kulkarni

[2018-10-23 05:51] maechler commented on #72
@ShilpaVKulkarni Could please try to provide more information on what exactly is not working. Do the options show up? Is it possible to select options? Does the search input field show up? Is the search keyword correctly passed to `filterBanks`?

I currently do not think that this is an issue with `ngx-mat-select-search` as it should work with dynamically loaded data just as it does with static da

[2018-10-23 06:16] ShilpaVKulkarni commented on #72
Thank you for the quick reply. Yes options show up. I am able to select options & also search input field shows up. Yes search keyword correctly passed to filterBanks. The issue is filter is not working. Can you please provide solution for this..

[2018-10-23 06:19] ShilpaVKulkarni commented on #72
[code]
This is the dynamic data I am passing. I am able to get this in drop down but filter is not working. How to map this dynamic values to interface?

[2018-10-23 07:43] maechler commented on #72
Your variable `this.apps` should probably be of type `Bank[]`:
`private apps: Bank[] = [];`

But you should probably also rename the interface from `Bank` to `App`.

[2018-10-23 09:28] Kimmova opened #73 "Filter selection jumps to next entry on reset"
Hi,

After typing the first letter into the search field the options are filtered and the first option is then correctly autoselected, so that it can (almost) be set by hitting the Enter key (for example).

However, after a few milliseconds, the next entry in the list is selected automatically. This happens continuously once the search input has been emptied and you start typing again.

The easies

[2018-10-23 09:49] ShilpaVKulkarni commented on #72
I applied as you said. But still filtering is not working.
**My code is as follows:**

[code]

[2018-10-23 11:43] macjohnny commented on #73
I think this is closely related to https://github.com/bithost-gmbh/ngx-mat-select-search/issues/67

[2018-10-23 11:47] macjohnny commented on #72
In the template you are using

  ngFor=„let app of apps“

Which uses this.apps

While in the filter method you have

    // filter the banks
    this.filteredBanks.next(
      this.apps.filter(app => app.name.toLowerCase().indexOf(search) > -1)
    );

Which updates this.filteredBanks

So you should change your template to

*ngFor=„let app of filteredBanks“

and it should work.

[2018-10-23 11:47] macjohnny commented on #72
If it works, please close this issue as this does not seem to be a bug

[2018-10-23 12:50] macjohnny commented on #73
I have no clue yet, but it could be related to mat select itself, maybe due to the frequent option list change.

[2018-10-23 12:51] macjohnny commented on #73
If you could help and try to investigate this, i would appreciate it.

[2018-10-23 13:21] st-clair-clarke opened #74 "Setting initial value of single select bank group"
Hi,
From your example, as shown below,  I am trying to set the initial value but have been unsuccessful:

[code]

Could you let me know what I am doing incorrectly?

[2018-10-23 14:05] maechler commented on #74
This is not a bug, we will however include this into the example. Please see the following lines of code that set the default value:

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/0dc0ece8bdfebcf19bafae50e64e2818983427df/src/app/app.component.ts#L72-L73

For groups it just looks slightly different:

[code]

You can not simply use a string with `setValue` as you did, you have to pass i

[2018-10-23 19:20] st-clair-clarke commented on #74
Thanks a million.

Cheers

[2018-10-23 21:02] Kimmova commented on #73
I got it to work in a development build by changing the _handleKeydown (mat-select-search.component.ts, l. 261) method to stop propagation on all keys except enter, up arrow and down arrow, since these are the only keys needed to pass to MatSelect as I see it.

Changed method to this:
[code]

I do not see much point in passing anything other than these keystrokes, since this plugin will be handlin

[2018-10-23 22:54] macjohnny commented on #73
Thanks for having a look into this.
The Home/End/escape keys should be added to your solution, too. Probably there are even more keys that are handled by either the overlay panel, the mat select or the option.

I think it is better to filter some keys (space in this case) instead of passing only specific keys (home, arrow up/down, etc.), since this is more robust against changes of the mat select

[2018-10-24 04:52] ShilpaVKulkarni commented on #72
@macjohnny  I changed the template to     `<mat-option *ngFor="let app of filteredBanks | async" [value]="app">`. But the options are not listing in drop down.

[2018-10-24 06:19] Kimmova commented on #73
I agree, the filter list I posted is incomplete and those keys that you mention should definitely be added as well.

While I also agree that only some keys should be filtered, the range of these keys might be all alphanumeric characters,

I think the issue originats in Material's ListKeyManager implementation, which is used in MatSelect. This is in order to provide a quicksearch in e.g. MatSelect

[2018-10-24 06:58] Kimmova commented on #73
Also, in my tests I did not encounter problems with SPACE while in search field even if I excluded this from the stopPropagation list. Are you sure this check is necessary? I know that ENTER and SPACE will trigger selection, but it seems only ENTER has this effect while the search input is focused.

Once the select itself is in focus, both ENTER and SPACE will active the item(s) regardless if this

[2018-10-24 07:29] maechler commented on #72
You probably also have to call `this.filteredBanks.next(this.apps.slice());` in your method `getDeployedApps` at the same point as you did this `console.dir(this.apps);`.

[2018-10-24 11:47] macjohnny commented on #73
@Kimmova thanks for the excellent analysis!
I think your proposed solution looks good.
Some remarks though:
You are checking capital A and capital Z, how about lowercases? Or are they already included with these constants? (I guess you want to use those from angular cdk)

The space key needed to be stopped from propagation, at least with the material version that was available when the initial ver

[2018-10-24 12:18] #74 closed

[2018-10-26 00:59] st-clair-clarke opened #76 "adding icon to mat-select group name"
Hi,
This a request, NOT an issue.
Would you please consider adding the ability for the name of a group to support an icon as well as the name.

Consider the following:
[code]

  <mat-icon
                    [svgIcon] = 'group?.icon'
                    class = 'mrg-rt-5px'
                    color = 'accent'></mat-icon>

does not display the icon.

I suggest maybe group.icon. Please let me know

[2018-10-26 05:56] maechler commented on #76
@st-clair-clarke This seems to be more like an issue that has to be solved in the component `mat-optgroup`. It looks like this has been fixed in `material2` `7.0`, please see:

https://github.com/angular/material2/issues/11489
https://github.com/angular/material2/releases/tag/7.0.0-rc.1

`select: allow extra content to be projected after label in mat-optgroup (#13396) (cb5b15e), closes #11489`

[2018-10-26 06:13] #73 closed

[2018-10-26 10:01] st-clair-clarke commented on #76
I am attempting the trasclusion with ng-content without success
Below is my multi-select-group segement:

[code]
And here is my projected content

 <nhncd-mat-multi-select-group>
                  <mat-icon
                      [svgIcon] = 'group?.icon'
                      class = 'mrg-rt-5px'
                      color = 'accent'></mat-icon>
                </nhncd-mat-multi-select-group>

An

[2018-10-26 16:40] #69 closed

[2018-10-26 17:12] maechler commented on #73
Fixed with the new release `1.4.2`

[2018-10-26 17:12] maechler commented on #69
Fixed with release `1.4.2`

[2018-10-26 17:13] maechler commented on #67
Fixed with release `1.4.2`

[2018-10-26 17:15] maechler commented on #76
I am afraid, I do not know what could be wrong. Please see `material2` to make this work. I will close this issue because it is not related to `ngx-mat-select-search`.

[2018-10-26 17:15] #76 closed

[2018-10-31 01:09] mhosman opened #81 "ngx-mat-select-search not updating width on resize"
If you keep the mat-select-search opened and you resize the page, the mat-select-search is not being resized.

[2018-10-31 01:52] st-clair-clarke commented on #76
@maechler Please have a look at https://github.com/angular/material2/commit/cb5b15e#diff-116eefc2192e5113737131ba1a3ac7b0. Adapting this to ngx-mat-select-search is a challenge.

[2018-11-09 06:51] maechler commented on #81
@mhosman Thanks for reporting! I could not yet reproduce that issue. Do you mean that the select box can be wider than the viewport if the viewport gets very small?
Can you please check whether this also happens to `mat-select` if you use it without `ngx-mat-select-search`?

[2018-11-20 11:17] macjohnny commented on #81
I can't reproduce the issue either, so I am closing this issue.
@mhosman please provide a screenshot / demo of the situation you describe, so I will reopen the issue to investigate it again.

[2018-11-20 11:20] macjohnny commented on #71
since version `1.4.0` the dependencies allow angular 7, see https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/1.4.0 and
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/package.json#L36-L38
so I close this issue.
@RhinojosaDeveloper or is there any other problem that I did not consider?

[2018-11-20 11:20] #71 closed

[2018-11-20 11:37] macjohnny commented on #65
@majoraze in your example you are using the wrong form control name `SelectSearch0`. instead, you should use `0` without any string prefix, since the `FormArray` elements are indexed by their integer index.
So you would have
[code]
and
in the component code you can access e.g. the first filter input with
[code]
See this working example:
https://stackblitz.com/edit/github-nee1is?file=src%2Fapp%2Fap

[2018-11-20 11:37] #65 closed

[2018-11-20 11:43] macjohnny commented on #70
I can confirm the problem. However, I have no idea how to solve it, yet. @giacomarco would you like to help us and try to find out how to solve this?

[2018-11-23 11:18] macjohnny commented on #81
@mhosman the issue you described can occur if the panel is resized (which I could not observe in the default setup) due to the following line:

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L429

One solution would be to manually invoke the `getWidth()` method once the resize event occurs. For this, the access of `getWidt

[2018-12-01 06:44] shashikantdurge opened #82 "First dropdown of the page doesn't work"
Only First dropdown:
1.  auto selects the first value of the dropdown.
2.  search works, but Enter key doesn't selects the option.

[2018-12-01 08:16] muhammedyilmaz opened #83 "Binding data to child component with Observables"
In order to use ngx-mat-select-search in a simple use-case i needed to write bunch of lines of code, but i wanted to use it easier and i wrote a component below.

code in app-select-search.component.ts
[code]
Here is how i use it.
code in test.component.ts

[code]
[code]

The problem is that **data/countries** is empty on init that's why select's opts are empty. But eventually after subscribing **

[2018-12-01 08:33] macjohnny commented on #83
@muhammedyilmaz you need to initialize the filtered list after setting the data input. In your example, this is currently done in
[code]
So instead, you should have something like
[code]
does that help?

[2018-12-01 08:38] macjohnny commented on #83
moreover, in your template you have
[code]
which should be
[code]

[2018-12-01 08:49] macjohnny commented on #82
@shashikantdurge thanks for opening this issue. unfortunately, I am not able to reproduce the problems you described with the example https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example

The first dropdown correctly sets the first item of the filtered list active and selecting the option with the enter key works.

Which version are you using? Can you provide an example code or

[2018-12-01 12:52] muhammedyilmaz commented on #83
@macjohnny it helped fixed my problem thanks! but i didn't understand what is actual difference between my approach and your approach technically. i think i need some deeply learning on angular&ts. could you please provide me to read subjects to understand especially why my code didn't work.

[2018-12-06 06:54] ShilpaVKulkarni opened #84 "Clear icon for selected option"
I have added icon for selected option, on click of that icon, I want to reset the selected value.
My code is as follows:
[code]

[code]

But with this code, the option is still selected. On click of that icon it should remove selected option.
How to solve this?

[2018-12-06 08:34] macjohnny commented on #83
@muhammedyilmaz the difference is that
[code]
is only called when the component is initialized. Since `this.data` is an input and this input is set asynchronously after your data is loaded in
[code]
the `this.data` variable will be empty during the execution of `ngOnInit`.
By using
[code]
the `this.filteredEntities.next(this.data.slice());` is called whenever the data-input changes, e.g. when it i

[2018-12-06 08:34] #83 closed

[2018-12-07 12:42] macjohnny opened #85 "Improve enter / leave animation"
Due to positioning during the panel fade in / out animation, the search input instantly appears after the animation is done.
This should be improved to smoothly fade in the search input.
Probably the positioning during the animation needs to be fixed.

[2018-12-10 16:02] macjohnny commented on #82
Since we are unable to reproduce the issue, i am closing this for now.
@shashikantdurge if you still think this is a valid issue, please provide more details about what exactly the problem is and how to reproduce it. I will re-open the issue then.

[2018-12-10 16:02] #82 closed

[2018-12-10 16:02] macjohnny opened #86 "Refactor examples"
refactor each example into a separate sub-component

[2019-01-08 08:25] #70 closed, assigned to macjohnny

[2019-01-08 08:49] macjohnny commented on #15
example added in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/66

[2019-01-08 08:49] #15 closed

[2019-01-08 13:20] macjohnny commented on #86
examples refactored in #91

[2019-01-08 13:20] #86 closed

[2019-01-08 17:44] macjohnny commented on #1
With the release [1.5.0](https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/1.5.0) it is possible to place `<ngx-mat-select-search>` inside a `<mat-option>` element.
This prevents the search field being placed outside of the visible viewport.
Thanks to @hanuhimanshu for proposing this solution.

[2019-01-08 17:44] #1 closed

[2019-01-10 08:08] harshnagalla opened #96 "Setting initial value of the Multi select dropdown"
I am trying to loop through an array and set the value of the FormControl dynamically but it only sets the value for the last array element

This is what i am trying to do -
[code]

[2019-01-10 08:50] macjohnny commented on #96
you need to set the value after you have collected the list of values, since now you are resetting the selected value on each loop pass.
Here is how you can solve it:

[code]
Also, make sure you set the `matSelect.compareWith` function after the options have been loaded if you load the options asynchronously, see https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/examples/02

[2019-01-10 08:50] #96 closed

[2019-01-10 15:40] vancan1ty opened #97 "demo not working"
Just a heads up that your demo at https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example is not working as of today 1/10/2019.  error message below:

![image](https://user-images.githubusercontent.com/2806839/50979230-4cb2d280-14b3-11e9-8948-88955e134817.png)

[2019-01-10 16:14] macjohnny commented on #97
@vancan1ty thanks for reporting. indeed the demo currently isn't working.
However, it worked yesterday. Need to check what the issue is. Maybe a problem on stackblitz.

[2019-01-11 06:51] macjohnny commented on #97
the demo is working again. as suggested in https://github.com/angular/angular/issues/27531 and https://github.com/stackblitz/core/issues/758, the following line is necessary for angular 7 on stackblitz:

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/b29e03bd5773ab5357fd69a83330577a9857e865/src/polyfills.ts#L45-L46

[2019-01-11 06:51] #97 closed

[2019-01-14 19:21] jkhadivi opened #98 "error in multiple select"
Hi
im using "@angular/material": "^7.1.1" & "@angular/material": "^7.1.1", in single select its work normally but when i use multi select (multiple) , not displayed properly (css problem) =>
![image](https://user-images.githubusercontent.com/46120896/51135139-981c0680-184e-11e9-873a-7b0b08e753ac.png)

[2019-01-14 20:41] #98 closed

[2019-01-14 20:43] macjohnny commented on #98
@jkhadivi thanks for reporting. I release version `1.5.1` which should fix the issue

[2019-01-23 18:48] mstawick opened #101 ""No results" missing if ngx-mat-select-search wrapped in <mat-option>"
If `ngx-mat-select-search` is wrapped in `<mat-option>`, the "No results" label will not show. It looks like it's just cut-off.

This can be seen in stackblitz examples. The `Single selection` example is broken, since it's wrapped, and the `Multiple selection` works fine, since it's not.

Thanks for this great component.

[2019-01-24 06:45] macjohnny commented on #101
@mstawick thanks a lot for reporting this issue. I am about to release a fixed version.

[2019-01-24 06:57] #101 closed

[2019-01-24 07:02] macjohnny commented on #101
the fix was release in `1.5.2`

[2019-01-24 07:56] macjohnny commented on #81
this should be fixed due to https://github.com/angular/material2/pull/14932

[2019-01-26 12:57] Gustav0ar opened #103 "Support for template driven forms"
Please add support template driven forms. When I try to use the library right now I get:

`<ngx-mat-select-search #bankSearchSelect="ngModel"></ngx-mat-select-search>`

[2019-01-26 17:58] macjohnny commented on #103
You can simply use it like this:

<ngx-mat-select-search [(ngModel)]=„searchKeyword“>

[2019-01-26 18:01] Gustav0ar commented on #103
I know but that way I can't get the event when text change. The other way I could reference in the component and get the event.

[2019-01-26 19:03] macjohnny commented on #103
You can get the change event like this:
<ngx-mat-select-search ngModel (ngModelChange)=„myFunction($event)“>

[2019-01-26 20:45] Gustav0ar commented on #103
Yeah, I know. Thanks for the help.

[2019-01-26 20:45] #103 closed

[2019-01-27 02:10] Yavorss commented on #85
Yes, this effect is awful. I'm gonna try to fix it if I have time these days

[2019-01-28 06:17] macjohnny commented on #103
@Gustav0ar glad to hear it worked. Feel free to add a star if you like the project.

[2019-01-30 20:43] macjohnny opened #104 "Feature: Add directive for easy filtering"
- [ ] Add directive
- [ ] Update docs
- [ ] Add examples
- [ ] Add Tests
- [ ] Release

[2019-02-11 03:08] btd1337 opened #105 "Error in to select value"
After selecting a filtered option, the formcontrol receives the value, but the field clears and displays the mat-select placeholder.

Formcontrol after select filtered option

[code]

Component code:

[code]

[code]

[code]

[2019-02-11 06:37] macjohnny commented on #105
* you can use the `clearSearchInput` input to prevent clearing the search input when the dropdown is closed, which triggers another query due to your
[code]
part. Set it to false as follows:
[code]

* alternative: use a custom `compareWith` function for the `mat-select`, since you are creating new objects in each new query, so the `===` comparison will yield `false`. See e.g. https://github.com/bi

[2019-02-11 06:37] #105 closed

[2019-02-11 15:04] btd1337 commented on #105
@macjohnny Well, It now the component doesn't clearing after select in dropdown, this is good.

But, when load view that contain object with a default value it not is displayed. The mat-select placeholder is displayed. How to fix this?

Thank you in advance.

[code]

[code]

[code]

[code]

[code]
public ngOnInit() {
    this.cooperatorsFilteringCtrl();
}
[code]
private cooperatorsFilteringCtrl()

[2019-02-11 15:15] macjohnny commented on #105
you need to set the `compareWith` property again after the data is loaded. please have a look at the examples:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/c5eb9163a12b100aeebe3c32518668bdb0963a5e/src/app/examples/01-single-selection-example/single-selection-example.component.ts#L64-L75

[2019-02-11 15:16] macjohnny commented on #105
could you please provide a minimal example on stackblitz? you can use https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example as a starting point

[2019-02-11 15:34] macjohnny commented on #105
I can't figure out where in your code you set the actual initial value...

[2019-02-11 15:51] btd1337 commented on #105
Minimal example here: https://stackblitz.com/edit/github-axr2a8

[2019-02-11 16:03] macjohnny commented on #105
@btd1337 the example doesn't seem to be working...

[2019-02-11 16:06] macjohnny commented on #105
moreover, I still can't find the place where you are setting an initial value. Please give me more precise information about
- what you want to do
- where you implemented some code that should do that

[2019-02-11 16:27] btd1337 commented on #105
Is here:

[code]

[code]

In all other fields this works properly, but in `responsable` field that use `ngx-mat-select-search` don't work.

[2019-02-11 16:34] macjohnny commented on #105
You need to make sure that you are setting a value that is among the available options at the moment of setting, otherwise `mat-select` will reject this value. I suggest you load the pre-selected value and initialize the filtered list afterwards

[2019-02-11 17:09] btd1337 commented on #105
I will try. Thank you!

[2019-02-11 19:47] Lempkin opened #106 "[FEATURE] Define noEntriesFoundLabel globally"
It would be nice if we could define noEntriesFoundLabel  value globally, and not on each field  :)

[2019-02-12 07:20] macjohnny commented on #106
@Lempkin you could write your own directive e.g. like
[code]
If the value needs to change e.g. due to a language change, you would need to trigger change detection. currently you would need to do it as follows:
[code]

Does this help you?

[2019-02-27 16:52] aroblu94 opened #107 "[BUG] mat-select-search-no-entries-found persists after panel closes"
**Describe the bug**
 `mat-select-search-no-entries-found` class persists after panel closes. This causes a blank-mat-option-like space before real mat-options until clicking on "X" button to clear filter.

**To Reproduce**
(based on https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example)
1. Click on the first select input
2. Search for something doesn't exists (like "aaaa")
3. U

[2019-02-27 17:27] macjohnny commented on #107
Thanks a lot for reporting this issue!
Would you like to file a PR to fix the issue?

[2019-02-28 09:06] juan-db opened #108 "[FEATURE] Disabling no entries found element"
It might sometimes be beneficial to disable the no entries found element, for example if you'd like to insert your own element. In my case I have a list of entries and if none of the match the search I want to have an option along the lines of "Add new item".

A boolean input on the ngx-mat-select-search component which is checked in the ngIf for the no entries found element.

In terms of alternat

[2019-02-28 09:13] macjohnny commented on #108
@juan-db you can actually achieve this by setting `[noEntriesFoundLabel]="null"`

See
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/84f20b10a0f656c5e7a32cc2b2da9ffa2e372aff/src/app/mat-select-search/mat-select-search.component.ts#L475-L487

maybe we could add a note to the readme?

[2019-02-28 09:22] juan-db commented on #108
That might be a good idea. I just noticed the note in the documentation comment for noEntriesFoundLabel itself. I should've looked harder before creating the issue, sorry.

[2019-02-28 09:26] #108 closed

[2019-02-28 09:27] macjohnny commented on #108
@juan-db if you like the project, feel free to give it a star

[2019-02-28 14:14] aroblu94 commented on #107
Sorry I'm a bit late, I didn't see your response.
Waiting for the fix to be pushed on production, thanks! :)

[2019-02-28 14:21] macjohnny commented on #107
@aroblu94 i will release version 1.5.3 later today

[2019-02-28 17:23] #107 closed

[2019-02-28 17:33] macjohnny commented on #108
the fix was released with version [1.5.3](https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/1.5.3)

[2019-02-28 17:33] macjohnny commented on #107
the fix was released with version [1.5.3](https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/1.5.3)

[2019-02-28 17:36] macjohnny commented on #106
version [1.5.3](https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/1.5.3) allows to access the `ChangeDetectorRef` as
[code]
therefore the solution proposed should work.
Please let me know if there is anything else, so I could reopen this issue.

[2019-02-28 17:36] #106 closed

[2019-03-01 18:53] allensutton opened #111 "Unable to initialize existing values and selected values at the same time when used as child component"
I am attempting to use ngx-mat-select-search as a child component of a parent form.  When the user goes to the form, existing values for the item being manipulated should be populated in the form, then any updates made in the form will be sent to a database to update that record.  However, I am only able to get two scenarios to occur:

1.) Existing values populate, but without new values being "se

[2019-03-02 11:29] macjohnny commented on #111
The solution is to set the initial value on the correct form control of the parent form, i.e.
[code]
See this working example: https://stackblitz.com/edit/github-mfmoas-om1yfr?file=src/app/child-component2/child-component2.component.ts

Since this issue is not related to `ngx-mat-select-search` but rather the correct usage of angular form controls, I am closing this issue.

By the way: in your cod

[2019-03-02 11:29] #111 closed

[2019-03-02 17:30] allensutton commented on #111
Thank you for the info - it looks like it works both ways now.  However, I don't think I was specific enough - the value upon submission should be an array of the _id values for the entries that are selected, as opposed to an array of their objects.  When I change the [value] field from "home" to "home._id" it messes it all up, however.  Any ideas on how to fix that?  My apologies, I know this isn

[2019-03-02 18:22] macjohnny commented on #111
@allensutton can use the `home._id` value
[code]
by adjusting the `compareWith` function to
[code]
and set the initial value accordingly:
[code]
See this working example: https://stackblitz.com/edit/github-mfmoas-pqvwdv?file=src%2Fapp%2Fchild-component2%2Fchild-component2.component.ts

[2019-03-02 18:27] allensutton commented on #111
Awesome, that works.  I thought it was probably something like that - the map function was what I was missing.  Thank you so much!

[2019-03-02 18:39] macjohnny commented on #111
@allensutton if you like the project, feel free to add a star here on github

[2019-03-06 07:15] vijaynet10 opened #112 "[BUG] Static Injector Error"
**ERROR Error: Uncaught (in promise):
Error: StaticInjectorError(AppModule)[MatSelectSearchComponent -> MatSelect]:
  StaticInjectorError(Platform: core)[MatSelectSearchComponent -> MatSelect]:
    NullInjectorError: No provider for MatSelect!**

Error: StaticInjectorError(AppModule)[MatSelectSearchComponent -> MatSelect]:
  StaticInjectorError(Platform: core)[MatSelectSearchComponent -> MatSelect

[2019-03-06 07:34] macjohnny commented on #112
can you post your template?
I think you are missing the `<mat-select>` element wrapping the ``<ngx-mat-select-search>`:
[code]

[2019-03-06 10:00] vijaynet10 commented on #112
<mat-select placeholder="User Name" [(ngModel)]="listlogin"
                        name="list" required #singleSelect>
                 <mat-option>
                    <ngx-mat-select-search [formControl]="operatorFilterCtrl" ></ngx-mat-select-search>
                  </mat-option>
                    <mat-option *ngFor="let list of filteredoperators | async" [value]="list">

[2019-03-06 10:02] vijaynet10 commented on #112
this is my template and i didn't miss  <mat-select>

[code]

[2019-03-06 10:11] macjohnny commented on #112
@vijaynet10 did you include the `MatSelectModule`, i.e. does it work without the `<ngx-mat-select-search>` item?
can you please provide an example on stackblitz based on https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example

[2019-03-06 10:21] filipklepo opened #113 "[BUG] TypeError: "n._noEntriesFound is not a function""
When using version 1.5.2 and 1.5.3, error from title occurs and page does not render properly. Template I am using is the following one:

[code]

When using version 1.5.0 and 1.5.1 there are no errors (I did not try older versions). From "stack trace" in console, error occurs on rerendering. This is obviously a version-related problem and I can't provide more context since this was a quick version

[2019-03-06 11:27] mstawick opened #114 "[FEATURE] Searching spinner"
**Is your feature request related to a problem? Please describe.**
Display indication during async search operations

**Describe the solution you'd like**
New `@Input searching: boolean = false` could be added, which would cause a mat-spinner to be displayed as matSuffix, in the place where (x) clear icon is shown

**Describe alternatives you've considered**
Allow custom styling of the search inpu

[2019-03-06 11:45] macjohnny commented on #114
sounds good. looking forward to your PR

[2019-03-06 11:48] vijaynet10 commented on #112
`MatSelectModule `already included..
`import { MatSelectModule } from '@angular/material/select';`

[2019-03-06 11:57] macjohnny commented on #112
is it also included in your `@NgModule` imports where you also import the `NgxMatSelectSearchModule`, e.g.

https://github.com/bithost-gmbh/ngx-mat-select-search-example/blob/fe48c3e0b65d03ec402c2f806dc315d75d7f08f7/src/app/app.module.ts#L30

[2019-03-06 12:14] macjohnny commented on #113
@filipklepo @jfwork could you please post the stack trace?
I cant reproduce your issue with e.g. https://stackblitz.com/edit/github-mdpasw?file=src/app/examples/02-multiple-selection-example/multiple-selection-example.component.html

here is a comparison what changed between `1.5.1` and `1.5.2`, so there are changes related to `_noEntriesFound()`: https://github.com/bithost-gmbh/ngx-mat-select-sea

[2019-03-06 12:38] filipklepo commented on #113
Stack trace:
`TypeError: "n._noEntriesFound is not a function"
    Um https://oss.dev.zg.iskon.hr/b2b/main.dcd6074763da50a7e76f.bundle.js:1
    updateDirectives https://oss.dev.zg.iskon.hr/b2b/main.dcd6074763da50a7e76f.bundle.js:1
    yr https://oss.dev.zg.iskon.hr/b2b/main.dcd6074763da50a7e76f.bundle.js:1
    detectChanges https://oss.dev.zg.iskon.hr/b2b/main.dcd6074763da50a7e76f.bundle.js:1

[2019-03-06 12:39] filipklepo commented on #113
Stack trace:
`TypeError: "n._noEntriesFound is not a function"
    Um https://myapp/main.dcd6074763da50a7e76f.bundle.js:1
    updateDirectives https://myapp/main.dcd6074763da50a7e76f.bundle.js:1
    yr https://myapp/main.dcd6074763da50a7e76f.bundle.js:1
    detectChanges https://myapp/main.dcd6074763da50a7e76f.bundle.js:1
    ngOnInit https://myapp/main.dcd6074763da50a7e76f.bundle.js:1
    __tryOr

[2019-03-06 12:42] macjohnny commented on #113
@filipklepo could you paste the relevant parts of your code into the stackblitz example?

[2019-03-06 13:51] vijaynet10 commented on #112
it is included  @NgModule imports  and NgxMatSelectSearchModule

[2019-03-06 13:54] macjohnny commented on #112
please post more of your code. I am pretty sure this is not a bug but rather wrong usage.

[2019-03-06 13:57] macjohnny commented on #112
can you please provide an example on stackblitz based on https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example

[2019-03-06 13:58] #114 closed

[2019-03-06 13:58] vijaynet10 commented on #112
**@ AppModule**

[code]
**HTML Template:**
[code]
**Component.TS**

[code]

[2019-03-06 14:52] macjohnny commented on #112
please change your import to

import { MatSelectModule } from '@angular/material';

moreover, make sure that `node_modules/@angular/material` exists and `node_modules/ngx-mat-select-search/node_modules/@angular/material` does not exist. if it does, you might have installed the devDependencies

[2019-03-07 05:37] vijaynet10 commented on #112
MatSelectModule  already included @ ngmodule
[code]

[2019-03-07 06:09] macjohnny commented on #112
Can you please not ignore half of my suggestions? Otherwise it will be very difficult to find the problem in your project.

[2019-03-07 07:18] vijaynet10 commented on #112
**Both Folder exists inside the node_modules**, without folder exists it wont run...

![material folder](https://user-images.githubusercontent.com/4167992/53938728-24bca580-40d7-11e9-8a3f-d3337392e902.png)
![ngx-mat-select-search](https://user-images.githubusercontent.com/4167992/53938730-25553c00-40d7-11e9-94b4-c4c49a8ae6c7.png)

[2019-03-07 07:23] macjohnny commented on #112
please read my comment carefully:

[2019-03-07 07:50] vijaynet10 commented on #112
i am sure about that , _node_modules/@angular/material_ exists and `node_modules/ngx-mat-select-search/node_modules/@angular/material` does not exist.

[2019-03-07 07:56] macjohnny commented on #112
can you please copy the relevant parts of your code provide an example on stackblitz based on https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?

[2019-03-07 08:02] vijaynet10 commented on #112
I Have deleted the node_modules folder and i ran the `npm install` **its working now** , thanks for the support and great invention ... have a great day...

[2019-03-07 08:02] #112 closed

[2019-03-07 08:22] macjohnny commented on #114
@mstawick this feature was released with version `1.6.0`

[2019-03-08 07:00] macjohnny commented on #113
@filipklepo I still wasn't able to reproduce your situation. I kindly ask you to free some of your time to help me finding the problem and release a bugfix if necessary.

[2019-03-14 00:37] gustavovitor opened #118 "How i can place the filtered selected elements on the end of the model?"
Hello everyone!

Well, how i can do this? Today, after filter the elements and select the values, that values is includes on my model but on the init of the array (positions 0,1 [...]), how i can change it? I need that after select value, this values go to end of the array model. I'ts possible today?

Using sort comparator i can change it, but this work fine out of the filter, but on the "merge" o

[2019-03-14 06:37] macjohnny commented on #118
can you please provide a minimal example of your code based on https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fapp.component.html

As far as I understand your issue, I suggest you to listen to the change event and handle adding removing elements from your selection list in a custom `handleSelectionChange()` method:
[code]
(see https://material.angular.io/c

[2019-03-14 06:51] macjohnny commented on #118
the behavior you describe is due to
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/4b92230643c50a777be5128b1fea014e9abace43/src/app/mat-select-search/mat-select-search.component.ts#L431-L438

[2019-03-14 19:18] Mabiro opened #119 "[BUG] When using down or up arrow, the mat-select scrollTop isn't calculated correctly"
Thanks for this component!

I realize this might not be possible to fix without a dirty hack like I provided in the "Additionnal Context" section, but I thought maybe you'd be able to give a better approach.

**Describe the bug**
It looks like the height of the ngx-filter and the fact that it is above the other mat-options makes it so the mat-select can't calculate correctly where the scrolltop of

[2019-03-14 23:39] gustavovitor commented on #118
I have made a simple sortComparator for my mat-select:
`sortFunc(a, b) { return 1; }`

Put this function into your code and you can see the behavior. All of the filtered and selected elements is going to the first position on control array.

[2019-03-16 09:16] macjohnny commented on #119
@Mabiro thanks for reporting this issue. it seems this is not so easy to fix, and as you stated, overwriting the `_scrollActiveOptionIntoView` method is not a sustainable option.
However, I will see if we can find a better way to achieve this.

[2019-03-16 15:26] macjohnny commented on #118
I suggest you  to handle the selection change individually, with the example in my previous comment.

[2019-03-16 15:26] #118 closed

[2019-03-18 03:15] gustavovitor commented on #118
@macjohnny thanks! Work's fine.

[2019-03-18 06:25] macjohnny commented on #119
one way to achieve this could be something similar to
https://github.com/angular/material2/blob/876727dbfa5b4a4bf43edded91c6ee84eb2db7e1/src/lib/select/select.ts#L905-L907

where we listen for keymanager changes and if the option is covered by the search input, shift the scrolltop

[2019-03-18 06:26] macjohnny commented on #119
@Mabiro would you like to try to implement the fix I suggest?

[2019-03-18 12:21] Mabiro commented on #119
Sure, I'll take a look at this. I am not sure how to determine whether the option is covered by the search input in clean manner, but I'll give it a shot.

Thanks!

[2019-03-18 12:42] macjohnny commented on #119
"covered" would be if `scrollTop == 51 * option index`

[2019-03-18 19:37] Mabiro commented on #119
@macjohnny : Gave it a try, let me know what you think! #120

[2019-03-20 20:10] Mabiro opened #121 "[BUG] Using clearSearchInput=false with ngx-mat-select-search outside of a mat-option makes it unusable when search yields no result"
**Describe the bug**
When keeping the active search on close (clearSearchInput=false) while the ngx component is not part of a mat-option, the select then has 0 options, which makes it un-openable.
**To Reproduce**
1. Go to https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
2. Set the first sample's ngx-mat-select-search out of the mat-option
3. Make it [clearSearchInput]="fa

[2019-03-20 20:28] macjohnny commented on #121
How about you add a <mat-option *ngIf=„(filteredOptions| async)?.length === 0></mat-option>“?

[2019-03-21 06:22] macjohnny commented on #121
I would say it isn't a bug since you can have this extra dummy option when there are no search results to allow opening the panel again

[2019-03-21 14:32] akvaliya opened #122 "How to use with reactive froms"
I am not much familiar with this component. So correct me if i am wrong.

I tried to use it with reactive forms like below & it's not working

[code]

My question is that in example that is provided does filtering itself.

How to proper use of this component. Is it just textbox for search & we have to implement filtering our-self?

Not sure how to use it.

[2019-03-21 14:38] macjohnny commented on #122
you need to filter the list of options yourself, with the value that you can get from
[code]

See this example:
https://github.com/bithost-gmbh/ngx-mat-select-search-example/blob/master/src/app/examples/01-single-selection-example/single-selection-example.component.html

[2019-03-21 14:45] macjohnny commented on #122
it is planned to have a simpler approach for automatic filtering: https://github.com/bithost-gmbh/ngx-mat-select-search/issues/104

[2019-03-21 15:16] akvaliya commented on #122
So for now this component does not provide automatic filtering list. Any idea when this feature will be available. I need many select with search in my project & it just time consuming.

[2019-03-21 15:37] macjohnny commented on #122
currently, we have no due date for this, but if you want you can help me implementing.
closing this issue as it is tracked in #104

[2019-03-21 15:37] #122 closed

[2019-03-21 16:09] #119 closed

[2019-03-21 16:11] #81 closed

[2019-03-21 16:37] #43 closed

[2019-03-21 16:43] macjohnny commented on #119
this is release in `1.7.0`. thanks @Mabiro for the fix!

[2019-03-21 16:44] macjohnny commented on #43
this is released in `1.7.0`

[2019-03-21 16:44] macjohnny commented on #81
this is released in `1.7.0`

[2019-03-21 16:48] macjohnny commented on #113
@filipklepo could you help me please?

[2019-03-21 17:33] Mabiro commented on #121
@macjohnny Yeah, the dummy option works for me, thank you!

[2019-03-21 17:33] #121 closed

[2019-03-22 10:36] TheParad0X commented on #103
This should be in the docs :) 👍

[2019-03-22 10:42] macjohnny commented on #103
@TheParad0X it actually is: https://github.com/bithost-gmbh/ngx-mat-select-search#api

this means you can use it with either reactive forms or template driven forms.
maybe we should explicitly mention the `ngModel` part

[2019-03-22 10:44] TheParad0X commented on #103
Yes, I was looking for ngModel with CTRL+F and did not find anything. A simple example using ngModel would be really helpful, especially for beginners who are more likely to use over reactive forms imho

[2019-03-22 10:46] macjohnny commented on #103
@TheParad0X I added an example to the readme in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/126

[2019-03-22 11:37] bennoparikh opened #127 "[BUG] mouse cursor"
**Describe the bug**
Mouse cursor disappears after clicking an arrow key

**To Reproduce**
1) Highlight an option by placing the mouse cursor over it.  The option is now highlighted grey.  This is ok.
2) Now click the down arrow.  The arrow option selection option is highlighted grey.  This is ok.  However the option where the mouse was over is still highlighted however the mouse cursor disappears

[2019-03-22 11:46] macjohnny commented on #127
@bennoparikh I think this is not related to `ngx-mat-select-search` but rather to `mat-select` itself.
However, I am not able to reproduce the issue. I tried with `@angular/material@7.3.5`, `ngx-mat-select-search@1.7.0`, Chrome 71, IE11

Can you create a stackblitz example?
Which versions are you using?

[2019-03-22 11:51] bennoparikh commented on #127
Hi macjohnny,
Thanks for your quick replay.  Using mat-select without ngx-mat-select-search then the mouse cursor stays on the screen and both are highlighted.
 "ngx-mat-select-search": "^1.7.0",
 "@angular/material": "^7.2.1",

I found a stackblitz example (not from me) that has the same problem:
https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fexamples%2F

[2019-03-22 11:53] macjohnny commented on #127
which browser are you using?

[2019-03-22 11:57] bennoparikh commented on #127
Chrome Version 72.0.3626.121 (Official Build) (64-bit)
Firefox 66.0 (64-bit)

[2019-03-22 11:58] macjohnny commented on #127
which operating system? if i try it, the cursor stays. Moreover, I can't figure out which part of the code could cause such a behavior.

[2019-03-22 11:59] bennoparikh commented on #127
macOS.  I will try it on a Windows machine.

[2019-03-22 12:01] bennoparikh commented on #127
Wow, works on Windows, but not on Mac.  :-(

[2019-03-22 12:15] macjohnny commented on #127
very strange.
the only part in the code that handles keytrokes is here:

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/0f675b55d36c0935813b3e53a15e0a29feee8b04/src/app/mat-select-search/mat-select-search.component.ts#L335-L345

but it does not handle the arrow keys, they are simply forwarded to `mat-select`

however, it could also be due to the fact that we are focusing an input field

[2019-03-22 12:22] bennoparikh commented on #127
Yeah, cursor disappears also with other key strokes.   However with just mat-select, the cursor does not disappear.  However that is works correctly on Windows makes this not such a critical problem for us, since the end customer uses Windows and their OS.

[2019-03-22 12:23] macjohnny commented on #127
does the cursor also disappear when typing in a simple `matInput` (e.g. https://material.angular.io/components/input/overview)?

[2019-03-22 13:10] bennoparikh commented on #127
Cursor also disappears with a matInput (Mac), but not with Windows.

[2019-03-22 13:12] macjohnny commented on #127
and how about a plain `<input type="text" />` field?

[2019-03-22 13:17] bennoparikh commented on #127
yeah, mouse cursor disappears also with a plain input.

[2019-03-22 13:17] macjohnny commented on #127
ok, so I close this as it is the standard browser behavior

[2019-03-22 13:17] #127 closed

[2019-03-22 13:26] bennoparikh commented on #127
Ok, now I understand the problem.  A normal html select, when pressing the arrows keys, in Mac, the mouse cursor stays.  With a normal HTML input as discussed, the cursor in Mac disappears.  That is why a mat-select has no problem with the mouse cursor, because probably just wraps a html select.  However your component probably wraps also a html input - text at that cause the difference.  Sure lea

[2019-03-22 14:43] TheParad0X opened #128 "[FEATURE] "No value selected""
**Describe the solution you'd like**
It would be nice to have the possibility to choose an "empty" option. So far, once I have selected an option, I cannot unselect it.

Instead of adding a value "No value selected" to my options manually, ngx-mat-select-search should provide the functionality as an @Input(). Something along the lines of "allowNoSelection". A placeholder for the name of this optio

[2019-03-22 15:03] macjohnny commented on #128
I consider this rather difficult to achieve properly, as the input field only provides the search keyword, but does/can not modify the options themselves

[2019-03-22 16:09] TheParad0X commented on #128
You are right. I wrapped your component in my own and it contains the options. I'll close this

[2019-03-22 16:09] #128 closed

[2019-03-27 15:45] stanislasdrg opened #129 "[QUESTION] initial value with server-side lookup"
Hello,
first of all thank you for the awesome lib.
I know the question has been asked multiple times here, and I have looked at each and every question, but no matter what I do, I cannot set the initial value on the input.

Let me explain :
I am trying to have a value displaying in the input on application start, in exactly the same fashion as the 1st example of the provided Stackblitz.
However, I

[2019-03-27 15:51] drakeBear opened #130 "[FEATURE] Add flag to disable "adjustScrollTopToFitActiveOptionIntoView" on every options change"
I create a component based on ngx-mat-select-search and [https://github.com/orizens/ngx-infinite-scroll](url) to implement a lazy-loading server search that triggers on scroll to the end of the panel. But on every matSelect.options change it scroll panel to active element:
[code]
This causes inconvenience when using lazy loading if active element is at the top of the options list.

I suggest to ad

[2019-03-28 07:54] macjohnny commented on #130
@drakeBear sounds good.
do you want to create a PR?

[2019-03-28 08:08] macjohnny commented on #130
by the way, in the mean time you can simply use version `1.6.0`, which does not contain the `this.adjustScrollTopToFitActiveOptionIntoView();` part

[2019-03-28 08:09] macjohnny commented on #129
@stanislasdrg for the initial value to work (and for setting any `mat-select` value), there must be an option with the corresponding value, otherwise the input is reset.

therefore you need to make sure that there initially exists an option with value `userPersonalInformation.country`. If you load that option via the async pipe, you need to set `compareWith` after setting the initial value, see ht

[2019-03-28 08:41] macjohnny commented on #113
it seems that in your case there was a mismatch between the component code and the template code. Could you re-try again, making sure to re-start the angular cli after updating the component? Most likely some code was not correctly refreshed.
If the issue occurs again, please post it here, so I will re-open the issue.

[2019-03-28 08:41] #113 closed

[2019-03-28 09:01] drakeBear commented on #130
@macjohnny
Yes, i will make it.

Thanks, i already make fix for my component.

[2019-03-28 09:11] macjohnny commented on #130
great, so I will release a new version as soon as your PR is merged.

[2019-03-28 09:13] macjohnny opened #131 "[BUG] input field not focused in IE"
**Describe the bug**
Due to https://github.com/angular/material2/issues/15093, the input field is not focused when opening the select panel in IE with material 7.3.x

[2019-03-28 10:27] drytikov opened #132 "[BUG] moving search input when i scroll mat-select + ngx-mat-select-search on IOS"
When I scroll the select on ios, search input is moving. It will be good, if it will be fixed. [Video(DEMO)](https://youtu.be/WVa_e5f_W_g)

[2019-03-28 11:21] macjohnny commented on #132
it seems that https://github.com/bithost-gmbh/ngx-mat-select-search/issues/70 occurs again, as stated in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/88#issuecomment-472099198

@drytikov could you help me find a fix for this?

[2019-03-28 12:35] macjohnny commented on #132
cc @pheliperocha

[2019-03-28 12:39] macjohnny commented on #132
it looks like the problem is much less visible as opposed to #70. unfortunately, I couldn't find a solution that completely fixes the issue. so for now, I just leave this minor issue open, maybe someone has an idea.
in google chrome it scrolls seamlessly.

[2019-03-28 13:38] stanislasdrg commented on #129
Thank you for your reply.
I managed to make it work but not really as I expected.
What I gathered is that when setting data with setValue(), you need to pass one of the objects of the same array that you iterate over in your template. In my case `userPersonalInformation.country` was not an object of `filteredCountries`. Therefore it could not work (I was also missing the compareWith...).

This sit

[2019-03-28 13:43] cappster opened #133 "[BUG] In Chrome delete button hide after reopen select"
In latest version of Google Chrome (73.0.3683.86) delete button hide after reopen select. [Video](https://youtu.be/K3pVXiC_opM)

**To Reproduce**
1. Set `[clearSearchInput]=false`
2. Click on select
3. Type some search query
4. Close select
5. Click on select

[2019-03-28 13:54] macjohnny commented on #133
thanks for reporting. seems to be due to the animation
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/0f675b55d36c0935813b3e53a15e0a29feee8b04/src/app/mat-select-search/mat-select-search.component.ts#L119-L128
<img width="927" alt="Bildschirmfoto 2019-03-28 um 14 54 04" src="https://user-images.githubusercontent.com/5589029/55163059-61753d00-5169-11e9-8ad4-a340673b6f73.png">

[2019-03-28 14:01] macjohnny commented on #129
I would not compare object references for equality, but rather an id, e.g. `country.isoCode`:

[code]
then you can have

[code]
and
[code]
the only thing that needs to match is the isoCode.

[2019-03-28 14:01] #129 closed

[2019-03-29 12:19] #131 closed

[2019-03-29 12:24] #133 closed

[2019-03-29 12:26] #130 closed

[2019-03-29 12:31] macjohnny commented on #133
this is fixed in version `1.7.1`

[2019-03-29 12:31] macjohnny commented on #131
this is fixed in version `1.7.1`

[2019-03-29 12:31] macjohnny commented on #130
this is implemented in version `1.7.1`

[2019-04-03 11:24] tonyholt opened #137 "[FEATURE] 508/screen reader support for mat-select-search-input"
When utilizing the 508 testing tool WAVE for Chrome, there's an issue where the mat-select-search-input does not have a label.  This may also be an issue when utilizing screen reading for the mat-select-search.

Could we add an @Input string to optionally supply an aria-label for the mat-select-search input?  We could default it to "dropdown search".  This way, the screen readers and other 508 too

[2019-04-03 11:26] macjohnny commented on #137
sounds good. do you want to open a PR for this?

[2019-04-03 11:28] tonyholt commented on #137
Sure.  I didn't fully build out the @Input, but I will try that out and issue a PR with my changes.  Thank you for the quick response

[2019-04-03 11:29] macjohnny commented on #137
reminder: please add the input to https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/README.md#inputs

[2019-04-08 03:15] botoxparty opened #138 "[FEATURE] Restrict input to numbers"
Hey,

Would be great to be able to restrict the input type to numbers, this way when searching on a mobile device the Numpad appears rather than the full keyboard.

Best,
Adam

[2019-04-08 05:18] macjohnny commented on #138
Sounds good, do you want to create a PR for this?

[2019-04-09 16:06] tonyholt commented on #137
@macjohnny, we can wait until the next release.  I'll hopefully create the PR soon.

[2019-04-10 05:26] #138 closed

[2019-04-10 05:38] macjohnny commented on #138
released with version `1.7.2`

[2019-04-24 10:51] FURQAN2050 opened #141 "[FEATURE]"
is there any way to deselect the item from array list. and not need to open the dropdown and deselect selected  option.?

[2019-04-25 07:49] macjohnny commented on #141
Please post an example of your code

[2019-04-26 09:58] FURQAN2050 commented on #141
![DeepinScreenshot_select-area_20190426143241](https://user-images.githubusercontent.com/31932590/56800096-adcc9f00-6833-11e9-810b-ee7f5e186e48.png)

[2019-04-26 10:00] FURQAN2050 commented on #141
I want to deselect the item from the circled close button.

[2019-04-29 05:29] macjohnny commented on #141
you can use `this.matSelectCtrl.setValue()`, see e.g. https://github.com/bithost-gmbh/ngx-mat-select-search/issues/96#issuecomment-453016659
However, This question is unrelated to mat-select-search, so I close it.

[2019-04-29 05:29] #141 closed

[2019-04-29 10:32] macjohnny commented on #137
@tonyholt any update on this?

[2019-04-29 11:40] tonyholt commented on #137
https://github.com/bithost-gmbh/ngx-mat-select-search/pull/142

[2019-04-29 11:50] #137 closed

[2019-05-08 13:53] allensutton opened #145 "[FEATURE] - "Select All" option with toggle to clear"
**Is your feature request related to a problem? Please describe.**

If there are a lot of options, it is a bit tedious to select them one by one if the user merely wants to select all of them.  In addition, it would be tedious to deselect all of the selected items.
**Describe the solution you'd like**

Please add a way to add functionality for a "Select All" option that would be clicked to select

[2019-05-10 07:48] macjohnny opened #146 "[BUG] Cannot read property 'attach' of undefined"
**Describe the bug**
With angular 8 / material 8, the following error occurs when using `<ngx-mat-select-search>` without placing it into a `<mat-option>` element:
[code]

[2019-05-10 11:59] sehgalneha opened #147 "Need to Set default Value in ngx-mat-select-search"
I have Used ngx-mat-select-search for append the user list according to our project requirement. Need to Set text on the first load of page. The List is shown as according to search text but unable to set text on the ngx-mat-select-search . Please check out snippet.
![image](https://user-images.githubusercontent.com/24697336/57525667-ecd91500-7348-11e9-97c2-28ae8f2e715b.png)

Can you please provid

[2019-05-10 12:21] macjohnny commented on #147
can you please provide your sample code?
If I correctly understand your request, you are looking for a way to set the initial value of the search input field of `<ngx-mat-select-search>`?

Currently this is not possible, however it should be possible by adding a `[value]="value"` binding in
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/d577317d5776ca109aff6738df77e71972c8e3fc/src/app/

[2019-05-10 13:10] macjohnny commented on #147
@sehgalneha I filed https://github.com/bithost-gmbh/ngx-mat-select-search/pull/148 to allow setting the initial value as simple as
[code]
Version 1.7.4 will be release soon

[2019-05-11 04:37] sehgalneha commented on #147
public bankFilterCtrl: FormControl = new FormControl('my initial value');

According to this we have set value in our control :  "this.bankFilterCtrl.value"
But it will be not displayed in the HTML.
Can you Please confirm this?

[2019-05-11 06:14] macjohnny commented on #147
Yes, this should work after PR #148 being merged

[2019-05-13 12:45] #147 closed

[2019-05-13 12:54] macjohnny commented on #147
this is released with version 1.7.4
[code]
See this example: https://stackblitz.com/edit/github-zwffsh?file=src/app/examples/01-single-selection-example/single-selection-example.component.ts

[2019-05-21 11:39] andreystorchous commented on #146
+1

[2019-05-23 07:21] #146 closed

[2019-05-23 07:26] macjohnny commented on #146
this is fixed in [1.7.5](https://github.com/bithost-gmbh/ngx-mat-select-search/releases/tag/1.7.5)

[2019-05-25 02:09] allensutton commented on #145
Sure, I can give it a shot.  I have a previous stackblitz here:

https://stackblitz.com/edit/github-mfmoas

However, I think I accidentally overwrote the concept I had going, so I'll see if I can get back to where I was where I had the "select all" working but not the "clear all" part.

[2019-05-28 16:59] allensutton commented on #145
I just found out that Material has added this:
https://material.angular.io/components/list/api#MatSelectionList

It has selectAll() and deselectAll() methods

[2019-06-03 19:00] bsheriff opened #151 "Removing/Clearing the selected item"
Hi, I am looking to provide the users of my application with a default "None" option, or after selecting an item, I would want to give the user the ability to clear out the item and have the dropdown return to its original state with only the placeholder of the input displaying.  As of now when I select an item from the ngx-mat-select-search I cannot seem to find a way to remove that item and clea

[2019-06-04 09:08] macjohnny commented on #151
please provide your code as a stackblitz example. you can start with https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example

if I correctly understand your question, you can simply add a
[code]
selecting it will reset the selected option.
see e.g. https://stackblitz.com/edit/github-bncv5j?file=src%2Fapp%2Fexamples%2F01-single-selection-example%2Fsingle-selection-example.component

[2019-06-04 15:29] bsheriff commented on #151
Great thank you macjohnny I just wasn't sure where inside of my mat-form-field that I should be placing the "None" mat-option.

[2019-06-04 15:29] #151 closed

[2019-06-04 15:31] StSenf opened #152 "[Question] load the initial bank list with BehaviorSubject instead of ReplaySubject"
Hi!

Thank you for your awesome work, it is awesome!

I was wondering if you could replace the ReplaySubject of filteredBanks in your Stackblitz example with a BehaviorSubject.

In your Stackblitz https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fexamples%2F01-single-selection-example%2Fsingle-selection-example.component.ts

you have in line 27 a ReplaySubje

[2019-06-04 15:51] macjohnny commented on #152
it is absolutely possible to use a `BehaviorSubject` instead of a `ReplaySubject`, you then just need to make sure that the option to be selected initially is among the initial options of the behavior subject.

E.g.
[code]
see https://stackblitz.com/edit/github-rdgm9d?file=src/app/examples/01-single-selection-example/single-selection-example.component.ts

Actually you could even work without subje

[2019-06-06 14:43] StSenf commented on #152
Thanks for your fast reply!

It anwsers half of my question. If you are using now a BehaviorSubject, line 42 of your code is not needed anymore, or? Cause the BehaviorSubject already sending the initial value

` // load the initial bank list`
`this.filteredBanks.next(this.banks.slice());`

[2019-06-06 14:53] macjohnny commented on #152
Yes, line 42 is not needed in that case

[2019-06-11 06:59] saithis opened #153 "[BUG] searching spinner only visible on first open"
**Describe the bug**
When the searching input is true and I open the select dropdown multiple times, then the spinner is only visible the first time.

**To Reproduce**

1. Go to https://stackblitz.com/edit/github-raw9gr?file=src%2Fapp%2Fexamples%2F01-single-selection-example%2Fsingle-selection-example.component.html
2. Open the single selection dropdown (spinner is visible)
3. Close it
4. Open the

[2019-06-11 07:05] macjohnny commented on #153
thanks for reporting. this is due to the animation not being correctly run and can be fixed similar to https://github.com/bithost-gmbh/ngx-mat-select-search/issues/133 by removing the animation

[2019-06-11 09:11] macjohnny commented on #152
closing since the question should be answered.

[2019-06-11 09:11] #152 closed

[2019-06-11 12:58] harshadray opened #155 "[BUG] disableOptionCentering is not working"
**Describe the bug**

[disableOptionCentering](https://material.angular.io/components/select/api) api property with this package is not working.

**To Reproduce**
Apply [disableOptionCentering](https://material.angular.io/components/select/api) api property on mat-select.

https://stackblitz.com/edit/github-oxoguc

**Expected behavior**

It should open after to the bottom of selector instead top o

[2019-06-11 13:24] macjohnny commented on #155
This is what happens in your example:
![image](https://user-images.githubusercontent.com/5589029/59275433-9cf9b080-8c5c-11e9-8e7f-689b50b8367c.png)

as far as I can see this is the behavior of `<mat-select disableOptionCentering>`, see e.g. https://stackblitz.com/edit/components-issue-1ycmzd?file=app/app.component.html

![image](https://user-images.githubusercontent.com/5589029/59275605-ee09a480-8

[2019-06-11 13:29] #155 closed

[2019-06-14 07:46] #153 closed

[2019-06-14 07:49] macjohnny commented on #153
this is fixed in `1.7.6`

[2019-06-17 04:44] viethoanganh79 opened #156 "[BUG] only one option selection"
when i search in this component, result just only 1 option, it not fire event when i click this option result

[2019-06-17 05:30] macjohnny commented on #156
Please provide a more specific description of your problem.
Please post an example of your code, if possible as a stackblitz app. You can use this as a template:  https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example

[2019-06-17 07:13] viethoanganh79 commented on #156
tks, i using two way binding, its error :v

[2019-06-17 07:13] #156 closed

[2019-06-19 17:42] littlebtc opened #157 "[BUG] Weird input clearing on IME with Linux Firefox"
**Describe the bug**
This package strangely did not work properly under a combination of Linux + IME + Firefox. Input field will be strangely emptied.

**To Reproduce**
1. Use Firefox on GNOME 3. (I am using Debian Buster)
2. Use ibus-chewing and try to input Chinese.
3. All characters under IME will be emptied unless you type very quick.

**Expected behavior**
It shouldn't.

**Screenshots**

**De

[2019-06-19 18:12] littlebtc commented on #157
I found out the problem. It is because you call method at `*ngIf` so it messed up.
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/54b4fd5ff93e2ae9b631ec0501f0c618ddf86c1f/src/app/mat-select-search/mat-select-search.component.html#L38

Can we somehow refactor `_noEntriesFound()` as variable?

[2019-06-19 18:17] macjohnny commented on #157
What exactly is the problem with the _no EntriesFound() call? Does it throw an error?
Does the error occur with the example we provide or do you have a special filtering function that might need adjustments?

[2019-06-19 18:24] littlebtc commented on #157
It will somehow emptied the input in my cases.
It also occurs in the example app.

IMHO the main reason should be using method in `*ngIf` will make change detection unhappy.
https://stackoverflow.com/questions/51723214/

[2019-06-19 18:37] littlebtc commented on #157
My latest experiement is:

Changing this

[code]

to
[code]

Will fix this problem for me.

This is only reproducible on Linux + Firefox (Not Linux + Chromium, Not MacOS, Not Windows), so I think it should not be so serious. Just puzzled.

[2019-06-19 20:04] macjohnny commented on #157
I will try to set up a virtual machine with the corresponding environment and reproduce the issue, seeme very strange

[2019-06-19 20:06] macjohnny commented on #157
Could sou add a console.log statement in the onInputChange to see which values are received?

[2019-06-20 04:00] littlebtc commented on #157
I made a minimal `Vagrantfile` that can reproduce this. It features Debian buster with Chinese IME (from iBus).

https://github.com/littlebtc/vagrant-debian-buster-with-ime

Install Vagrant and VirtualBox, clone this repository and
[code]

It takes around ~10 minutes to setup, once setup, you will have a GNOME login in VirtualBox.
Use password `vagrant` to log in.

After logged in, click 'en' on t

[2019-06-20 05:27] macjohnny commented on #157
could you try whether the problem still occurs when removing the following line?
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/54b4fd5ff93e2ae9b631ec0501f0c618ddf86c1f/src/app/mat-select-search/mat-select-search.component.html#L13

I suspect that somewhere in
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/54b4fd5ff93e2ae9b631ec0501f0c618ddf86c1f/src/app/mat-select-search/m

[2019-06-20 12:12] mungpara opened #159 "Label not shown when appearance='outline' [BUG]"
**Describe the bug**
When appearance='outline' is applied on mat-form-field, label is hidden or not floated.

[2019-06-20 12:23] #159 closed

[2019-06-20 12:23] macjohnny commented on #159
@mungpara thanks for reporting. would you like to implement a fix for this?

[2019-06-20 12:23] mungpara commented on #159
fixed

 i forgot to add mat-label in mat-form-field

[2019-06-20 12:23] macjohnny commented on #159
did you close the issue because you found a solution? can you share the solution?

[2019-06-21 10:17] antoniofaienza93 opened #160 "[BUG] Problems when handle multiple values."
**Description**
[x] Bug

**Current behavior**
I have many values that i want manage with a multiple selection drop down. If i use the example's code, my drop down is too slot (~6000 value). For this i have change the example code in this way:

[code]
For this reason if I select multiple values ​​that belong to the same range it work well, but if it exceeds the range it cancels the previous selecti

[2019-06-21 10:49] wlucha opened #161 "Replace '@angular/material' root imports"
As of Angular Material 8, root imports of `'@angular/material'` are deprecated. Please change all imports of `'@angular/material'` to specific entry-points imports.

https://github.com/angular/components/blob/master/CHANGELOG.md#800-osmium-octothorpe-2019-05-28

[2019-06-23 08:16] macjohnny commented on #161
Thanks, we will do this when angular material 9 will be released to maximize the period of backwards compatibility

[2019-06-26 06:50] macjohnny commented on #160
when changing the selection, any previously selected option that is not among the available options anymore is cleared, which is why we implemented a selection-restoration mechanism

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/54b4fd5ff93e2ae9b631ec0501f0c618ddf86c1f/src/app/mat-select-search/mat-select-search.component.ts#L455-L491

you could copy and adapt this code to handle the

[2019-06-26 06:52] macjohnny commented on #160
I close this since this isn't something we could solve in `ngx-mat-select-search`.
But maybe you can increase the performance when showing all 6000 options at once and use virtual scroll.

[2019-06-26 06:52] #160 closed

[2019-07-04 20:06] tbriggs928 opened #162 "[FEATURE] Clear text via keyboard"
**Describe the solution you'd like**
As I am typing to filter the list, I would like to be able to press Shift + Home keys to highlight the text, then Delete key to clear the text.

**Describe alternatives you've considered**
Currently use the X to clear the text, but for some people it is quicker, more intuitive to clear via the keyboard.

[2019-07-05 05:33] macjohnny commented on #162
this can be achieved by using the following input:
[code]
can you try if this resolves your request?

[2019-07-09 12:32] smartHasmukh opened #163 "[BUG] ERROR TypeError: Cannot read property 'nativeElement' of undefined"
**Describe the bug**
[code]

Getting error

I have used this one [Demo](https://stackblitz.com/edit/mat-select-search)

I am using Angular 8
Package.json file

[code]

[2019-07-09 13:00] macjohnny commented on #163
Please use the most recent version of `ngx-mat-select-search`, see https://github.com/bithost-gmbh/ngx-mat-select-search#how-to-use-it

does the error still occur with the most recent version?

[2019-07-09 13:01] macjohnny commented on #163
can you post your example code as a stackblitz-example?

[2019-07-09 13:04] macjohnny commented on #163
could you please provide more information about the line of code where the error occurs?
this could e.g. be in
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/54b4fd5ff93e2ae9b631ec0501f0c618ddf86c1f/src/app/mat-select-search/mat-select-search.component.ts#L389
if the select panel is not defined due to some reason.

[2019-07-09 15:16] macjohnny commented on #145
@allensutton can we close this issue?

[2019-07-10 18:42] nfgallimore opened #164 "Changing placeHolderLabel and noEntriesFoundLabel shows no text"
Labels do not show up using inputs

[code]

[2019-07-10 18:46] nfgallimore commented on #164
[placeholderLabel]="'Find bank...'"
[noEntriesFoundLabel]="'no matching bank found'"

As written in readme.

Why do we have to have the extra single quotes?

[2019-07-10 18:48] #164 closed

[2019-07-10 20:09] macjohnny commented on #164
You can also have
placeholderLabel=„find Bank“

[2019-07-12 06:56] macjohnny commented on #162
@tbriggs928 does the `preventHomeEndKeyPropagation` input resolve your issue?

[2019-07-16 07:24] macjohnny commented on #163
@smartHasmukh can you provide more information?

[2019-07-17 08:10] smartHasmukh commented on #163
@macjohnny I will update soon

[2019-07-23 08:12] macjohnny commented on #162
this behavior can be achieved with `[preventHomeEndKeyPropagation]="true"`

[2019-07-23 08:12] #162 closed

[2019-07-24 09:38] Elahe73 opened #165 "Close Icon in ngx-mat-select-search Is not working in a Specific Component"
I'm using ngx-mat-select-search module for being able to have a searchable select in my application. It's working properly and no errors are generated. In one of my specific components that I've rendered it in another one the "Close" icon in the aearch area is not working properly. It show "Close" instead of an icon. I've imported "NgxMatSelectSearchModule" and "MatIconModule" in the related modul

[2019-07-24 10:54] macjohnny commented on #165
the `NgxMatSelectSearchModule` imports the `MatIconModule`
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/54b4fd5ff93e2ae9b631ec0501f0c618ddf86c1f/src/app/mat-select-search/ngx-mat-select-search.module.ts#L21
so it is not necessary to import the `MatIconModule` in your module.

It is strange, I have no clue how this situation could occur.

Can you reproduce the situation in a stackblit

[2019-07-24 11:01] Elahe73 commented on #165
I'm not sure if I can reproduce the situation  but I'll try :)

[2019-07-24 11:09] macjohnny commented on #165
in the meantime, you could post the relevant parts of your code and a screenshot of the issue

[2019-07-29 10:53] vipulism commented on #153
this still exist in 1.7.6
however i saw #133 but not sure how to use it here.
can you please help me here

Thanks

[2019-07-29 11:09] macjohnny commented on #153
@vipulism I can't seem to reproduce the issue with `1.7.6`, see https://stackblitz.com/edit/github-yhlsun?file=src/app/examples/01-single-selection-example/single-selection-example.component.html
Please open a new issue with a concise description and the corresponding reproduction steps, so I can have a look at it.

[2019-07-29 17:59] blazewalker59 commented on #145
@macjohnny this feature would be a welcome one. The selectAll(), deselectAll() methods that @allensutton pointed out in his last comment appear to only be for the mat-selection-list component and not the mat-select component. ideally, the implementation would function similar to the the example you mentioned above ( https://stackblitz.com/edit/mat-select-autocomplete-formcontrol ). where the check

[2019-07-30 17:10] macjohnny commented on #145
Would you like to file a PR for this?

[2019-07-30 19:49] blazewalker59 commented on #145
Sure thing, I've never worked on a public repo before. Is there anything in particular needed for approval? I've got a working copy now, just finishing up some styling.

[2019-07-30 19:55] macjohnny commented on #145
Just give it a try, we will have a look at it in the code review to see what could be changed.

[2019-07-31 05:48] macjohnny commented on #165
@Elahe73 can you provide more information? One explanation could be an error/exception that occurs somewhere, preventing the remaining components from being rendered properly. Does anything show up in the log?

[2019-07-31 19:33] #145 closed

[2019-07-31 20:30] macjohnny commented on #145
this is released in version `1.8.0`, thanks to @blazewalker59

[2019-08-01 20:54] nfgallimore commented on #164
I think you mean ''Find Bank''

With two '

[2019-08-05 10:26] iGitScor opened #168 "[BUG] _co._isToggleAllCheckboxVisible is not a function"
**Describe the bug**

After adding the search in mat-select[multiple], in a build mode, the select doesn't work at all

**Expected behavior**

Handle multiple (with example in the documentation if I did something wrong)

**Screenshots**

<img width="826" alt="Capture d’écran 2019-08-05 à 12 18 35" src="https://user-images.githubusercontent.com/2276944/62457526-57002b00-b77b-11e9-9405-fc01672f1c9

[2019-08-05 10:34] macjohnny commented on #168
could be similar like this one: https://github.com/bithost-gmbh/ngx-mat-select-search/issues/113

@iGitScor can you make sure you started a new build process after updating? it seems that there is mismatch between the component code and the template code.

[2019-08-05 10:50] iGitScor commented on #168
Hi @macjohnny,

thank you for your response

Here is the template code
[code]

And the component code

[code]

Could you explain me the mismatch ?

[2019-08-05 10:51] macjohnny commented on #168
I was referring to a mismatch between the `ngx-mat-select-search` component code and template, not your template, which should not need any update.
can you make sure you completely stopped your build, cleared any caches, and start a new build?

[2019-08-05 11:51] iGitScor commented on #168
Yep, I make it on another machine (and also our staging machine) with the same result.

Do you know how to clear the caches you mention ?

[2019-08-05 13:50] macjohnny commented on #168
I don't have any details about your build process, so I cannot answer your question.

But apart from that, did you try to check out your project on a different machine, followed by a `npm install` and got the same result?

[2019-08-05 13:50] macjohnny commented on #168
try to remove your `node_modules` folder and install the dependencies again.

[2019-08-05 14:53] macjohnny commented on #165
@Elahe73 please provide more information so that I can reopen the issue.

[2019-08-05 14:53] #165 closed

[2019-08-05 14:53] macjohnny commented on #163
@smartHasmukh please provide more information so that I can reopen the issue

[2019-08-05 14:53] #163 closed

[2019-08-05 16:17] iGitScor commented on #168
`npm install` followed by `ng build` for each deployment

After your advice, the component works like a charm, thank you

[2019-08-05 16:17] #168 closed

[2019-08-14 19:03] tbriggs928 commented on #162
Thanks for the advice.

The [preventHomeEndKeyPropagation]="false" input allows the Home/End keys to move to first/last item in the list.

But it doesn't change the behavior in the Search box itself.  For example, if I type "ABC123" in the search box to filter the results, then decide I want to search for something else, I have to either click the X to clear the search, or backspace to delete each

[2019-08-14 19:39] macjohnny commented on #162
I tried with shift+home/end and it worked. Which browser/os are you facing issues with?

[2019-08-28 10:39] gagan95 opened #170 "[BUG] input field not focused in bootstrap modal"
I'm not able to use ngx-mat-select-search on bootstrap modal since it is not focusing on the input field same issue as provided in https://github.com/angular/components/issues/15093
kindly update it

[2019-08-28 11:16] macjohnny commented on #170
can you please provide a stackblitz example (you can use https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example as a starting point) and describe the reproduction steps in detail?
is it an IE only issue?
can you post the relevant code snippets?

[2019-08-28 12:07] gagan95 commented on #170
![screencapture-localhost-4200-layout-report-2019-08-28-17_28_34](https://user-images.githubusercontent.com/26519250/63854181-357d1280-c9ba-11e9-998f-a97d21c679b3.png)

the code is working fine in normal html but when i'm using the it in modal( pop up ) i'm facing the issue as input is not focusing

[2019-08-28 12:15] macjohnny commented on #170
which browser are you using? what is your code?

[2019-08-28 12:17] macjohnny commented on #170
how about adding
[code]
to your global styles?

[2019-08-28 12:24] gagan95 commented on #170
no i tried it too its not working

[2019-08-28 12:27] macjohnny commented on #170
it will be very difficult to analyze this issue if you don't provide any code snippets.

[2019-08-28 12:33] gagan95 commented on #170
`
<mat-select class="form-control mb-1" formControlName="insurance_name" name="insurance_name" placeholder="Insurance" #singleSelect>
                                            <ngx-mat-select-search formControlName="bankFilterCtrl" [placeholderLabel]="'Search Insurance'" [noEntriesFoundLabel]="'No matching records found'"></ngx-mat-select-search>                  <mat-option disabled>

[2019-08-28 12:35] macjohnny commented on #170
please provide a reproduction on stackblitz (you can use https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example as a starting point) as the snippet looks ok.

[2019-08-29 05:47] #170 closed

[2019-08-29 05:50] macjohnny commented on #170
@gagan95 did you find a solution to your problem? if so, please share some details.

[2019-08-29 05:59] gagan95 commented on #170
there is a issue in loading the css and js file hierarchy once i checked in stackblitz i got the solution thanks for the response @macjohnny

[2019-09-17 14:59] Ramakrish opened #171 "Mat-Select-Search with multi level data's"
**We implemented the search functionality referring the below mentioned site .**

https://stackblitz.com/edit/mat-select-search-o58jkg?file=app/app.component.ts

 If the data have a single level like below search functionality working as we expected.
[code]
**We need a search functionality for below mentioned data format**
[code]
**We are modified the  html page like below based on the above menti

[2019-09-17 15:08] macjohnny commented on #171
Please take a look at https://github.com/bithost-gmbh/ngx-mat-select-search-example/tree/master/src/app/examples/04-option-groups-example, if I understand your issue correctly, this should solve your problem.

[2019-09-17 15:08] #171 closed

[2019-10-01 07:57] ceyhunn opened #172 "[BUG] Custom Content doesn't work properly with multi select"
**Describe the bug**
When I search any text  Clear button and custom content are in the  same place.

**To Reproduce**
1. Go to [https://stackblitz.com/edit/github-fwviup](https://stackblitz.com/edit/github-fwviup)
2. Search any text
3. See design problem.

**Expected behavior**
It would be nice to make custom content be hidden when searching.
**Screenshots**
![Screenshot from 2019-10-01 11-54-02]

[2019-10-01 08:22] macjohnny commented on #172
how about adding `<div class="mat-select-search-custom-header-content" *ngIf="!bankMultiFilterCtrl.value">`?
See https://stackblitz.com/edit/github-fwviup-bkqy9w?file=src/app/examples/06-multiple-selection-select-all-example/multiple-selection-select-all-example.component.html

[2019-10-01 08:25] ceyhunn commented on #172
Fantastic, but in firefox there is a design problem

[2019-10-01 08:27] macjohnny commented on #172
what is the problem?

[2019-10-01 08:29] ceyhunn commented on #172
![Screenshot from 2019-10-01 12-27-30](https://user-images.githubusercontent.com/5506156/65946356-0a696100-e447-11e9-96ea-848a8772e9b8.png)

[2019-10-01 08:30] macjohnny commented on #172
you can add this to your global css:

[code]
or use absolute positioning of your custom content:
[code]

[2019-10-01 08:32] macjohnny commented on #172
I can't reproduce the firefox issue, this is what it looks like:
<img width="400" alt="mat-select-search-custom-header-firefox" src="https://user-images.githubusercontent.com/5589029/65946562-b9517100-e436-11e9-9e1f-f15bbe5f595c.png">

I suggest you adjust the styling of `.mat-select-search-custom-header-content` in your css code

[2019-10-01 08:36] ceyhunn commented on #172
Yes, I will do. Thank you very much for fast answer.

[2019-10-01 08:36] macjohnny commented on #172
happy to help. so can we close this issue?`
by the way, please consider giving this project a star if you like it.

[2019-10-01 08:39] ceyhunn commented on #172
This is just demo app that I customized. I will implement this in my project. Thank you so much..

[2019-10-01 08:39] #172 closed

[2019-10-14 22:38] LanderBeeuwsaert opened #173 "Ivy & Mat-select-search not working?"
**Describe the bug**
The library is not working together with ivy?
![image](https://user-images.githubusercontent.com/1098243/66787414-e8122180-eee3-11e9-94f0-34988ca315e6.png)
Weird because I tested out an upgrade to ivy 2 months ago and had to abandon because of too many issues, but this was not one of them at that time.

**To Reproduce**
well just run the latest ivy build: 9.0.0-next.10, while

[2019-10-14 22:39] LanderBeeuwsaert commented on #173
oh yeah, just want to add: really nice library!

[2019-10-15 04:45] macjohnny commented on #173
Thanks for reporting, I will have a look at it

[2019-10-15 09:03] macjohnny opened #175 "[BUG] input width not updated correctly"
**Describe the bug**
when typing "ad" in the "Single selection" example in https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example, the width of the search input is not updated correctly

**Screenshots**
![ngx-mat-select-search-input-width](https://user-images.githubusercontent.com/5589029/66817069-6c43c380-ef3b-11e9-8fd6-37342d300786.png)

Affected version: 1.8.0

[2019-10-15 09:10] macjohnny opened #176 "[BUG] corners not rounded"
**Describe the bug**
see discussion in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/169

**Screenshots**
![ngx-mat-select-search-rounded-corners](https://user-images.githubusercontent.com/5589029/66817681-66021700-ef3c-11e9-9a0f-9cfb9ed597fa.png)

Affected version: 1.8.0

[2019-10-15 09:14] #161 closed

[2019-10-15 09:14] #173 closed

[2019-10-15 09:18] LanderBeeuwsaert commented on #173
hehe, what a response time, thanks!

[2019-10-15 09:22] macjohnny commented on #161
this is fixed in version `2.0.0`

[2019-10-15 09:24] macjohnny commented on #173
if you like the project, consider giving it a star ;-)

[2019-10-15 09:44] LanderBeeuwsaert commented on #173
:) done!

[2019-10-20 09:29] Dev4mir opened #178 "[BUG] Can't build for production"
**Describe the bug**
When i try to build for production this error shows up:-
ERROR in ./node_modules/ngx-mat-select-search/fesm2015/ngx-mat-select-search.js
Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):
TypeError: Cannot read property 'kind' of undefined

**Desktop:**
 - OS: Linux debian
 - Browser: chrome

**Dependencies**

`"@an

[2019-10-20 11:47] macjohnny commented on #178
Which version of angular devkit-builder are you using?

[2019-10-20 12:06] Dev4mir commented on #178
@macjohnny
`"@angular-devkit/build-angular": "0.803.6"`

[2019-10-21 05:43] macjohnny commented on #178
the production build (`ng build --prod`) of the example app (https://github.com/bithost-gmbh/ngx-mat-select-search-example) seems to work. The following versions are used:
https://github.com/bithost-gmbh/ngx-mat-select-search-example/blob/0e45058db56c1af0fe920ac3e188737ffa3df426/package.json#L14-L34

@Dev4mir can you please update to the latest `@angular/cli`, `@angular-devkit/build-angular` and `

[2019-10-21 09:36] Dev4mir commented on #178
Thanks @macjohnny I updated my app with `ng update @angular/cli @angular/core` and now the build for production is working fine.

[2019-10-21 09:36] #178 closed

[2019-10-22 07:47] st-clair-clarke opened #179 "Ivy compiler - ERROR in No suitable injection token for parameter 'changeDetectorRef' of class 'MatSelectSearchComponent'. no type or decorator]"
**Describe the bug**
When the new ivy compiler is added to angular 8 app, it fails to compile with the message - ERROR in No suitable injection token for parameter 'changeDetectorRef' of class 'MatSelectSearchComponent'.
no type or decorator

**To Reproduce**
Opt-in Ivy by editing the tsconfig.app.json and add a section of angularComplierOptionand set the enableIvyto true. for new Angular CLI proj

[2019-10-22 08:43] JomalJohny opened #180 "question: how to translate [placeholderLabel]="'Select Category'""
**[placeholderLabel]="'Select Category'" angular translation label not working**
I have issues in Internationalization (i18n) in Angular, The select search label [placeholderLabel]="'Select Category'" is not translating. Provide a description about how to translate this placeholder

[2019-10-22 09:34] macjohnny commented on #180
this should answer your question: https://stackoverflow.com/a/57374124
can you please post your code?

[2019-10-22 11:19] macjohnny commented on #179
Thanks for reporting this issue.
I can reproduce the error with the current master of the example app (`angular/core@8.2.11` (with ivy preview enabled) and `ngx-mat-select-search@2.0.0`) (https://github.com/bithost-gmbh/ngx-mat-select-search-example/tree/2.0.0)

With `angular/core@9.0.0.next-10` (which has ivy enabled)  `ngx-mat-select-search@2.0.0` it works fine: https://github.com/bithost-gmbh/n

[2019-10-22 11:19] #179 closed

[2019-10-22 14:57] ErikTheUndead opened #181 "[BUG] Cannot build project with ngx-mat-select-search@2.0.0"
Hi, I'm unable to build with the latest version of ngx-mat-select-search@2.0.0
I'm using `ng build --prod --vendor-chunk` but `ng serve` works fine, might be something with aot.
Rollbacking to 1.8.0 made the build works again.

**Versions (ng version)**
[code]

**Stack trace**
[code]

[2019-10-22 15:32] macjohnny commented on #181
See https://github.com/bithost-gmbh/ngx-mat-select-search/issues/178
can you please update to the latest @angular/cli, @angular-devkit/build-angular and @angular/core and see if the problem still persists?

[2019-10-23 11:19] ErikTheUndead commented on #181
Thanks for the quick replay @macjohnny, didn't see that a similar issue has been posted earlier.
Will check the fix soon.

[2019-10-24 06:04] JomalJohny commented on #180
Thanks for the update. it's resolved my issues
https://stackoverflow.com/questions/57369486/angular8-i18n-for-placeholderlabel-text/57374124#57374124

[2019-10-24 06:04] JomalJohny commented on #180
Thanks for the update. it's resolved my issues
https://stackoverflow.com/questions/57369486/angular8-i18n-for-placeholderlabel-text/57374124#57374124

[2019-10-24 06:04] #180 closed

[2019-10-24 06:12] macjohnny commented on #180
@JomalJohny glad it works. can you please mark https://stackoverflow.com/questions/57369486/angular8-i18n-for-placeholderlabel-text/57374124#57374124 as the accepted answer?

[2019-10-24 12:34] LoganDupont opened #183 "[BUG] ToggleAllCheckbox doesn't use correct theme color"
**Describe the bug**
When I try to add `color="accent"` to the mat-form-field of "Multiple selection with select All Checkbox" the accent color is not set on the ToggleAllCheckbox in ngx-mat-select-search.

**To Reproduce**
See _Multiple selection with Select All Checkbox_ in this [demo](https://stackblitz.com/edit/github-kd99xm) and toggle the AllCheckbox in the ngx-mat-select-search. You will se

[2019-10-24 13:24] macjohnny commented on #183
@LoganDupont thanks for reporting the issue. would you like to implement a fix for this?

[2019-10-28 09:18] macjohnny commented on #181
@ErikTheUndead any update here?

[2019-10-28 17:51] ErikTheUndead commented on #181
@macjohnny, tried This afternoon with @angular/core@latest and @angular-devkit/build-angular@latest and it works with ng build --prod !
Thanks again

[2019-10-28 17:51] #181 closed

[2019-11-04 01:56] kumaroswal opened #184 "How can I pre-select values in app-multiple-selection-select-all-example"
Can I pre-select values in app-multiple-selection-select-all-example.
If I am using it on an add/edit form, then I will need the above functionality in edit mode for sure.

I apologize in advance if this may not be the right place to ask this particular question.

[2019-11-04 06:35] macjohnny commented on #184
see https://github.com/bithost-gmbh/ngx-mat-select-search/issues/96#issuecomment-453016659
does that solve your problem?

[2019-11-04 22:22] tricasoft opened #185 "[FEATURE] Performance improvements"
**Performance with cdk-virtual-scroll-viewport**

[2019-11-05 05:45] macjohnny commented on #185
@tricasoft can you give more details about what you want to tell us?

[2019-11-05 07:13] tricasoft commented on #185
When having a big list of items you want to show (which is the case when you need a search), the performance drops significantly. After click you have to wait a bit until the dropdown is displayed.
If we could use the https://material.angular.io/cdk/scrolling/overview together with this component it would greatly improve performance.

[2019-11-05 07:24] macjohnny commented on #185
could you set up a reproduction example on stackblitz, starting with  https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?
moreover, would you be willing to provide a fix for this issue?

[2019-11-05 07:35] tricasoft commented on #185
I was wrong, it is working as expected:

<mat-form-field>
	<mat-select formControlName="ctrl" placeholder="Ctrl" #singleSelect (selectionChange)="ctrlList()">

	  <mat-option>
	    <ngx-mat-select-search [formControl]="filter"></ngx-mat-select-search>
	  </mat-option>
	  <cdk-virtual-scroll-viewport [itemSize]="42" [style.height.px]=4*42>
	    <mat-option *cdkVirtualFor="let ct of ctList" [value]=

[2019-11-05 07:35] #185 closed

[2019-11-05 07:43] macjohnny commented on #185
@tricasoft would you like to open a pr to add n example?

[2019-11-05 08:19] tricasoft commented on #185
@macjohnny what do you mean by pr?

[2019-11-05 10:09] macjohnny commented on #185
a pull-request on github to add an example to https://github.com/bithost-gmbh/ngx-mat-select-search/tree/master/src/app/examples

[2019-11-05 10:20] tricasoft commented on #185
I made a stackblitz here: https://github-qbzntq.stackblitz.io
You can see the first example is modified to use the cdk-virtual-scroll-viewport
There is an issue: if you search for "q" and click on "Bank Q (Germany)", the value (bellow) will be set correctly, but the value in the select is not set appropriately, the placeholder appears as if there is no selected value.
Is this related to cdk-virtua

[2019-11-05 11:20] macjohnny commented on #185
I think the issue is rather related to mat-select itself

[2019-11-05 11:22] tricasoft commented on #185
Well, maybe you're better suited to report a bug on this?

[2019-11-06 00:34] JoAlgorithm commented on #181
Guys i still have a bug please help me

ERROR in ./node_modules/ngx-mat-select-search/fesm5/ngx-mat-select-search.js
Module build failed: TypeError: Cannot read property 'kind' of undefined
    at isAngularDecoratorMetadataExpression

[2019-11-06 05:47] macjohnny commented on #181
@JoAlgorithm I suggest you to update to angular 6, or at least get the latest versions within the 5.x branch. Please note that ngx-mat-select-search 1.8.0 is the last version that is compatible with angular 5.x

[2019-11-06 16:44] LoganDupont commented on #183
@macjohnny Well, I had a look at the code and it seems that the creators are using a mat-select which means that the  color attribute needs to be provided. So I guess we will need a new input to set the theme color on the mat-select but i'm not sure if that's the best solution?

[2019-11-06 17:03] macjohnny commented on #183
I think the color attribute of the mat-select could be reused

[2019-11-09 07:20] BL-AniketChile commented on #181
I am getting the same error while creating a production build. Please give some solution for it ASAP.

[code]

[2019-11-09 07:56] macjohnny commented on #181
@BL-AniketChile See #178
can you please update to the latest @angular/cli, @angular-devkit/build-angular and @angular/core and see if the problem still persists?

[2019-11-09 08:01] macjohnny commented on #181
Alternatively, you could use ngx-mat-select-search version 1.8.0 for the time being

[2019-11-09 10:04] BL-AniketChile commented on #181
I tried updating using command from this comment https://github.com/bithost-gmbh/ngx-mat-select-search/issues/178#issuecomment-544433920. Now it is working properly. Thanks.

[2019-11-10 23:19] kumaroswal commented on #184
another question before i can apply the above solution.
I am getting the below error while implementing the
`app-multiple-selection-select-all-example`
![image](https://user-images.githubusercontent.com/382487/68552549-024cfb80-03cd-11ea-82d2-1b49232fccfd.png)

[2019-11-11 02:16] kumaroswal commented on #184
I self-answered the above question. I am on Angular 7.x.
`static: true` is supported by Angular 8 and plus only.
If we want this widget to be backward compatible then either remove this option or add a comment in there for the same.

[2019-11-11 05:46] macjohnny commented on #184
For angular 7 compatibility, please use version. 1.8.0, see https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/README.md#compatibility

[2019-11-12 01:16] kumaroswal commented on #184
Thanks Macjohnny.

More questions please a I keep using it deeper.

How can I include multiple fields in the search?
`this.filteredBanksMulti.next(
       this.banks.filter(bank => bank.name.toLowerCase().indexOf(search) > -1)
     );`.
Example :- I want to include `bank.number` and `bank.areaCode` in the above search too.

[2019-11-12 05:46] macjohnny commented on #184
Just adapt your client code:
this.banks.filter(bank => bank.name.toLowerCase().indexOf(search) > -1 || String(bank.areaCode).toLowerCase().indexOf(search) > -1)

[2019-11-12 06:51] macjohnny commented on #184
I am closing this issue, as it is not a bug or feature request. You can still comment in this issue.

[2019-11-12 06:51] #184 closed

[2019-11-13 00:49] kumaroswal commented on #184
@macjohnny I am trying to change the background color of the checkboxes within the dropdowns when they are checked. But seems it not allowing me. Also need to change the font color of mat-options when they are selected. I also need to make sure that the dropdown when triggered should open below the current clicked element, is that achievable here?

`mat-option .mat-pseudo-checkbox-checked {
    ba

[2019-11-14 18:15] JoAlgorithm commented on #181
@macjohnny i tried to downgrade to version 1.8.0 and its working now, thanks guys :)

[2019-11-20 03:06] TroyHouston opened #186 "[BUG] Accessibility issue where screen-readers can only see 'blank'"
If you use a screenreader (I am using [NVDA](https://www.nvaccess.org/download/)) and try to navigate the dropdown using the keyboard it will always read out 'blank' for each item (or the value entered into the search field).

However if the dropdown is not opened then it does read out the value properly.

See both scenarios in action below

**To Reproduce**
1. Install NVDA
1. Go to the [demo site

[2019-11-25 09:55] macjohnny commented on #186
@TroyHouston thanks for reporting this issue. I think the problem is that the input field is focused.
Would you like to try and find a solution to tell the screen reader to e.g. read the entered search value and the currently highlighted select value?

[2019-11-27 04:36] kumaroswal commented on #184
Hey @macjohnny .
Another question for you please on the searching part.
How can I make the search to work with a combination of multiple fields? With the above suggestion you made it just searches by one of those fields but not a combination of both.

[2019-11-27 05:45] macjohnny commented on #184
You could split the keyword by the space character and loop through all fields you want to search

[2019-11-27 10:47] kumaroswal commented on #184
@macjohnny Didnt quite understand. Can you give a code example please. Thanks.

[2019-11-27 11:21] macjohnny commented on #184
searchKeyword.split(' ')

[2019-11-27 13:15] kumaroswal commented on #184
@macjohnny
So how would I use your recommendation in this case please -
`this.filteredEmployees.next(
          this.dpEmployees.filter(employee => (employee.Number.toLowerCase().indexOf(search) > -1 ||
          employee.FirstName.toLowerCase().indexOf(search) > -1 ||
          employee.LastName.toLowerCase().indexOf(search) > -1))
        );`

[2019-11-27 13:42] Ashike12 opened #187 "[BUG]"
**Describe the bug**
Looks like input has default placeholder 'Suche'

**To Reproduce**
go there and don't type anything, you will find the issue
https://stackblitz.com/edit/mat-select-search?file=app%2Fmat-select-search%2Fmat-select-search.component.ts
**Expected behavior**

should have a option for placeholder

**Screenshots**
i found default text in MatSelectSearchComponent.
![ngx-select-search

[2019-11-27 15:36] macjohnny commented on #184
Const keywordParts = searchKeyword.split(„ „)
this.filteredEmployees.next( this.dpEmployees.filter(employee => keywordParts.some(keyword => (employee.Number.toLowerCase().indexOf(keyword) > -1) || keywordParts.some(keyword =>  employee.FirstName.toLowerCase().indexOf(keyword) > -1) || keywordParts.some(keyword =>  employee.LastName.toLowerCase().indexOf(keyword) > -1))) );

[2019-11-27 15:38] macjohnny commented on #187
See https://github.com/bithost-gmbh/ngx-mat-select-search#inputs and https://github.com/bithost-gmbh/ngx-mat-select-search#labels

[2019-11-27 15:41] #187 closed

[2019-11-29 09:54] mptyspace opened #188 "[BUG] Testing with Jest - cannot inject MatSelect"
**Bug**
I found an issue when switching from karma/jasmine to Jest. After the switch it warned me it couldn't find MatSelect.

**Resolution**
After some digging I managed to resolve the issue by changing the imports from @angular/material/select to @angular/material.
Since the latter is no longer the preferred import style, is it possible this can be resolved?

**specifications**
package json conf

[2019-11-29 11:18] macjohnny commented on #188
which versions of angular, angular material and ngx-mat-select-search are you using?

[2019-11-29 12:27] mptyspace commented on #188
Updated with specifications

[2019-11-29 12:42] macjohnny commented on #188
`ngx-mat-select-search@1.8.0` uses the `@angular/material` import, while `ngx-mat-select-search@2.0.0` uses the `@angular/material/select` import, so could you try updating ngx-mat-select-search to version `2.0.0`?

[2019-11-29 13:07] mptyspace commented on #188
That'll do the trick then, thanks. I noticed I have a few other tests with similar issues, and it's about the similarity of the import.

[2019-11-29 13:07] #188 closed

[2019-12-02 07:01] kumaroswal commented on #184
thanks

[2019-12-04 19:55] odravison commented on #130
Hello, @macjohnny .

I'm using `ngx-mat-select-search@1.8.0`
and this new feature doesn't work.

Do you know if there is some problem with this feature?

[2019-12-05 05:12] macjohnny commented on #130
@odravison can you please open a new issue and describe the problem and reproduction steps?

[2019-12-05 11:54] Donzkie24 opened #189 "Issues on uppermost toggleSelectAll checkbox still checked even if the list of data names are all unchecked(UI)"
![image-2019-12-04-16-34-54-663](https://user-images.githubusercontent.com/45349148/70233202-0b957200-1799-11ea-911b-3c76d459919e.png)

[2019-12-05 11:57] odravison commented on #130
Sure!

[2019-12-05 12:00] macjohnny commented on #189
the checked state of the "check all" checkbox has to be controlled in your application and passed as an input parameter:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/d19c777ded98457cbdd4be476246ae96c52d7f02/src/app/mat-select-search/mat-select-search.component.ts#L159-L160

[2019-12-05 12:00] #189 closed

[2019-12-10 07:03] #186 closed

[2019-12-10 11:19] gomteshhatgine opened #191 "Is it possible to collapse grouping options"
I want to add collapse grouping options in select

like in
[https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fexamples%2F04-option-groups-example%2Foption-groups-example.component.html](url)

Here **Single selection with option groups**
I want collapse groups in select
Is there any way to implement
please help
Thanks

[2019-12-10 11:29] macjohnny commented on #191
can you please give more detailed information about what you want to achieve?
a sketch or an example might be useful

[2019-12-10 12:06] gomteshhatgine commented on #191
I want to implement like here **Collapsible with Search:**
[https://codepen.io/sathomas/pen/VpJeEo](url)

Like this :
![Screenshot from 2019-12-10 17-33-29](https://user-images.githubusercontent.com/10737306/70528160-8da7e100-1b73-11ea-9fec-54b01bc299c5.png)

[2019-12-10 13:19] macjohnny commented on #191
I don't think there is such a feature in the mat-select (https://material.angular.io/components/select/overview)

However, you could try to combine mat-tree (https://material.angular.io/components/tree/overview) with an overlay (https://material.angular.io/cdk/overlay/overview)

I am closing this as this is not directly related to ngx-mat-select-search

[2019-12-10 13:19] #191 closed

[2019-12-11 04:56] saravanacs opened #192 "Ngx-mat-select-search keyboard interaction"
Hi ,
I'm using ngx-mat-select-search in my project. Its working fine. Now, searching filtered data to i click tab button in keyboard to select the search item. Default set, 'enter' button click to select the item. I also need tab button click to select the item in ngx-mat-select-search. Please suggest any ideas .
Happy coding ..!!

My screenshot here,
![image](https://user-images.githubusercontent

[2019-12-11 06:33] macjohnny commented on #192
This behavior was implemented in mat-select, see https://github.com/angular/components/issues/17442

[2019-12-11 06:33] #192 closed

[2019-12-11 06:37] saravanacs commented on #192
@macjohnny
Environment
Angular/cli version - 8.3.9

[2019-12-11 06:47] macjohnny commented on #192
which version of `@angular/material` are you using?
the fix was released in [@angular/material@9.0.0-rc.1](https://github.com/angular/components/releases/tag/9.0.0-rc.1)

[2019-12-11 07:06] saravanacs commented on #192
![image](https://user-images.githubusercontent.com/43574327/70599321-debae200-1c12-11ea-999f-a784dd19bfb5.png)

My angular/material version is 8.2.3 sir.

[2019-12-11 07:11] saravanacs commented on #192
@macjohnny Thanks for your reply sir. I'll update my angular material version 9 and let you know . Is working or not sir

[2019-12-11 18:26] gomteshhatgine opened #193 "How can I change Place holder for Search and Records not found"
I want to show place holder like "Search" and "Not Found" after no result match with search text
Currently it is showing like **Suche** and **Keine Optionen gefunden**
I.e. I want change this text as shown in image

![Screenshot from 2019-12-11 23-52-27](https://user-images.githubusercontent.com/10737306/70648914-19a03280-1c72-11ea-8587-475cd628da04.png)

![Screenshot from 2019-12-11 23-52-14](htt

[2019-12-11 18:29] macjohnny commented on #193
Please have a look at the readme:
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/README.md#labels

[2019-12-11 18:29] #193 closed

[2019-12-11 18:33] gomteshhatgine commented on #193
Thanks

[2019-12-11 19:23] jfcere commented on #176
My temporary fix...

[code]

[2019-12-11 19:32] macjohnny commented on #176
@jfcere would you like to submit your contribution as a PR?

[2019-12-11 20:40] gomteshhatgine opened #194 "Once I select any option it is not populating Select for next time selction"
I was getting following issues :
1. When I click angular mat-select it is populating drop-down for selection but when I click on next time It is not getting populated even no any erros showing in console.
2. After selection any one of the option it is not getting bind in mat-select.
3. Also I not getting change event.
[code]

Component code:

[code]

Package.json :

[code]
  `

[2019-12-11 21:34] gomteshhatgine commented on #194
Issue is with  *ngIf in **mat-option**
Instead of that when I replace with **[hidden]** then it is rendered next time click
May be due to as **hidden** is element still in DOM and when *ngIf is false it is removed from DOM

`<mat-option [value]="name" *ngIf="group.isShow==true">`

this I replaced with
[code]

[2019-12-11 21:35] #194 closed

[2019-12-12 00:06] jfcere commented on #176
There ya go 😄

[2019-12-12 06:18] #176 closed

[2019-12-12 09:39] #175 closed

[2019-12-12 09:51] #183 closed

[2019-12-12 11:36] macjohnny commented on #186
@ZacaryPaynter thanks for the fix, it was released with version `2.1.0`

[2019-12-12 11:36] macjohnny commented on #176
@jfcere thanks for the fix, it was released with version `2.1.0`

[2019-12-12 11:37] macjohnny commented on #183
a fix was released with version `2.1.0`

[2019-12-12 12:42] vinodhreddygs opened #199 "Selected option will be hidden under the search input field."
Hi,

Selected option is hiding under the search input field when opening the options panel.
Is there any way to show drop down along with search input field under the selected option.

Thanks in advance.

[2019-12-12 12:53] macjohnny commented on #199
the behavior you describe should be enabled by default and can be disabled with
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/4138c7523db4b580bb641840d08331808e14a781/src/app/mat-select-search/mat-select-search.component.ts#L158-L159

can you please provide a stackblitz example (you can start with https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example)?

[2019-12-13 22:23] ArsalanSavand opened #200 "Adding items to an existing list will cause MatSelect to scroll to first item."
I'm having a list of items and searching with server client.
I'm using a library to load more items once user reaches bottom of the scroll container. Problem is when I push new items to my list, it scrolls to first item.

The problem is not with the library I'm using, because even if I just randomly push an item to my list, it happens.

[2019-12-14 07:12] macjohnny commented on #200
Can you please provide a stackblitz demo?

[2019-12-18 20:27] nprasovict commented on #200
I'm using ng-mat-select-infinite-scroll component and have noticed the same behavior.

Here is working [stackblitz](https://stackblitz.com/edit/ng-mat-select-infinite-scroll-3a3kbc?file=src%2Fapp%2Fapp.component.html)

If you remove ngx-mat-select-search from app.component.html and reload browser view on the right, options list will not jump to start after you scroll to the end and infinite scroll

[2019-12-19 09:40] macjohnny commented on #200
thanks for the example.
I think the problem is here
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/4138c7523db4b580bb641840d08331808e14a781/src/app/mat-select-search/mat-select-search.component.ts#L281-L290

this is needed to scroll to the first option of the filtered result. Somehow we should distinguish why the options changed, due to search or due to additional loading.

[2019-12-19 09:58] macjohnny commented on #200
a first fix for this could be to add an input to disable this behavior. @nprasovict @ArsalanSavand would you like to investigate this and find a fix?

[2019-12-23 14:52] nprasovict commented on #200
I won't have time to work on this since my team decided to go with different UX design where we don't use drop-down lists and hence won't be using ngx-mat-select-search and ng-mat-select-infinite-scroll.

[2019-12-26 17:18] josephdecock opened #201 "[BUG] Arrow keys throw unhandled exceptions when no options are present"
**Describe the bug**
Pressing the arrow keys throws an unhandled exception if there are no options in the mat-select.

**To Reproduce**
1. Go to the demo site.
2. Open the browser's console
3. Filter by "Nothing matches this"
4. Press arrow up or down keys.
5. See unhandled exception:
[code]

**Expected behavior**
Should not throw.

[2020-01-04 13:15] PritiMaurya commented on #179
@macjohnny I am not able to reproduce by using ngx-mat-select-search@2.0.0

I am using     "@angular/cli": "^8.3.19",

[2020-01-06 08:48] macjohnny commented on #179
@PritiMaurya can you please open a new issue and provide all the necessary information?

[2020-01-06 10:30] #201 closed

[2020-01-08 04:12] shaukath opened #204 "Search is not working with dynamic data"
Loading dynamic data on scroll to mat options , in this scenario search is not working.

If I change the data randomly then also search is not working.

[2020-01-08 05:34] macjohnny commented on #204
Can you please provide an example?

[2020-01-08 13:28] shaukath commented on #204
Add some data to mat options, while scrolling I am pushing some more data to same options array after that search is not working

[2020-01-08 13:52] macjohnny commented on #204
I think this is a duplicate of https://github.com/bithost-gmbh/ngx-mat-select-search/issues/200
Please continue the discussion there.
A contribution/fix would be appreciated.

[2020-01-08 13:52] #204 closed

[2020-01-08 14:33] macjohnny commented on #199
@vinodhreddygs can you please provide more information?

[2020-01-08 16:07] vashi538 opened #205 "search is not working when loading data dynamically using infinite scroll"
ngx-mat-select-search is not giving any results when using with msInfiniteScroll

[2020-01-08 16:15] macjohnny commented on #205
duplicate of https://github.com/bithost-gmbh/ngx-mat-select-search/issues/200
please continue the discussion there.
@vashi538 a fix/contribution would be appreciated.

[2020-01-08 16:16] macjohnny commented on #205
please provide an example and more information

[2020-01-08 16:25] vashi538 commented on #205
I'm using mat-select with ngx-mat-select-search and I have 2000 records in mat-options it's giving performance issue  so now  I'm using msInfiniteScroll (infiniteScroll)="getNextBatch() .when I use msInfiniteScroll, ngx-mat-select-search is not working

[2020-01-08 16:44] macjohnny commented on #205
It would be very helpful if you could provide a stackblitz example
See https://raw.githubusercontent.com/bithost-gmbh/ngx-mat-select-search/master/.github/ISSUE_TEMPLATE/bug_report.md

[2020-01-21 06:31] macjohnny commented on #205
@vashi538 could you please provide an example to make it easier for someone to help you?

[2020-01-29 11:52] HrshPtl opened #206 "ngx-mat-select-search "Keine Optionen gefunden" message not replace"
- I follow this way to install NgxMatSelectSearch ( https://github.com/bithost-gmbh/ngx-mat-select-search )
- NgxMatSelectSearch  working fine
- Whenever data not found in select list is given "Keine Optionen gefunden" message
![Capture](https://user-images.githubusercontent.com/38342527/73354401-a606c300-42bb-11ea-8f0d-1fa1ad00bd13.PNG)

- But i want this message in English like "No records found

[2020-01-29 12:00] #206 closed

[2020-01-29 12:25] macjohnny commented on #206
see https://github.com/bithost-gmbh/ngx-mat-select-search#labels

[2020-01-29 12:50] whtrbit commented on #112
Had the same issue in spec. When trying to reproduce on Stackblitz the same error occurred in implementation. It turned out that we cannot import MatFormField and MatSelect from @angular/material factory:
`import { MatFormFieldModule, MatSelectModule } from '@angular/material';`
Instead you need import from form-field and select sub factories:
`
import { MatFormFieldModule } from '@angular/materia

[2020-02-06 16:05] L-NiNo commented on #205
@macjohnny @vashi538
I was able to get the search to work with infinite scroll
https://stackblitz.com/edit/mat-select-search-with-infinity-scroll

[2020-02-06 16:37] macjohnny commented on #205
@L-NiNo thanks for sharing your solution. so I think we can close this issue

[2020-02-06 16:37] #205 closed

[2020-02-07 08:04] macjohnny commented on #199
When there is more information available, allowing to properly investigate the issue, I will be happy to re-open it

[2020-02-07 08:04] #199 closed

[2020-02-07 08:05] macjohnny commented on #200
this issue is also reproducible in the demo by @L-NiNo: https://stackblitz.com/edit/mat-select-search-with-infinity-scroll

[2020-02-10 04:38] jvinhit opened #207 "[BUG]Adding items to an existing list will cause MatSelect to scrollToTop = 0."
**Describe the bug**

When update dataSource ( push new item to list ) mat-select scrollTop = 0;
When debugger check problem in here:

[code]
issue in conditional : `if (indexOfFirstVisibleOption >= indexOfOptionToFitIntoView) `
**To Reproduce**

*Important* Please provide a reproduction example. You can use https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example as a starting poi

[2020-02-10 06:54] macjohnny commented on #207
@jvinhit thanks for reporting this issue.
I think this is a duplicate of https://github.com/bithost-gmbh/ngx-mat-select-search/issues/200, so let's continue the discussion there and close this one.

[2020-02-10 06:54] #207 closed

[2020-02-10 07:15] macjohnny commented on #200
@jvinhit would you like to give it a try and find a fix?

[2020-02-11 09:34] evoltafreak opened #208 "Enhancement: Replacing overlayDir: CdkConnectedOverlay from MatSelectSearchComponent"
**Describe the enhancement:**
Since the `overlayDir: CdkConnectedOverlay` property in the `MatSelect` class will be deprecated soon in Angular 10, you should consider to replace it in the `MatSelectSearchComponent` with following code.

**Describe the solution**
[code]
Also consider to run the following test `should show a search field and focus it when opening the select` synchronous in the `MatS

[2020-02-11 09:58] macjohnny commented on #208
@evoltafreak thanks for suggesting this code change. would you like to file a PR for this?

[2020-02-11 17:47] evoltafreak commented on #208
@macjohnny I just opened a PR #209.

[2020-02-12 08:19] macjohnny commented on #208
@evoltafreak thanks a lot!

[2020-02-13 22:07] dan-fig opened #210 "set id on search input element"
**Describe the bug**
I cannot figure out how to add an id to the the mat-input controls that are created under the ngx-mat-select-search markup in the browser. I am able to successfully assign an id to the  ng-mat-select-search control itself. We have QA staff that would like to use this id on the mat-input for automation. Ideally, this id would remain consistently assigned, meaning if I go to the

[2020-02-14 08:28] macjohnny commented on #210
@dan-fig the id is set by the `matInput` directive and is private api, see https://github.com/angular/components/blob/master/src/material/input/input.ts#L153-L160
however, you could set a custom `data-*` attribute using the `searchSelectInput: ElementRef` view child of the `<ngx-mat-select-search>` component whenever the `matSelect.openedChange` emits `true`, see this example:
[code]

try it here:

[2020-02-14 08:29] #210 closed

[2020-02-14 16:26] dan-fig commented on #210
This is a big help. Thank you

Sent from Yahoo Mail on Android

  On Fri, Feb 14, 2020 at 2:29 AM, Esteban Gehring<notifications@github.com> wrote:
Closed #210.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-17 11:45] tcetin opened #211 "TypeError: Cannot read property 'kind' of undefined"
I am facing this error when try to `ng build --prod` production build.

`TypeError: Cannot read property 'kind' of undefined`

How can I solve this error?

[2020-02-17 11:54] macjohnny commented on #211
see https://github.com/bithost-gmbh/ngx-mat-select-search/issues/178
please update `@angular-devkit/build-angular` to a newer version.

[2020-02-17 13:44] macjohnny commented on #211
@tcetin please let me know if this works for you. if it doesn't, i will re-open the issue.

[2020-02-17 13:44] #211 closed

[2020-02-17 13:55] tcetin commented on #211
`An unhandled exception occurred: Job name "..getProjectMetadata" does not exist.` problem is causing after updated.

[2020-02-17 14:00] macjohnny commented on #211
can you please post all versions used with `ng --version`?

[2020-02-17 14:02] tcetin commented on #211
[code]

[2020-02-17 14:05] macjohnny commented on #211
can you please update to `@angular-devkit/build-angular@0.803.24`?
you can run
[code]

[2020-02-17 14:27] tcetin commented on #211
Ok it worked with  updating "@angular-devkit/build-angular": "0.803" in `npm` dependencies.
Thanks

[2020-02-21 06:01] ngthaiduong31191 opened #212 "[BUG] Angular 6 : How to combine serverside and multiple selection"
Hi all, I get some issues when implement ngx-mat-select-search.
I'm using angular 6. My ngx-mat-select-search is 1.7.5
When add it in a component :<app-search></app-search> and embed this to app.component. I got error
Angular: 'ngx-mat-select-search' is not a known element

Please help me. thank you so much.

[2020-02-21 06:10] macjohnny commented on #212
You need to import the NgxMatSelextSearchModule

[2020-02-21 06:11] ngthaiduong31191 commented on #212
Where I have to import it? sorry i'm just new in this one.

[2020-02-21 06:44] macjohnny commented on #212
you need to import it in your app module, see https://github.com/bithost-gmbh/ngx-mat-select-search#how-to-use-it

[2020-02-21 08:13] ngthaiduong31191 commented on #212
Thank you for your reply.
I have a mistake.
So by the way. Is it possible to combine server side and multiple select.

Thank you

[2020-02-21 08:40] macjohnny commented on #212
@ngthaiduong31191 you can combine server-side search and multiple select, simply use `[multiple]="true"` as in the examples https://github.com/bithost-gmbh/ngx-mat-select-search-example/blob/master/src/app/examples/02-multiple-selection-example/multiple-selection-example.component.html#L5

what you need to do to implement server-side search, is to do something like this:
[code]

[2020-02-21 08:40] #212 closed

[2020-02-27 13:28] hussienalbared commented on #181
Downgrade from 2.1.1 to 1.8.0 worked for me thanks a lot
You saved my day

[2020-03-03 01:25] ChristopherKiss commented on #200
@macjohnny,

I've opened a PR to fix this issue. https://github.com/bithost-gmbh/ngx-mat-select-search/pull/214

[2020-03-04 08:09] Springrbua opened #215 "[BUG] Restoring of old selection does not use `compareWith`"
**Describe the bug**
In [mat-select-search.component.ts#L552](https://github.com/bithost-gmbh/ngx-mat-select-search/blob/master/src/app/mat-select-search/mat-select-search.component.ts#L552), the previously selected values are restored, if they have been removed by the new filter.
However, the used logic does not use the `compareWith`-function of the `mat-select` and so different instances of the

[2020-03-04 08:46] macjohnny commented on #215
thanks for reporting and the detailed analysis!

[2020-03-04 08:54] #215 closed

[2020-03-04 10:25] gitalvininfo opened #218 "Lazy Load the values in dropdown"
**Is your feature request related to a problem? Please describe.**
I want to lazy load the values in dropdown because currently it loads all the data(*1000 records of data). My current setup is that, the dropdown is inside a modal, if I open the modal, the dropdown freezes for a bit of seconds (*cannot click) then displays all records (1000 records). For me it's a big deal because my user thinks t

[2020-03-04 11:53] macjohnny commented on #218
I suggest to use infinity scrolling.
does this solution provided by @L-NiNo work for you?
https://github.com/bithost-gmbh/ngx-mat-select-search/issues/205#issuecomment-582976826

keep in mind that there is an open issue: https://github.com/bithost-gmbh/ngx-mat-select-search/issues/200

[2020-03-04 20:27] macjohnny commented on #215
@Springrbua thanks for your fix. it was released with version 2.1.2

[2020-03-04 21:43] saithis commented on #215
@Springrbua Thanks a lot! We had the same problem yesterday and I wanted to report it now, just to see that you already fixed it :) You are awesome.

[2020-03-05 07:11] Springrbua commented on #215
@macjohnny than you for the quick response and the new release :)
@saithis I am glad that I could contribute to this project :)

[2020-03-05 07:22] ShipraNanaiah opened #219 "Select all checkbox will not be unselected once the ngx-mat-select-search control is reset."
I've used ngx-mat-select-search multiselect control having search feature. When a toggleSelectAll() method is called, all the items in the drop down are selected. After saving the items from the dropdown on click of save button, ngx-mat-select-search control reset() method is called to uncheck all the previously selected items. It unchecks the entire dropdown as expected, but the SELECT ALL check

[2020-03-05 07:34] macjohnny commented on #219
duplicate of https://github.com/bithost-gmbh/ngx-mat-select-search/issues/189

[2020-03-05 07:34] #219 closed

[2020-03-05 07:46] gitalvininfo commented on #218
Thanks @macjohnny will give it a try.

[2020-03-05 08:12] smartHasmukh opened #220 "Default selection is not working. Using ID [value]="bank.id""
I have created an example for [stackblitz](https://stackblitz.com/edit/github-hipfbd-tygsep?file=src%2Fapp%2Fapp.component.html). Please check it.

Using `bank.id`  the value does not default select

`this.bankCtrl.setValue(this.banks[10].id)` This also not working

[2020-03-05 08:24] macjohnny commented on #220
the bank control value will be the `id` of your object, so in your case
[code]
see https://stackblitz.com/edit/github-hipfbd-wcdchx?file=src/app/examples/01-single-selection-example/single-selection-example.component.html

[2020-03-05 08:24] #220 closed

[2020-03-05 09:52] ShipraNanaiah commented on #219
@macjohnny , Thanks for the sharing solution link. But I tried passing it as an input parameter and no luck. I also tried setting the **this.toggleAllCheckboxChecked = false;**  in the button click event. Is there something I'm missing here please?

[2020-03-05 10:05] macjohnny commented on #219
you need to set the state of the checkbox toggle as an input
[code]
and in your component you need to add some logic to set `isToggleAllChecked` to true or false, depending on the selected options.

[2020-03-07 10:39] smartHasmukh commented on #220
@macjohnny but default selected value is wrong in mat-select. The default value is `Bank kolombia` and now selected first value. That's the my question.

I set ` this.bankCtrl.setValue(this.banks[10].id);` this value.

``

[2020-03-07 11:05] macjohnny commented on #220
You also need to adapt the
‚this.singleSelect.compareWith = (a,b)=>a===b‘

See the updated example: https://stackblitz.com/edit/github-hipfbd-cpklq9?file=src/app/examples/01-single-selection-example/single-selection-example.component.ts

[2020-03-11 13:46] loncho67880 commented on #211
Thank you, i copied this versions and woked good: https://github.com/bithost-gmbh/ngx-mat-select-search-example/blob/0e45058db56c1af0fe920ac3e188737ffa3df426/package.json#L14-L34

[2020-03-12 20:45] vladimir-poma commented on #200
This is the first time that I do a workaround like this, but I could be able to solve this by overwriting for a moment the **setFirstItemActive** function when you update your list, to avoid autoscrolling by doing

[code]

[code]

I hope someone could figure out a proper way to solve this, in the meanwhile maybe this solution can help someone :)

[2020-03-18 20:32] rick2ricks opened #222 "Server-side search and selected values"
It would be nice if we could use select multiple options with server side search.

Right now when the list of options changes  the values that are not in it doesn't appear listed in the
input.

That happens as well if I have any previous selected value before searching.

This is what I expect to see:
![image](https://user-images.githubusercontent.com/4560170/77004625-2487f480-693e-11ea-8a25-cb69c4

[2020-03-19 06:12] macjohnny commented on #222
This is due to the behavior of mat-select itself and can easily be resolved by making sure that the selected options are permanently rendered as mat-option elements

[2020-03-19 14:48] rick2ricks commented on #222
I see, it just took me a while to notice it was happening.

Thanks.

[2020-03-19 15:41] macjohnny commented on #222
@rick2ricks can I close this issue as the question is answered?

[2020-03-21 05:17] Mahendramahii commented on #181
i am having the "@angular/cli": "~7.3.9", and "ngx-mat-select-search": "^2.1.2", still it is giving the error.. Help me out.

[2020-03-21 05:18] Mahendramahii commented on #181
i downgraded to ngx-mat-select-search to 1.8.0 still it is giving the same error

[2020-03-25 10:47] guliano commented on #222
You can do it by
[code]
This will populate options with an array of one element from your model

[2020-03-25 14:01] #222 closed

[2020-04-10 08:49] abhisheksharma662 opened #223 "Search Showing Undefined"
<mat-select name="dealer" placeholder="Select" [(ngModel)]="filter.dealer_id">
               <ngx-mat-select-search  [(ngModel)]="searchCtrl" [placeholderLabel]="'Search...'"
                 [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
               <mat-option *ngFor="let item of dealerlisting_filter |stringFilterBy:searchCtrl:'item_text'" [value]="item.item_id">{

[2020-04-10 11:04] macjohnny commented on #223
Can you please post more details about the error message including a stack trace?

[2020-04-10 11:59] macjohnny commented on #223
I guess you need to initialize

searchCtrl = „“

[2020-04-10 12:06] abhisheksharma662 commented on #223
https://stackblitz.com/edit/angular-nzwzka?embed=1&file=src/app/app.component.html

i have created a demo here with same problem can you please check it sir
thanks in advance

[2020-04-10 12:36] abhisheksharma662 commented on #223
please can anyone solve this problem because project is stuck due to this issue

[2020-04-10 14:55] #223 closed

[2020-04-13 18:15] temka1234 commented on #84
Here is example with clear button. Scroll to **input with a clear button** section.
https://material.angular.io/components/input/examples

[2020-04-15 06:15] abhisheksharma662 opened #224 "Angular-material 5: Can't bind to 'disableOptionCentering"
"@angular/animations": "^5.2.9",
    "@angular/cdk": "^5.2.4",
    "@angular/common": "^5.2.0",
    "@angular/compiler": "^5.2.0",
    "@angular/core": "^5.2.0",
    "@angular/forms": "^5.2.0",
    "@angular/http": "^5.2.0",
    "@angular/material": "^5.2.4",

i am using this application on angular 5 version and upgrading angular is not possible for me because its running with universal version

c

[2020-04-15 06:24] macjohnny commented on #224
the `disableOptionCentering`
https://github.com/angular/components/blob/master/src/material/select/select.ts#L403-L408
is an input property of the `mat-select` element.
However, it is not yet present in `5.x`, see
https://github.com/angular/components/blob/5.2.5/src/lib/select/select.ts

[2020-04-15 06:24] #224 closed

[2020-04-15 06:27] abhisheksharma662 commented on #224
is there any solution for the same ?

one more thing i am using this select on template driven form and required validation is also not working

[2020-04-15 06:29] abhisheksharma662 opened #225 "Angular Version 5"
Required validations are not working i am using it with template driven form

[2020-04-15 06:31] macjohnny commented on #224
this is related to the `mat-select` element, see the docs in https://v5.material.angular.io/components/select/overview how to use it.

[2020-04-15 06:32] macjohnny commented on #225
can you please provide more context about the problem?

[2020-04-15 06:34] abhisheksharma662 commented on #225
<form (ngSubmit)= "sendrclistingdata()">
              <div class="col-sm-6">
              <div class="form-field">
                <label>RC Status*</label>
                <mat-select  name="rc_status" placeholder="Select" [(ngModel)]="rcdetailsparam.rc_status" required>
                  <ngx-mat-select-search  [(ngModel)]="select.rcst" [placeholderLabel]="'Search...'"
                    [noE

[2020-04-15 06:38] macjohnny commented on #225
according to https://v5.material.angular.io/components/select/api#MatSelect the required property is supported on the `mat-select` element.
However, your button does not seem to have any logic to disable when the form is invalid.
Have a look here for further help: https://v5.angular.io/guide/form-validation

[2020-04-15 06:38] #225 closed

[2020-04-24 14:46] arucar opened #226 "[FEATURE] Check/Uncheck select all box"
Hi there,

May be it's already existing but i don't find how to do it. Is it possible to check the select all box when you manually select all the value, and uncheck it if you have unselect all possible value manually ?

[2020-04-24 15:03] macjohnny commented on #226
see https://github.com/bithost-gmbh/ngx-mat-select-search/issues/189#issuecomment-562099808 and https://github.com/bithost-gmbh/ngx-mat-select-search/issues/219

you have to provide the `check all` checked state in your application, but this can easily be done by setting the corresponding input.

does this help?

[2020-04-24 15:03] #226 closed

[2020-04-27 05:32] arucar commented on #226
yes thank you that was i searching for :)

[2020-04-27 09:34] arucar opened #227 "[FEATURE] Checkbox select all tooltip"
Is it possible to add an @input to set text of a MatTooltip on the checkbox to select/unselect all ?

[2020-04-27 11:06] macjohnny commented on #227
@arucar yes, feel free to open a PR

[2020-04-27 11:45] arucar commented on #227
oh ok ^^... i'll do that, thanks

[2020-04-27 17:13] arucar commented on #227
i'll probably look like a noob.. but.. i can't create a new branch to push the code... i get an access denied

[2020-04-27 17:22] macjohnny commented on #227
Simply fork the repository and create a branch in your fork

[2020-04-27 17:29] arucar commented on #227
ok.. i start to feel terrible lol...
i have clone the repo with: git clone https://github.com/bithost-gmbh/ngx-mat-select-search.git

[2020-04-27 17:32] arucar commented on #227
oh i just receive a token.. may be i need to activate something first ? it's my first contribution ^^

[2020-04-27 17:37] arucar commented on #227
ok wait i have find a tuto to fork the repo ^^

[2020-04-27 18:01] macjohnny commented on #227
Simply click the „fork“ button on https://github.com/bithost-gmbh/ngx-mat-select-search

[2020-04-27 18:06] arucar commented on #227
i think it's ok..

[2020-04-29 05:54] #227 closed

[2020-05-05 07:52] francisnadal opened #230 "How to prevent previous chosen values in dropdowns from clearing? I am using MatSelectSearch in a FormArray"
I'm trying to implement the MatSelectSearch in our dropdowns inside a FormArray. I think I'm almost there, but the issue I'm having is after choosing a value for my first row, I add another row and start searching again, the value of the first row seems clearing until I'm finished typing or chosen a value for the second row.

I've made a [StackBlitz](https://stackblitz.com/edit/github-mhyl4o) to d

[2020-05-05 07:54] francisnadal commented on #230
sorry, this is not a bug but I'm not sure how to edit the label

[2020-05-05 11:02] francisnadal commented on #230
Someone actually already helped me in [Stack Overflow](https://stackoverflow.com/questions/61593404/how-to-prevent-previous-chosen-values-in-dropdowns-from-clearing-i-am-using-mat) will close this and leave it here if anyone will encounter something like this.

[2020-05-05 11:02] #230 closed

[2020-05-26 13:52] nischi opened #231 "[FEATURE] On press ESC only empty search field"
It would be very nice to empty the search input with pressing "ESC". But it will close the Dropdown (also happen in your example). Maybe add an option to do this?

Please add an input which handle this feature. Ex. [emptySearchOnEsc]="false".

It could also be that the current behavior is a bug, but maybe some like it to close on ESC some like it to clear out the search box.
Alternative could be t

[2020-05-28 13:42] macjohnny commented on #231
hi @nischi

would you like to file a PR that implements this feature?
currently, keyboard events are handled here:

https://github.com/bithost-gmbh/ngx-mat-select-search/blob/bfcff8cf954ba3a17c9780e37fdd3b49b504b216/src/app/mat-select-search/mat-select-search.component.ts#L373-L388

[2020-06-01 21:17] ThanosAlmighty opened #232 "Build Optimizer - TypeError: Cannot read property 'kind' of undefined"
**Describe the bug**
Production builds with "buildOptimizer": true results in a failed build. Below is a screenshot of the full error
**To Reproduce**

**Smartphone (please complete the following information):**

**Additional context**
Add any other context about the problem here.

[2020-06-01 21:19] ThanosAlmighty opened #233 "[BUG] Build Optimizer - TypeError: Cannot read property 'kind' of undefined"
**Describe the bug**
Production builds with "buildOptimizer": true results in a failed build. Below is a screenshot of the full error

**To Reproduce**
Steps to reproduce the behavior:
1. Set buildOptimizer to true in angular.json
2. Go to command line and run production build with the following `ng build --prod`
2. Wait for build to fail.
3. See error in screenshots

**Expected behavior**

Build

[2020-06-01 21:22] #232 closed

[2020-06-02 05:26] macjohnny commented on #233
Which versions of angular / cli / mag-mat-select-search are you using? Please print the output of „ng version“
See https://github.com/bithost-gmbh/ngx-mat-select-search/issues/178

[2020-06-02 11:05] nischi commented on #231
Will have a look into it.

[2020-06-02 14:41] francisnadal opened #234 "[BUG] I'm facing a problem if matsearch is in a modal, using bootstrap 4"
**Describe the bug**
We have a modal and I've added a matsearch functionality in it but I'm not able to click the matsearch field and type. I've made a stackblitz but it's even worse here the dropdown is behind the modal. In our app everything is okay except the inability to type in the matsearch field

*Important* Please provide a reproduction example.
https://stackblitz.com/edit/github-xkpv1x-mo

[2020-06-02 15:06] macjohnny commented on #234
this is due to the fact that you are using a `mat-select` element from the angular material library together with a bootstrap modal dialog. The z-index calculation of overlays is done in each framework separately, leading to an incompatibility.

Closing this as unrelated to `ngx-mat-select-search`, since the issue also occurs without using `ngx-mat-select-search`, see
https://stackblitz.com/edit/g

[2020-06-02 15:06] #234 closed

[2020-06-02 15:22] macjohnny commented on #234
@francisnadal you could try to manually set the z-index of the mat-select overlay

[2020-06-08 21:06] ThanosAlmighty commented on #233
![image](https://user-images.githubusercontent.com/32068435/84080278-f00a5e80-a9a9-11ea-9f94-6eed9573a30d.png)

and the mat-select-search version is 2.20

[2020-06-08 21:09] ThanosAlmighty commented on #231
Since the search input is tied to a control, it seems easier to just implement yourself @nischi. Why not create your own listener that's active when you focus the search or even the full dropdown control?

[2020-06-09 03:47] nischi commented on #231
I tried this, but i can't stop the other listener on the Input, My listener will run after the other and so i can't stop bubbling.

[2020-06-09 06:08] macjohnny commented on #233
can you please update to the latest @angular/cli, @angular-devkit/build-angular and @angular/core and see if the problem still persists?

[2020-06-09 13:37] ThanosAlmighty commented on #231
Oh, I understand. This may not be a problem with this module, rather with the native html dropdown interface.

[2020-06-09 13:39] ThanosAlmighty commented on #233
I have already tried this. Unfortunately, due to the complexity of the application, and a few of the dependencies, I cannot upgrade to Angular 9 at this time.

[2020-06-11 03:32] raysuelzer commented on #200
I'm working on a fix to this.

Essentially, you should only need to call `keymanager.setFirstItemActive()` if the current firstItem in the options list changes...

[2020-06-12 09:07] TheParad0X commented on #200
Thank you

[2020-06-15 05:36] nischi commented on #231
You got have a pull request :)

[2020-06-16 05:57] #231 closed

[2020-06-16 06:03] #200 closed

[2020-06-16 06:05] macjohnny commented on #218
should be possible with https://github.com/bithost-gmbh/ngx-mat-select-search/pull/236

[2020-06-16 06:05] #218 closed

[2020-06-16 06:27] #208 closed

[2020-06-16 07:07] macjohnny commented on #233
this should be fixed with version `ngx-mat-select-search@3.0.0`
Please let me know whether this works.

[2020-06-16 20:47] ThanosAlmighty commented on #233
This fixes the main issue, however I am now getting the an error saying ngx-mat-select-search must be contained in a mat-option element. I tried doing this, but the result is a search that obstructs the first option:

![image](https://user-images.githubusercontent.com/32068435/84826394-e491e580-aff0-11ea-8536-e9e1d0914134.png)

In 2.2.0, no error was thrown for the search not being contained in a

[2020-06-17 05:37] macjohnny commented on #233
@ThanosAlmighty unfortunately, due to changes of the public API in mat-select, it is difficult to allow using ngx-mat-select-search without wrapping it into a mat-option.
However, could you open a new issue with an example how it obstructs the first element?
The examples in this repo work fine.

[2020-06-17 05:37] #233 closed

[2020-06-17 06:12] macjohnny commented on #233
see also the discussion in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/209

[2020-06-28 07:10] Arjun-1r opened #239 "[BUG] : Server side search NoEntriesfoundlabel not working fine always."
**Describe the bug**
When we search the dropdown unknown value it is expected to show No search results found for the search as per NoEntriesfoundlabel. But it is not working 100%.

**To Reproduce**
See it in action at https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
1. Go to the example
2. On server-side search dropdown type in 'dddddd' some unknown input.

**Expected beha

[2020-07-08 07:47] macjohnny commented on #239
@Arjun-1r thanks for reporting.
I guess this is due to
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/8cf1cf5ca6527b611ae1e0d39fea774d371749f3/src/app/mat-select-search/mat-select-search.component.ts#L343-L349
not being invoked, since no options change when initially typing a keyword that leads to no results
https://github.com/bithost-gmbh/ngx-mat-select-search/blob/8cf1cf5ca6527b611ae

[2020-07-10 08:01] macjohnny commented on #157
this issue might be fixed by the refactoring done in https://github.com/bithost-gmbh/ngx-mat-select-search/pull/241

@littlebtc would you like to re-test that with release 3.0.1?

[2020-07-10 08:01] #239 closed

[2020-07-20 07:48] pp003 opened #242 "Change the German words to English"
Can I change the language to English for :
1. Label of the search placeholder : Suche,
2. Input() noEntriesFoundLabel = 'Keine Optionen gefunden';

[2020-07-20 08:31] macjohnny commented on #242
you can change the labels as follows:
https://github.com/bithost-gmbh/ngx-mat-select-search#labels

[2020-07-20 09:12] pp003 commented on #242
Thanks for the help.
I tried but couldn't find where to do the changes. I think it's in the node-modules folder. Is it possible to change there ?
I only need to change those two. **Suche** to **Search** . And, **Keine Optionen gefunden** to **No options found**.

[2020-07-20 10:07] macjohnny commented on #242
You can pass the labels as an input to the ngx-mat-seleact-search element:

<ngx-mat-select-search [formControl]="bankFilterCtrl"
                       placeholderLabel="Find bank..."
                       noEntriesFoundLabel="'no matching bank found'"></ngx-mat-select-search>

[2020-07-20 15:57] pp003 commented on #242
It worked. Thanks for your help and valuable time.

[2020-07-20 18:34] #242 closed

[2020-07-29 13:25] NitinMagdum opened #243 "what is the issue with 08-infinite-scroll-example from stackblitz"
i am using this plugin for infinite scroll and search functionality but its not working.

https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?spm=a2c6h.14275010.0.0.4843743e0qwXH3&file=src%2Fapp%2Fapp.component.html

[2020-07-29 17:26] macjohnny commented on #243
@NitinMagdum can you please describe the expected behavior and the actual/current behavior?

[2020-07-29 18:14] NitinMagdum commented on #243
Current Behavior - only showing 20 items till Bank 19 but the total number of records are 1000
mockBankList = Array.from({ length: 1000 }).map((_, i) => `Bank ${i}`);

Expected behavior - when we scroll till the bottom it should load next set of 20 records(limit is 20 so it should show total 40 recors and so on), i think it is not calling getNextBatch
check this example -https://stackblitz.com/edi

[2020-07-30 04:32] NitinMagdum commented on #243
i added both ngx-mat-select-search and  ng-mat-select-infinite-scroll
https://stackblitz.com/edit/ng-mat-select-infinite-scroll-3gsd97?file=src%2Fapp%2Fapp.component.ts
but here the issue i am facing is after Option 9 any option i select it is not getting set to the select input box

[2020-07-30 05:39] NitinMagdum commented on #243
it would be great if you provide working example with any of the below package for infinite scroll
ngx-infinite-scroll
ng-mat-select-infinite-scroll
cdk-virtual-scroll-viewport

[2020-08-02 23:36] PabloPerezAguilo opened #245 "[BUG] Not found message appears when all elements fits the search criteria"
**Describe the bug**
When every item fits the search criteria, the "not found" message appears

**To Reproduce**

1. Go to https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
2. Click on first select
3. Put "bank" in the search field
4. See the "not found" message before the search field

![image](https://user-images.githubusercontent.com/9373112/89134893-220eeb80-d529-11ea-89

[2020-08-03 12:14] saithis opened #246 "[BUG] input width not updated correctly"
**Describe the bug**

In some constellations when the width of the search results shrinks the input width isn't updated. Basically the same as in #175

**To Reproduce**

1. checkout [https://github.com/prosoft-edv/components/tree/ngx-mat-select-search-bug](https://github.com/prosoft-edv/components/tree/ngx-mat-select-search-bug)
2. run 'npm install'
3. run 'npm start'
4. open http://localhost:4500

[2020-08-04 07:58] #245 closed

[2020-08-04 10:57] macjohnny commented on #246
@saithis thanks for reporting this issue and providing a reproduction example.

After analyzing your repository, I found the following issue:

The option change notificatation

https://github.com/prosoft-edv/components/blob/7c8157dd2ecde557a4cd0b7170a63ac2b32be82b/projects/components/select/src/select-data.component.ts#L183

apparently happens before the UI is updated, thus

https://github.com/bit

[2020-08-04 12:07] macjohnny commented on #243
the example seems to be broken
would you like to fix it?

[2020-08-04 12:09] macjohnny commented on #245
@PabloPerezAguilo thanks for reporting this issue. a fixed version 3.0.2 will be released later today

[2020-08-04 15:44] saithis commented on #246
@macjohnny Thanks for the quick response.

I now tried to come with css only a solution that doesn't have the problem with the search input visibillity, but I couldn't find one. Either the search input isn't visible or it hides the scrollbar :(

I then further investigated why the options aren't updated in the ui when the change event is forwarded. The problem is, that changing the search text doe

[2020-08-04 16:12] macjohnny commented on #246
@saithis updateInputWidth() can be considered public api as long as there is no css-only way of doing that.
And if it is ever removed, you can simply remove that one function call in your code, so I think for the time being it would be ok to use it in your code.
So do you think we can close this issue, as there is not much we can do about it in ngx-mat-select-search?

[2020-08-04 16:33] macjohnny commented on #243
the example is fixed now (https://github.com/bithost-gmbh/ngx-mat-select-search-example/commit/93794534266d5bf0dd61cbbe75ba21935c6875a5)

see https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fexamples%2F08-infinite-scroll-example%2Finfinite-scroll-example.component.html

[2020-08-04 16:47] saithis commented on #246
Yes, I'll close it.

[2020-08-04 16:47] #246 closed

[2020-08-04 17:01] croy618 opened #249 "[BUG] Selecting options after filtering will remove selected options"
**Describe the bug**
After clearing a filter that has no matches, currently selected options are removed from the selected list when selecting a filtered item.

**To Reproduce**
1. Go to https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example
2. Scroll down to 'Multiple selection with Select All Checkbox'
3. Note the already selected options
4. Click the select
5. Enter 'zz' in th

[2020-08-05 07:16] macjohnny commented on #249
Thanks for reporting this issue.
The problem can be reproduced with version 3.0.1. Version 3.0.0 does not show this problem (https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example/tree/3.0.0)
I will investigate it and find a fix.

[2020-08-05 08:29] macjohnny commented on #243
@NitinMagdum

you need to make sure that the selected options are always in the list of actually displayed options, otherwise the cannot be shown as a selected value

[2020-08-06 07:17] macjohnny commented on #249
fixed with #250, will be released in version 3.0.3 today

[2020-08-06 07:17] #249 closed

[2020-08-06 12:24] NitinMagdum commented on #243
@macjohnny  - same issue what i mentioned above i am able to select till Bank 19 after that if i select anything its not adding the value to select box

[2020-08-06 12:46] macjohnny commented on #243
did you consider https://github.com/bithost-gmbh/ngx-mat-select-search/issues/243#issuecomment-669058768 ?

[2020-08-06 13:17] NitinMagdum commented on #243
https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?file=src%2Fapp%2Fexamples%2F08-infinite-scroll-example%2Finfinite-scroll-example.component.html

same issue what i mentioned above i am able to select till Bank 19 after that if i select anything its not adding the value to select box

your reply - you need to make sure that the selected options are always in the list of actu

[2020-08-10 07:49] #243 closed

[2020-08-11 06:41] NitinMagdum commented on #243
@macjohnny -- facing one more issue

how to reproduce
1 - click select box scroll for some time select a value remove focus from select by clicking outside the box
2 -  then again click on select box dont do anything click outside the existing selected value is not getting attached to the box

verify the behavior with single selection example 1, here its working correctly after above step 2 the se

[2020-08-11 06:53] macjohnny commented on #243
@NitinMagdum please open a new issue with exact reproduction steps (I didn't understand how to reproduce your issue)

[2020-08-12 12:12] NitinMagdum opened #253 "virtual scroll example 8 issue"
i am using this plugin for infinite scroll and search functionality but facing one issue

https://stackblitz.com/github/bithost-gmbh/ngx-mat-select-search-example?spm=a2c6h.14275010.0.0.4843743e0qwXH3&file=src%2Fapp%2Fapp.component.html

how to reproduce the issue
1 - click select box scroll for some time select a value remove focus from select by clicking outside the box
2 - then again click on s

[2020-08-12 13:17] macjohnny commented on #253
you can prevent resetting the options to the initial list by
[code]

https://stackblitz.com/edit/github-d1yhjs?file=src/app/examples/08-infinite-scroll-example/infinite-scroll-example.component.ts

I will update the example

[2020-08-12 13:22] macjohnny commented on #253
@NitinMagdum Thanks for reporting this issue

[2020-08-12 13:30] macjohnny commented on #253
unfortunately, #254 broke the search functionality, so I will fix the example

[2020-08-18 09:35] aminsmartsenese opened #256 "In latest angular and material version placeholderLabel not showing"
"@angular/material": "^10.1.3",
"@angular/cli": "~10.0.6"

If mat-form-field with [floatLabel]="'never'" this property.

[2020-08-18 09:53] macjohnny commented on #256
@aminsmartsenese thanks for reporting the issue.
would you like to find a fix?

[2020-08-18 10:03] aminsmartsenese commented on #256
Thank you @macjohnny

Yes looking solution for that.
If mat-form-field with [floatLabel]="'never'" this property on that time issue is coming.